<p style="color: #33042F;">
    Ваш каркасный дом под ключ с мебелью и сантехникой за <strong>10 000 руб. за 1 м<sup>2</sup></strong>.<br />
    Варианты отделки дома вы можете выбрать, <strong>отправив заявку прямо сейчас</strong>.<br />
    Станьте нашим клиентом сегодня и мы <strong>бесплатно</strong> сделаем дизайн-проект Вашего будущего дома!<br />
<h2>Строим дома по каркасной технологии уже более 7 лет!</h2>
</p>

<h2> КАРКАСНЫЕ ДОМА НОВОГО ПОКОЛЕНИЯ</h2>
<ul>
    <li>70% Вашего дома производиться и хранится на нашем складе.</li>
    <li>Мы доставляем домокомплект в Ваш регион на Ваш участок.</li>
    <li>Конструктивный метод сборки по технологии, разработанной нами.</li>
    <li>Дом под ключ за 1,5 месяца *
        *  для дома в стандартной комплектации на участке клиента</li>
    <li>Цена от 12 000,00 рублей за 1 м2</li>
    <li>Помощь в финансировании:
        <ul><li>Материнский капитал</li>
            <li>Ипотека</li>
            <li>Военный сертификат</li>
            <li>Кредит</li>
        </ul>
