/* font-family: "IntroRustG"; */
@font-face {
    font-family: "IntroRustG";
    src: url("../fonts/IntroRustG-Base.otf");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "GothamProItalic"; */
@font-face {
    font-family: "GothamProItalic";
    src: url("../fonts/GothamProItalic.ttf");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "GothamProLightItalic"; */
@font-face {
    font-family: "GothamProLightItalic";
    src: url("../fonts/GothamProLightItalic.ttf");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "GothamProRegular"; */
@font-face {
    font-family: "GothamProRegular";
    src: url("../fonts/GothamProRegular.ttf");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "GothamProMediumItalic"; */
@font-face {
    font-family: "GothamProMediumItalic";
    src: url("../fonts/GothamProMediumItalic.ttf");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "GothamProBold"; */
@font-face {
    font-family: "GothamProBold";
    src: url("../fonts/GothamProBold.ttf");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "GothamProBoldItalic"; */
@font-face {
    font-family: "GothamProBolditalic";
    src: url("../fonts/GothamProBoldItalic.ttf");
    font-style: normal;
    font-weight: normal;
}