@media screen and (min-width: 1840px) {
    .franchise .header .main-content .decor-line {
        display: block;
    }
}

@media screen and (max-width: 1845px) {
    .franchise .franchise-will-work .types-consumers .right-column {
        max-width: 100%;
    }
    .franchise .franchise-will-work .types-consumers .right-column .tabs .tab-content .tab-pane {
        background-size: cover;
    }
}

@media screen and (max-width: 1814px) {
    .franchise .block-partnership .info .description .right-column {
        display: block;
        float: none;
        margin: auto;
    }
}

@media screen and (max-width: 1740px) {
    .franchise .block-faq .desk {
        background-image: none;
        max-width: 100%;
        height: auto;
        min-height: 300px;
    }
}

@media screen and (max-width: 1728px) {
    .franchise .block-faq {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }
}

@media screen and (min-width: 1600px) {
    .franchise .block-guarantee {
        min-height: 692px;
    }
}

@media screen and (max-width: 1596px) {
    .franchise .first-screen .block-start-description:after {
        display: none;
    }
}

@media screen and (max-width: 1580px) {
    .franchise .main-content .group {
        left: 0;
    }
}

@media screen and (max-width: 1488px) {
    .franchise .block-guarantee:after {
        display: none;
    }

    .franchise .eight-reasons .desk {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .franchise .eight-reasons .desk .title {
        bottom: 0;
        right: 0;
        padding: 15px 0 15px 0;
    }

    .franchise .eight-reasons .desk .title h2 {
        line-height: normal;
    }

    .franchise .eight-reasons .desk .first-column {
        bottom: 0;
    }
}

@media screen and (max-width: 1459px) {
    .franchise .menu {
        margin: auto;
    }
}

@media screen and (max-width: 1100px) {
    .franchise .eight-reasons .desk .column {
        max-width: 100% !important;
    }
}

@media screen and (max-width: 1280px) {
    .franchise .first-screen .title {
        bottom: 0;
    }

    .franchise .first-screen .block-start-description {
        padding: 0 15px;
    }

    .franchise .first-screen .block-start-description:before {
        display: none;
    }

    .franchise .first-screen .block-start-description p {
        padding: 0;
        bottom: 0;
    }

    .franchise .first-screen .block-start-description p:before {
        display: none;
    }

    .franchise .eight-reasons .desk .title {
        width: 100%;
    }

    .franchise .eight-reasons .desk .column {
        max-width: 50%;
    }

    .franchise .block-reviews .main-content .tabs .desk {
        background-image: none;
    }

    .franchise .block-reviews .main-content .tabs .desk .tab-pane {
        padding: 40px 15px 15px 160px;
    }

    .franchise .block-reviews .main-content .tabs .desk .reviewer {
        left: 0;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .franchise .block-reviews .main-content .tabs .nav-tabs {
        right: inherit;
        padding: 0 0 0 10px;
        top: 172px;
    }
}

@media screen and (max-width: 1235px) {
    .franchise .franchise-will-work .opening-plan .left-column {
        width: 100%;
    }

    .franchise .franchise-will-work .opening-plan .left-column .gradient-text {
        margin: 20px 0;
        padding: 0 15px;
    }

    .franchise .franchise-will-work .opening-plan .right-column {
        width: 100%;
    }
}

@media screen and (max-width: 1050px) {
    .franchise .block-faq .desk {
        background-image: none;
    }

    .franchise .block-faq .desk .navs .nav-tabs:after {
        display: none;
    }
}

@media screen and (max-width: 1079px) {
    .franchise .block-guarantee .main-content .navs {
        background-image: none;
    }
}

@media screen and (max-width: 1065px) {
    .franchise .block-guarantee .main-content .navs .nav-tabs {
        max-width: 615px;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: auto;
    }
}

@media screen and (min-width: 769px) and (max-width: 1065px) {
    .franchise .block-guarantee {
        background-position: 0, 0, right;
        background-size: cover, 100%, 0;
    }
}

@media screen and (max-width: 961px) {
    .franchise .block-result .content>p br {
        display: none;
    }
}

@media screen and (max-width: 953px) {
    .franchise .block-result .content .figures-container {
        padding: 65px 0 50px 0;
        margin-bottom: 40px;
        max-width: 738px;
    }

    .franchise .block-result .content .figures-container .figures .btn-send-application {
        margin-top: 9px;
    }
}

@media screen and (max-width: 950px) {
    .franchise .form-position-block .forma {
        position: relative;
        top: 0;
    }

    .franchise .footer {
        min-height: 50px;
        height: auto;
    }
}

@media screen and (min-width: 850px) {
    .franchise .modal-dialog {
        max-width: 800px;
        width: 100%;
    }
    .franchise .modal-dialog .modal-body form .forma {
        margin-left: 270px;
    }
}

@media screen and (max-width: 849px) {
    .franchise .modal-dialog .modal-body form input[type=tel], .franchise .modal-dialog .modal-body form input[type=text] {
        margin: 10px auto;
    }
}

@media screen and (min-width: 840px) and (max-width: 925px) {
    .franchise .form-position-block .forma form textarea {
        max-width: 525px !important;
    }
}

@media screen and (max-width: 832px) {
    .franchise .modal-dialog .modal-body form .forma {
        margin-left: 0;
    }
    .franchise .modal-dialog .modal-body form input[type="text"] {
        margin: 10px auto;
    }
    .franchise .modal-dialog .modal-body form .forma .form-group {
        text-align: center;
    }
}

@media screen and (min-width: 769px) and (max-width: 1670px){
    .franchise .block-partnership {
        padding: 90px 0 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1235px) {
    .franchise .franchise-will-work .types-consumers {
        padding: 0 0 40px;
    }
}

@media screen and (min-width: 768px) and (max-width: 840px) {
    .franchise .form-position-block .forma form textarea {
        max-width: 451px;
    }
}

@media screen and (min-width: 768px) {
    .franchise .form-position-block .forma form .inputs {
        margin-right: 15px;
    }
}

@media screen and (max-width: 768px) {
    .franchise .breadcrumd {
        display: none;
    }

    .franchise .block-result {
        padding: 0 0 45px;
    }

    .franchise .block-result .content .figures-container .figures .cell {
        max-width: 245px;
    }

    .franchise .franchise-will-work .types-consumers {
        padding: 0 0 10px;
    }

    .franchise .franchise-will-work .types-consumers .left-column .title {
        left: 0;
        padding: 0 15px 0;
    }

    .franchise .franchise-will-work .opening-plan .right-column ol li p {
        padding: 0 15px;
    }

    .franchise .franchise-will-work .grafic {
        padding: 20px 15px 25px 15px;
    }

    .franchise .block-faq .title {
        padding: 0 15px;
    }

    .franchise .block-faq .desk {
        padding: 0 15px 15px;
        height: auto;
    }

    .franchise .eight-reasons {
        padding: 0;
    }

    .franchise .block-partnership {
        padding: 0;
    }

    .franchise .block-partnership .package-composition .block-desctop {
        display: none;
    }

    .franchise .block-partnership .package-composition .block-mobile {
        display: block;
    }

    .franchise .block-partnership .info .packages .nav-packages {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 0;
    }

    .franchise .block-partnership .info .packages .nav-packages li {
        padding: 0 15px;
    }

    .franchise .block-partnership .info .description .left-column {
        display: block;
        margin: auto;
    }

    .franchise .block-partnership .info .description .left-column .string {
        padding: 0;
    }

    .franchise .block-partnership .info .description .right-column {
        padding: 15px;
    }

    .franchise .block-partnership .info .description .right-column:after {
        top: 15px;
    }

    .franchise .block-reviews {
        padding: 0;
    }

    .franchise .block-reviews .main-content .title {
        line-height: initial;
        padding: 0 15px;
    }

    .franchise .main-content .group {
        max-width: inherit;
    }

    .franchise .main-content .menu ul li:hover a {
        padding-bottom: 10px;
    }

    .franchise .main-content .menu ul li:hover ul {
        border-radius: 0;
    }

    .franchise .block-guarantee {
        padding: 10px 0;
        background-position: 680px, 0, right;
        background-size: 78%, 100%, 0;
    }

    .franchise .block-guarantee .main-content .block-desctop {
        display: none;
    }

    .franchise .block-guarantee .main-content .block-mobile {
        display: block;
    }

    .franchise .block-guarantee .main-content .block-mobile .well {
        background-color: transparent;
        border: none;
    }

    .franchise .block-guarantee .main-content p {
        font-size: 17px;
    }

    .franchise .first-screen .block-start {
        max-height: 900px;
    }

    .franchise .header .navbar-header {
        width: 100%;
        padding-bottom: 15px;
    }

    .franchise .header .navbar-header .logo {
        float: left;
    }

    .franchise .header .menu {
        width: 100%;
    }

    .franchise .header .menu .custom-caret {
        float: right;
    }

    .franchise .block-history {
        padding: 45px 15px;
    }
}

@media screen and (max-width: 767px) {
    .franchise .block-result .content .figures-container {
        background-image: none;
        padding: 65px 0 0 0;
    }

    .franchise .main-content .menu ul li ul {
        background-color: rgba(106, 106, 106, 0);
    }

    .franchise .block-result .content .figures-container .figures .btn-send-application-block {
        width: 100%;
        display: block;
        margin: auto;
        background-image: -webkit-gradient(linear, left bottom, left top, from(#FF9600), to(#FF9600));
        background-image: -webkit-linear-gradient(bottom, #FF9600, #FF9600);
        background-image: -o-linear-gradient(bottom, #FF9600, #FF9600);
        background-image: linear-gradient(to top, #FF9600, #FF9600);
        background-position: 0, center;
        background-repeat: no-repeat;
        background-size: 100% 8px;
    }

    .franchise .block-result .content .figures-container .figures .btn-send-application-block .btn-send-application {
        display: block;
        margin: auto;
        background-color: rgb(255, 150, 2);
        color: rgb(255, 255, 255);
    }

    .franchise .form-position-block .forma form .inputs {
        max-width: 646px;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .franchise .block-partnership .info .description .left-column .string .money {
        text-align: left;
        padding-bottom: 25px;
    }
}

@media screen and (max-width: 736px) {
    .franchise .franchise-will-work .types-consumers .right-column {
        max-height: 250px;
    }

    .franchise .franchise-will-work .types-consumers .right-column .tabs .tab-content .tab-pane {
        padding: 75px 40px 75px !important;
        height: inherit;
    }
}

@media screen and (max-width: 720px) {
    .franchise .block-history .radial-cell .signature {
        height: 100px;
        position: absolute;
        opacity: .3;
        top: 201px;
        left: 35px;
    }
}

@media screen and (max-width: 684px) {
    .franchise .eight-reasons .desk {
        padding: 0 15px 25px;
    }

    .franchise .eight-reasons .desk .title h2 {
        font-size: 47px;
    }

    .franchise .eight-reasons .desk .title h2 .figure {
        font-size: 80px;
    }

    .franchise .eight-reasons .desk .title .text {
        font-size: 24px;
        color: #989B98;
    }

    .franchise .form-position-block .forma form .btn-purple {
        margin-top: 22px;
        margin-bottom: 15px;
        top: 0;
    }
}

@media screen and (max-width: 640px) {
    .franchise .block-reviews .main-content .tabs .nav-tabs {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        top: auto;
        bottom: 15px;
        width: auto;
        position: relative;
    }

    .franchise .block-reviews .main-content .tabs .nav-tabs li {
        width: 39px;
        margin: auto;
    }

    .franchise .block-reviews .main-content .tabs .nav-tabs li p {
        display: none;
    }

    .franchise .block-reviews .main-content .tabs .desk .tab-pane {
        padding: 0 15px;
    }

    .franchise .block-reviews .main-content .tabs .desk .reviewer .reviewer-info {
        padding: 0;
    }
}

@media screen and (max-width: 591px) {
    .franchise .block-faq .title h2 {
        font-size: 35px;
        line-height: 48px;
    }

    .franchise .block-faq .title h2 span {
        font-size: 48px;
    }
}

@media screen and (max-width: 560px) {
    .franchise .footer .main-content .copiright {
        display: block;
        text-align: center;
    }
    .franchise .footer .main-content .company-development {
        display: block;
        float: none;
        text-align: center;
    }
}

@media screen and (max-width: 509px) {
    .franchise .form-position-block .forma form .inputs {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-bottom: 15px;
    }

    .franchise .form-position-block .forma form .inputs input {
        width: 100%;
    }

    .franchise .first-screen .title {
        font-size: 27px;
        line-height: 37px;
    }

    .franchise .first-screen .block-start-description p {
        font-size: 20px;
    }

    .franchise .first-screen .block-start-description p span {
        line-height: 45px;
        font-size: 38px;
    }

    .franchise .block-guarantee .main-content .title {
        font-size: 32px;
    }

    .franchise .franchise-will-work .types-consumers {
        padding: 0 0 15px;
    }

    .franchise .franchise-will-work .opening-plan .left-column .gradient-text {
        font-size: 23px;
        margin: 0;
    }

    .franchise .franchise-will-work .opening-plan .right-column ol li:before {
        float: none;
    }

    .franchise .franchise-will-work .opening-plan .right-column ol li h5:after {
        left: 0;
    }

    .franchise .eight-reasons .desk .column ol li:before {
        top: 0;
    }

    .franchise .block-partnership .info .description .left-column .string {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        line-height: 25px;
    }

    .franchise .block-partnership .info .description .left-column .string .money {
        padding: 0 15px 15px;
    }
}

@media screen and (max-width: 490px) {
    .franchise .eight-reasons .desk .column ol li {
        display: table;
    }

    .franchise .eight-reasons .desk .column ol li:before {
        display: table-cell;
    }

    .franchise .eight-reasons .desk .column ol li p {
        padding: 15px;
    }
}

@media screen and (max-width: 485px) {
    .franchise .block-partnership .package-composition .package-composition-row .cell {
        width: 152px;
    }

    .franchise .block-partnership .package-composition .package-composition-row .cell .description {
        font-size: 13px;
    }
}

@media screen and (max-width: 416px) {

    .franchise .franchise-will-work .types-consumers {
        padding: 0 0 15px;
    }

    .franchise .franchise-will-work .opening-plan .left-column .gradient-text {
        font-size: 23px;
        margin: 0;
    }

    .franchise .block-partnership .block-header .title {
        font-size: 36px;
    }

    .franchise .franchise-will-work .types-consumers .left-column .navs .nav-tabs li {
        padding: 0 15px;
    }

    .franchise .franchise-will-work .types-consumers .left-column .navs .nav-tabs li:before {
        display: none;
        padding: 0 15px;
    }

    .franchise .franchise-will-work .types-consumers .right-column {
        max-height: 280px;
    }

    .franchise .franchise-will-work .types-consumers .right-column .tabs .tab-content .tab-pane {
        padding: 30px 40px 0;
    }

    .franchise .franchise-will-work .opening-plan .left-column .gradient-text {
        line-height: 35px;
    }

    .franchise .block-faq .desk .navs .nav-tabs li {
        width: 35px;
    }

    .franchise .block-reviews .main-content .title {
        font-size: 46px;
        line-height: 48px;
    }

    .franchise .block-reviews .main-content .tabs .desk .reviewer .photo-reviewer {
        margin: auto;
    }

    .franchise .block-reviews .main-content .tabs .desk .reviewer .reviewer-info {
        margin: auto;
        text-align: center;
    }

    .franchise .form-position-block .forma form textarea {
        max-height: 85px;
    }
}

@media screen and (max-width: 400px) {
    .franchise .main-content .group {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .franchise .franchise-will-work .opening-plan .right-column ol {
        padding: 0 25px;
    }
}

@media screen and (max-width: 394px) {
    .franchise .block-faq .title p a:after {
        display: none;
    }

    .franchise .block-partnership .package-composition .send-application {
        top: 18px;
        position: relative;
    }

    .franchise .block-partnership .package-composition .send-application .btn-send-application {
        max-width: 215px;
        font-size: 20px;
    }
}

@media screen and (max-width: 375px) {
    .franchise .block-result .content .sub-block-advantages .cell .cell-title {
        font-size: 27px;
    }

    .franchise .block-faq .title {
        padding: 0;
    }

    .franchise .block-faq .title h2 {
        font-size: 31px;
        line-height: 32px;
    }

    .franchise .block-faq .title h2:before {
        top: 65px;
    }

    .franchise .block-faq .title h2 span {
        font-size: 46px;
    }

    .franchise .block-faq .desk .question {
        font-size: 20px;
    }
}
