@media screen and (max-width: 1873px) {
    .pages .block-page-container .content-block {
        padding: 158px 15px 0;
    }

    .pages .block-page-container .content-block .content .img-block {
        -webkit-box-pack: space-evenly;
        -webkit-justify-content: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
    }

    .pages .block-page-container .right-sidebar {
        max-width: 280px;
    }
}

@media screen and (max-width: 1865px) {
    .pages .page-project-detail .project-info-detail .info-project-tabs {
        max-width: 614px;
    }
}

@media screen and (max-width: 1820px) {
    .pages .block-page-container .left-sidebar ul {
        padding: 0 15px 0 25px;
    }
}

@media screen and (max-width: 1812px) {
    .pages .page-catalog .left-sidebar-container {
        z-index: 1035;
    }
    .pages .page-catalog .left-sidebar-container .left-sidebar {
        max-width: 242px;
        padding: 0 15px 0 15px;
        left: -255px;
        background-color: #FFFFFF;
        position: fixed;
        z-index: 6;
        top: 0;
        bottom: 0;
    }

    .pages .page-catalog .left-sidebar-container .catalog-content {
        float: none;
        max-width: 1380px;
        margin: auto;
    }

    .pages .page-catalog .left-sidebar-container .left-sidebar-button {
        left: 0;
        top: 34%;
        position: fixed;
        background-color: #FF9600;
        height: 36px;
        width: 26px;
        border-radius: 0 5px 5px 0;
        -webkit-box-shadow: -7px 4px 6px 0 rgba(0, 0, 0, 0.24);
        box-shadow: -7px 4px 6px 0 rgba(0, 0, 0, 0.24);
        cursor: pointer;
        z-index: 1031;
        -webkit-transform-origin: right;
        -ms-transform-origin: right;
        transform-origin: right;
        -webkit-transition: 0.48s;
        -o-transition: 0.48s;
        transition: 0.48s;
        display: table;
        padding-bottom: 2px;
    }

    .pages .page-catalog .left-sidebar-container .left-sidebar-button .fa {
        display: table-cell;
        vertical-align: middle;
        font-size: 23px;
        color: #810C74;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        padding-top: 4px;
    }

    .pages .page-catalog .left-sidebar-container .left-sidebar-button .fa:before {
        margin-left: 5px;
    }

    .pages .page-catalog .left-sidebar-container .left-sidebar {
        top: 0px;
        float: none;
        right: 100%;
        background-color: #fff;
        z-index: 1031;
        -webkit-box-shadow: 0 0 15px 0;
        box-shadow: 0 0 15px 0;
        margin-top: 0;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        left: -248px;
    }

    .pages .page-catalog [id='toggle-left-menu']:checked ~ .left-sidebar {
        left: 0;
    }

    .pages .page-catalog [id='toggle-left-menu']:checked ~ .left-sidebar-button {
        top: 50px;
        left: 242px;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
    }

    .pages .page-catalog [id='toggle-left-menu']:checked ~ .left-sidebar-button .fa {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
}

@media screen and (max-width: 1700px) {
    .pages .page-project-detail .project-detail-page-header {
        padding: 0 15px;
    }
}

@media screen and (max-width: 1675px) {
    .pages .block-page-container {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .pages .block-page-container .right-sidebar {
        max-width: inherit;
        padding-left: 365px;
        padding-top: 15px;
    }

    .pages .block-page-container .right-sidebar .title {
        width: 100%;
    }

    .pages .block-page-container .right-sidebar .cell {
        max-width: 230px;
        margin-right: 15px;
    }
}

@media screen and (max-width: 1675px) {
    .menu {
        margin: auto;
    }
}

@media screen and (min-width: 1580px) and (max-width: 1645px){
    .header .main-content .menu {
        max-width: calc(100% - 340px);
    }
}

@media screen and (min-width: 1415px) and (max-width: 1579px){
    .header .main-content .menu {
        max-width: calc(100% - 250px);
    }
}

@media screen and (min-width: 1360px) and (max-width: 1414px){
    .header .main-content .menu {
        max-width: calc(100% - 198px);
    }
}

@media screen and (min-width: 1360px) and (max-width: 1488px){
    .header .main-content .group {
        max-width: 393px;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1365px) {
    .header .logo {
        width: 150px;
        background-size: contain;
    }
    .header .main-content .menu {
        max-width: calc(100% - 185px);
    }
}

@media screen and (min-width: 1280px) and (max-width: 1359px) {
    .header .main-content .group .call-number a {
        font-size: 13px;
    }

    .header .main-content .group .call-number {
        padding-top: 4px;
    }

    .header .main-content .group {
        max-width: 355px;
    }
}

@media screen and (min-width: 1366px) and (max-width: 1359px) {
    /*header .navbar-nav {*/
        /*max-width: 465px;*/
    /*}*/
    .header .main-content .menu {
        max-width: calc(100% - 250px);
    }
}

@media screen and (min-width: 1646px){
    .header .main-content .menu {
        max-width: 1395px;
    }
    .header .main-content .menu ul .open ul, .header .main-content .menu ul li:hover ul  {
        width: max-content;
    }
    header .header .main-content .menu li .dropdown-toggle {
        display: inline-block;
    }
}

@media screen and (min-width: 1500px) and (max-width: 1645px){
    header .header .main-content .menu li a {
        padding: 10px 10px;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1665px) {
    header .header .main-content .menu li a {
        padding: 10px 11px;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1310px) {
    header .header .main-content .menu li a {
        padding: 10px 8px;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1645px){  header .header .main-content .menu li a {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        max-height: 48px;
    }

    header .header .main-content .menu li a .menu-img {
        width: 28px;
        height: 28px;
        transition: 0.2s;
        /*background-image: url("../svg/menu-1.svg");*/
        background-repeat: no-repeat;
        background-position: center;
    }

    header .header .main-content .menu li a span {
        max-width: 65px;
        padding: 0 0 0 6px;
        line-height: 16px;
    }

    header .header .main-content .menu li a {
        font-size: 10px;
        font-family: gothamprobold;
    }

    header .header .main-content .menu ul li ul a li {
        width: 100%;
    }

    header .header .main-content .menu li ul a {
        font-size: 13px;
        padding: 0;
    }

    .header .main-content .menu .active a {
        font-size: 12px;
        padding-top: 14px;
    }

    .header .main-content .menu ul .open ul, .header .main-content .menu ul li:hover ul  {
        width: inherit;
    }
}

@media screen and (min-width: 1280px) {
    .header .navbar-toggle {
        display: none;
    }
    .header .navbar-collapse.collapse {
        display: block;
    }
    .menu .collapse>ul .dropdown:hover > .dropdown-menu {
        display: block;
    }
    .header .main-content .menu {
        /*max-width: 1400px;*/
        width: 100%;
    }
    header .navbar-nav {
        float: right;
    }
    header .header .open>.dropdown-menu {
        display: none;
    }
}

@media screen and (max-width: 1279px) {
    .header .navbar-toggle {
        display: block !important;
    }
    header .main-content .navbar-toggle {
        margin-right: 0;
    }
    .header .navbar-collapse.collapse {
        display: none !important;
    }
    .header .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header {
        width: 100%;
    }
    .navbar-nav>li {
        float: none;
    }
    .header .main-content .menu {
        width: 100%;
    }
    .header .main-content .menu ul li ul {
        width: 100%;
        position: relative;
        margin-bottom: 20px;
    }
    .header .main-content .group {
        display: block;
        float: none;
        margin: auto;
    }
    .navbar-nav {
        width: 100%;
    }
    .about-page header .header {
        background-color: rgba(0, 0, 0, 0.75);
    }
    .header .main-content .menu ul .open ul {
        padding: 0 15px;
        border-top: 2px solid rgb(255, 150, 2);
    }
     header .main-content .menu .navbar-hide {
        border-bottom: 1px solid rgba(215, 215, 215, 0.1);
    }
    header .header,
    header .navbar-nav {
        padding: 0 15px;
    }
    header .header .main-content .menu ul .open:after, header .header .main-content .menu ul li:hover:after {
        display: none;
    }
    header .header .main-content .menu li a {
        padding: 10px 0;
    }
}

@media screen and (max-width: 1650px) {
    .pages .page-project-detail .project-info-detail {
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        padding-right: 65px;
    }

    .pages .page-project-detail .project-info-detail .info-project {
        padding: 0 15px 0 30px;
        max-width: 525px;
    }

    .pages .page-project-detail .project-info-detail .info-project-tabs {
        max-width: 100%;
    }
}

@media screen and (max-width: 1470px){
    .page-catalog .catalog-content {
        float: none;
    }
}

@media screen and (max-width: 1459px) {
    .pages .menu {
        margin: auto;
    }

    .pages .block-page-container .left-sidebar {
        max-width: 285px;
    }

    .pages .block-page-container .content-block {
        margin-left: 295px;
    }
}

@media screen and (min-width: 1447px) {
    .pages .page-contacts .map-content .map {
        max-width: 53%;
        height: calc(100vh - 50px);
    }
    .pages .page-contacts .map-content .contacts {
        top: 82px;
    }
    .pages .page-contacts .map-content ::-webkit-scrollbar-button {
        width: 5px;
        height: 0;
    }

    .pages .page-contacts .map-content ::-webkit-scrollbar-track {
        background-color: transparent; }

    .pages .page-contacts .map-content ::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: #B3B8B3;
    }

    .pages .page-contacts .map-content ::-webkit-scrollbar-thumb:hover {
        background-color: #ffb74f; }

    .pages .page-contacts .map-content ::-webkit-resizer {
        width: 4px;
        height: 0; }

    .pages .page-contacts .map-content ::-webkit-scrollbar {
        width: 10px; }

}

@media screen and (max-width: 1447px) {
    .pages .page-contacts .map-content .copiright {
        position: relative;
        padding-top: 30px;
    }
}

@media screen and (min-width: 585px) {
    .pages .page-contacts .map-content {
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 1446px) {
    .pages .page-contacts .map-content .map {
        height: 100vh;
    }

    .pages .page-contacts .map-content .contacts {
        position: relative;
        width: 100%;
        padding: 15px;
        bottom: 0;
    }

    .contact-page header {
        position: relative;
        box-shadow: none;
    }
}

@media screen and (min-width: 1356px) and (max-width: 1429px) {
    .pages .block-page-container .left-sidebar {
        padding-top: 25px;
    }

    .pages .block-page-container .content-block {
        padding: 205px 15px 0;
    }
}

@media screen and (max-width: 1370px) {
    .pages .page-catalog .catalog-content .catalog-cells {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: -webkit-flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

@media screen and (max-width: 1344px){
    .page-index .screen-one .action-block .action {
        display: none;
    }
}

@media screen and (max-width: 1175px) {
    .page-index .screen-stages .stages {
        max-width: 700px;
    }
}

@media screen and (min-width: 1001px) and (max-width: 1657px) {
    .pages .block-page-container .content-block {
        padding: 215px 15px 0;
    }
}

@media screen and (min-width: 769px) and (max-width: 1000px){
    .page-catalog {
        padding-top: 0;
    }
}

@media screen and (max-width: 1355px) {
    .about-page header .breadcrumd {
        background: transparent;
        position: absolute;
    }

    .left-sidebar-container {
        z-index: 1035 !important;
    }

    .pages header .search-block {
        background-color: #fff;
        padding: 0 25px 5px;
        -webkit-box-shadow: 0 11px 25px 0 white;
        box-shadow: 0 11px 25px 0 white;
    }

    .pages .block-page-container .left-sidebar-container .left-sidebar-button {
        left: 0;
        top: 34%;
        position: fixed;
        background-color: #FF9600;
        height: 36px;
        width: 26px;
        border-radius: 0 5px 5px 0;
        -webkit-box-shadow: -7px 4px 6px 0 rgba(0, 0, 0, 0.24);
        box-shadow: -7px 4px 6px 0 rgba(0, 0, 0, 0.24);
        cursor: pointer;
        z-index: 1031;
        -webkit-transform-origin: right;
        -ms-transform-origin: right;
        transform-origin: right;
        -webkit-transition: 0.46s;
        -o-transition: 0.46s;
        transition: 0.46s;
        display: table;
    }

    .pages .block-page-container .left-sidebar-container .left-sidebar-button .fa {
        display: table-cell;
        vertical-align: middle;
        font-size: 23px;
        color: #810C74;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
    }

    .pages .block-page-container .left-sidebar-container .left-sidebar-button .fa:before {
        margin-left: 5px;
    }

    .pages .block-page-container .left-sidebar-container .left-sidebar {
        top: 0;
        bottom: 0;
        float: none;
        right: 100%;
        background-color: #fff;
        z-index: 1031;
        -webkit-box-shadow: 0 0 15px 0;
        box-shadow: 0 0 15px 0;
        margin-top: 0;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        left: -295px;
    }

    .pages .block-page-container .content-block {
        margin-left: 0;
        max-width: 100%;
    }

    .pages .block-page-container .right-sidebar {
        margin-left: 0;
        padding: 0 25px 15px;
    }

    .pages .block-page-container [id='toggle-left-menu']:checked ~ .left-sidebar {
        left: 0;
    }

    .pages .block-page-container [id='toggle-left-menu']:checked ~ .left-sidebar-button {
        top: 50px;
        left: 285px;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
    }

    .pages .block-page-container [id='toggle-left-menu']:checked ~ .left-sidebar-button .fa {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }

    .pages .left-sidebar-button .icon-bar {
        width: 28px;
        -webkit-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
        margin: auto;
    }

    .pages .left-sidebar-button .icon-bar {
        background-color: #810C74;
        display: block;
        height: 2px;
        margin: auto;
        margin-bottom: 6px;
        position: relative;
        top: 8px;
    }

    .pages [id='toggle-left-menu']:checked ~ .left-sidebar-button .icon-bar {
        left: 3px;
    }

    .pages .left-sidebar-button .icon-bar {
        width: 28px;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }

    .pages .left-sidebar-button .top-bar {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transform-origin: 10% 10%;
        -ms-transform-origin: 10% 10%;
        transform-origin: 10% 10%;
    }

    .pages .left-sidebar-button .middle-bar {
        opacity: 0;
    }

    .pages .left-sidebar-button .bottom-bar {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transform-origin: 10% 90%;
        -ms-transform-origin: 10% 90%;
        transform-origin: 10% 90%;
    }

    .pages .left-sidebar-button .top-bar {
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0);
    }

    .pages .left-sidebar-button .middle-bar {
        opacity: 1;
    }

    .pages .left-sidebar-button .bottom-bar {
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0);
    }
}

@media screen and (max-width: 1019px) {
    .pages .page-project-detail .project-info-detail .info-project {
        padding: 0;
        display: block;
    }
}

@media screen and (min-width: 1023px) and (max-width: 1079px) {
    .pages .page-technology .content-block .img-block .image {
        width: 525px;
    }
}

@media screen and (max-width: 1023px) {
    .pages .block-page-container .content-block .content {
        padding: 15px 0 15px 0px;
    }
}

@media screen and (max-width: 1279px) {
    .pages .page-project-detail .project-detail-page-header .block-name {
        margin: auto;
    }

    .pages .page-project-detail .project-detail-page-header .next, .pages .page-project-detail .project-detail-page-header .prev {
        position: absolute;
        bottom: 70px;
    }

    .pages .page-project-detail .project-detail-page-header .next {
        right: 15px;
    }

    .pages .page-project-detail .project-detail-page-header .prev {
        left: 15px;
    }
}

@media screen and (min-width: 525px) and (max-width: 785px) {
    .pages .page-projects .sorting-block .block-filter .filter .group-dropdown .form-group {
        width: 48%;
    }
    .pages .page-projects .sorting-block .block-filter .filter .group-dropdown  .select {
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
    .pages .page-technology .content-block .img-block .image {
        width: 350px;
    }

    .pages .page-technology .content-block .img-block .image-group {
        max-width: 317px;
    }

    .pages .page-technology .content-block .img-block .image-group .image {
        width: 100%;
    }

    .pages .page-technology .content-block .img-block .image-group .image-undergroup .image {
        width: 49%;
    }
}

@media screen and (max-width: 1000px) {
    .pages header {
        position: relative;
        z-index: 2;
    }

    .page-projects {
        margin-top: 0;
    }

    .pages .page-etaps {
        margin: 0 auto;
    }

    .about-page header {
        position: absolute;
    }

    .body-page-detail header .breadcrumd {
        position: absolute;
    }
    .pages .page-services, .pages .page-catalog {
        margin-top: 0;
    }
    .pages .block-page-container .content-block {
        padding: 45px 25px 0;
    }
}

@media screen and (max-width: 920px) {
    .body-page-detail header {
        position: relative;
    }
    .body-page-detail header .header {
        background-color: rgba(35, 35, 35, 0.85) !important;
    }
}

@media screen and (min-width: 768px) {
    .pages .page-etaps {
        padding-bottom: 45px;
    }
}

@media screen and (max-width: 768px) {
    .pages header .menu {
        width: 100%;
    }

    .pages header .menu .custom-caret {
        float: right;
    }

    .pages .block-page-container .left-sidebar {
        bottom: 0;
    }

    .page-catalog .catalog-content .catalog-cells .cell {
        margin: 25px auto;
    }

    .pages .block-page-container .content-block {
        padding: 45px 25px 0;
    }

    .pages .block-page-container .right-sidebar .cell {
        margin: 15px auto;
    }

    .pages .page-projects > .title {
        padding-top: 0px !important;
    }

    .pages .page-catalog {
        padding-top: 0;
    }

    .pages .page-project-detail {
        padding-bottom: 0;
    }

    .pages .page-project-detail .article-categories {
        padding: 0 15px;
    }

    .pages .page-project-detail .project-info-detail {
        padding-left: 15px;
        padding-right: 15px;
    }

    .pages .page-project-detail .project-info-detail .project {
        margin: auto;
    }

    .pages .page-project-detail .project-info-detail .bottom-menu .nav {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: -webkit-flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .pages .page-project-detail .project-detail-page-header {
        padding: 0;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .pages .page-project-detail .project-detail-page-header header {
        width: 100%;
        position: relative !important;
    }

    .pages .page-project-detail .project-detail-page-header .block-name {
        bottom: 95px;
        position: absolute;
        width: 100%;
    }
}

@media screen and (width: 768px) {
    .pages .block-page-container .left-sidebar-container .left-sidebar-button {
        top: 41%;
    }
}

@media screen and (max-width: 767px) {
    .pages .navbar-header {
        width: 100%;
    }

    .pages .description-project {
        padding: 15px 0 50px !important;
    }

    .pages .page-projects .sorting-block .sorting {
        margin: auto;
        padding: 30px 65px 15px;
    }

    .pages .navbar-header .logo {
        float: left;
    }

    .pages .bottom-menu .navbar-nav {
        margin: 7.5px 0;
    }

    .pages .page-technology .content-block .img-block .image-group .image {
        height: 263px;
    }

    .pages .page-technology .content-block .img-block .image-group .image-undergroup .image {
        height: 134px;
    }

    .pages .article-categories .bottom-menu, .pages .article-categories .content {
        padding: 15px 0 15px 0;
    }

    .pages .article-categories .bottom-menu .navbar-nav {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: -webkit-flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .page-index .header .main-content .group, .franchise .header .main-content .group, .pages .header .main-content .group {
        left: 0;
        margin: auto;
        float: none;
        display: table;
        padding: 10px 15px 0;
    }

    .navbar-nav {
        margin: 0;
    }

    .breadcrumd {
        display: none;
    }

    .header .main-content .menu .navbar-collapse {
        padding: 0;
        max-height: 370px !important;
    }

    .pages .search-block .search {
        width: 100%;
    }
}

@media screen and (max-width: 757px) {
    .contact-page .footer .main-content .ogrn {
        display: block;
    }
}

@media screen and (max-width: 680px) {
    .pages .page-project-detail .project-detail-page-header {
        background-size: auto 100% !important;
        background-position: center;
    }
}

@media screen and (min-width: 608px) and (max-width: 990px) {
    .pages .page-questions .content-block .content .img-block .image {
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 608px) and (max-width: 767px) {
    .pages .page-technology .content-block .image {
        margin-bottom: 15px;
    }

    .pages .page-technology .content-block .img-block .image {
        width: 600px;
    }

    .pages .page-technology .content-block .img-block .image-group {
        width: 600px;
    }

    .pages .page-technology .content-block .img-block .image-group .image-undergroup {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .pages .page-technology .content-block .img-block .image-group .image-undergroup .image {
        height: 125px;
    }

    .pages .page-technology .content-block .img-block .image-group {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }
}

@media screen and (max-width: 607px) {
    .pages .block-page-container .content-block .content .img-block {
        max-width: 370px;
        margin: auto;
    }

    .pages .block-page-container .content-block .content .img-block .image {
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 394px) and (max-width: 645px) {
    .pages .page-project-detail .project-info-detail .info-project-tabs .navs li a {
        padding: 10px 14px 10px 15px;
    }
}

@media screen and (max-width: 565px) {
    .pages .page-project-detail .slider-navs .slider-project-nav .slick-track .slick-slide {
        padding: 0 2px;
    }
}

@media screen and (max-width: 515px){
    .pages .block-page-container .right-sidebar {
        text-align: center;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 475px) {
    .pages .page-project-detail .project-detail-page-header .block-name .title {
        font-size: 38px;
    }

    .pages .page-project-detail .project-info-tabs .tabs .tab-content .tab-pane .block-floor-info .cell {
        max-width: 100%;
        margin: 0 !important;
        padding: 0 15px;
    }

    .pages .page-project-detail .project-detail-page-header .next, .pages .page-project-detail .project-detail-page-header .prev {
        width: 135px;
    }
}

@media screen and (min-width: 600px) {
    .page-index .content .desk-service-info {
        min-width: 560px;
    }
}

@media screen and (max-width: 584px){
    .pages .footer .main-content .copiright {
        display: block;
        text-align: center;
    }
    .pages .footer .main-content .company-development {
        float: none;
        display: block;
        text-align: center;
    }
    .pages .footer {
        position: relative;
    }
    .pages .article-categories {
        float: none;
    }
    .pages .page-services {
        padding: 0;
    }
    .pages .page-services .block-one .service-text {
        padding: 0 15px;
    }
    .contact-page .footer .main-content .ogrn {
        text-align: center;
    }
}

@media screen and (max-width: 455px){
    .pages .page-projects .sorting-block .block-filter .filter .group-dropdown {
        display: block;
    }
    .pages .page-projects .sorting-block .block-filter .filter .group-dropdown .form-group {
        width: 100%;
    }
    .pages .page-projects .sorting-block .block-filter .filter .group-dropdown  .select {
        width: 100%;
    }
}

@media screen and (min-width: 450px) and (max-width: 764px) {
    .pages .block-page-container .left-sidebar-container .left-sidebar-button {
        top: 36%;
    }
}

@media screen and (max-width: 425px){
    .page-catalog .catalog-content .catalog-cells .cell .info-block .icons .price {
        width: 100%;
        max-width: 100%;
        text-align: center;
        margin: 6px 0;
    }
    .page-catalog .catalog-content .catalog-cells .cell .info-block .icons .price p {
        font-size: 19px;
        line-height: 16px;
    }
    .pages .page-catalog .catalog-content .catalog-cells .cell .info-block .icons div {
        padding: 0 5px;
        display: inline-block;
    }
    .page-catalog .catalog-content .catalog-cells .cell .info-block {
        text-align: center;
    }
    .page-catalog .catalog-content .catalog-cells .cell .info-block .icons {
        display: block;
        padding: 5px 0 2px;
        font-size: 13px;
    }
}

@media screen and (max-width: 444px){
    .page-index .header .main-content .group .call-number, .pages .header .main-content .group .call-number, .franchise .header .main-content .group .call-number {
        display: block;
        margin: auto;
        text-align: center;
    }

    .page-index .header .main-content .group .city, .pages .header .main-content .group .city, .franchise .header .main-content .group .city {
        display: block;
        margin: auto;
        float: none;
    }
    .pages .block-page-container .content-block .content .forma form input {
        width: 210px;
    }
}

@media screen and (max-width: 400px) {
    .pages .main-content .group {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center !important;
        text-align: center;
    }

    .pages .block-page-container .left-sidebar-container .left-sidebar-button {
        top: 23%;
    }

    .pages .page-project-detail .project-info-detail .info-project p .parametr {
        width: 140px;
        margin-right: 58px;
    }

    .pages .page-project-detail .project-info-tabs .tabs .tab-content .tab-pane .info-desk p .parametr {
        max-width: 190px;
        width: auto;
        text-align: left;
    }
}

@media screen and (max-width: 399px) {
    .pages .page-project-detail .project-detail-page-header .next, .pages .page-project-detail .project-detail-page-header .prev {
        bottom: 33px;
    }

    .pages .page-project-detail .project-detail-page-header .block-name {
        bottom: 87px;
    }
}

@media screen and (max-width: 460px) {
    .pages .page-project-detail .project-info-detail .info-project-tabs .navs li {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 340px) {
    .pages [id='toggle-left-menu']:checked ~ .left-sidebar {
        left: -15px !important;
    }

    .pages [id='toggle-left-menu']:checked ~ .left-sidebar-button {
        left: 270px !important;
    }

    .pages .page-catalog [id='toggle-left-menu']:checked ~ .left-sidebar {
        left: 0 !important;
    }

    .pages .page-catalog [id='toggle-left-menu']:checked ~ .left-sidebar-button {
        left: 242px !important;
    }
}
