@media screen and (min-width: 1200px) {
    .menu ul li:hover .custom-caret {
        -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        transform: rotate(-180deg);
        -webkit-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;
    }
}

@media screen and (min-width: 1760px) {
    .page-index .screen-stages .main-content .content {
        margin: auto;
    }
}

@media screen and (max-width: 1760px) {
    .page-index .left-menu {
        display: none !important;
    }
}

@media screen and (min-width: 1552px) {
    .page-index .footer .main-content .forma .application, .page-index .calc .main-content .forma .application,
    .page-index .footer .main-content .forma .footer-field, .page-index .calc .main-content .forma .footer-field,
    .page-index .footer .main-content .copiright p, .page-index .calc .main-content .copiright p,
    .page-index .footer .main-content .zamanuha p {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1360px) and (max-width: 1629px) {
    .page-index .calc .foundation {
        max-width: 410px;
    }

    .page-index .calc .walls {
        max-width: 430px;
    }

    .page-index .calc .roof {
        max-width: 460px;
    }
}

@media screen and (max-width: 1446px){
    .contact-page .page-contacts .map-content .contacts .cells {
        max-width: inherit !important;
        display: block !important;
    }
}

@media screen and (min-width: 1301px) {
    .page-index .footer .main-content {
        padding: 0 15px;
    }
}

@media screen and (min-width: 1301px) and (max-width: 1505px){
    .page-index .footer .main-content .forma {
        margin: auto;
    }
}

@media screen and (min-width: 1261px) and (max-width: 1629px) {
    .page-index .calc {
        max-height: inherit !important;
    }
}

@media screen and (max-width: 1206px) {
    .page-index .calc .foundation, .page-index .calc .walls, .page-index .calc .roof {
        margin-bottom: 30px !important;
    }

    .page-index .calc {
        background-image: -webkit-radial-gradient(ellipse, #232323, #232323, #585b58);
        background-image: -o-radial-gradient(ellipse, #232323, #232323, #585b58);
        background-image: radial-gradient(ellipse, #232323, #232323, #585b58);
    }
}

@media (max-width: 991px) {
    .page-index .calc .walls:before, .page-index .calc .roof:before {
        display: none;
    }
    .page-index .calc .foundation, .page-index .calc .walls, .page-index .calc .roof {
        margin: auto;
        text-align: center;
    }
}

@media (max-width: 919px) {
    .page-index .calc .foundation {
        margin: auto;
        text-align: center;
    }

    .page-index .foundation:after {
        height: 2px;
        width: 100%;
        content: '';
        display: block;
        background-image: -webkit-gradient(linear, right top, left top, from(transparent), color-stop(rgba(255, 255, 255, 0.2)), to(transparent));
        background-image: -webkit-linear-gradient(right, transparent, rgba(255, 255, 255, 0.2), transparent);
        background-image: -o-linear-gradient(right, transparent, rgba(255, 255, 255, 0.2), transparent);
        background-image: linear-gradient(to left, transparent, rgba(255, 255, 255, 0.2), transparent);
    }

    .page-index .calc .walls {
        margin: auto;
        text-align: center;
    }

    .page-index .walls:after {
        height: 2px;
        width: 100%;
        content: '';
        display: block;
        background-image: -webkit-gradient(linear, right top, left top, from(transparent), color-stop(rgba(255, 255, 255, 0.2)), to(transparent));
        background-image: -webkit-linear-gradient(right, transparent, rgba(255, 255, 255, 0.2), transparent);
        background-image: -o-linear-gradient(right, transparent, rgba(255, 255, 255, 0.2), transparent);
        background-image: linear-gradient(to left, transparent, rgba(255, 255, 255, 0.2), transparent);
    }

    .page-index .calc .roof {
        margin: auto;
        text-align: center;
    }
}

@media screen and (max-width: 1300px) {
    .page-index header {
        position: absolute !important;
    }

    .page-index .footer {
        position: relative !important;
        opacity: 1;
        background-color: #232323;
        padding: 15px 15px 0;
    }

    .page-index .footer .forma {
        margin: auto;
    }

    .page-index .footer .want-a-discount, .page-index .footer .zamanuha, .page-index .footer .copiright {
        margin: auto;
        text-align: center;
    }

    .page-index .screen-fourth, .page-index .screen-five {
        padding: 15px 0;
        text-align: center;
    }
}

@media screen and (max-width: 1280px) {
    .page-index .calc {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: -webkit-flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .page-index .calc .main-content .copiright {
        display: none;
    }

    .page-index .calc .forma {
        margin: auto;
    }

    .page-index .hide-discount {
        display: none;
    }

    .page-index .want-a-discount {
        display: none !important;
    }

    .page-index .footer .zamanuha-desc {
        display: none !important;
    }

    .page-index .footer .forma-desc {
        display: none !important;
    }

    .page-index .footer .zamanuha-mobile {
        display: -webkit-box !important;
        display: -webkit-flex !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }

    .page-index .footer .zamanuha-mobile a {
        color: #ff9600;
        text-decoration: underline;
        font-size: 17px;
    }
}

@media screen and (max-width: 1280px) {
    .page-index .calc {
        position: relative;
        max-height: inherit;
        padding: 25px;
    }

    .page-index header .main-content {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

@media screen and (max-width: 1024px) {
    .page-index .block-special-offer {
        padding: 0 0 65px;
    }
    .page-index .screen-five .content {
        padding-bottom: 25px;
    }
}

@media screen and (max-width: 982px) {
    .page-index .forma {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin: auto;
    }
}

@media screen and (max-width: 785px) {
    .page-index .calc .forma {
        text-align: center;
    }
    .page-index .calc {
        padding: 25px 0;
    }
}

@media screen and (max-width: 647px){
    .page-index .screen-five .photo-instagram .block-photo {
        display: block;
        margin: 14px auto;
    }
}

@media screen and (max-width: 600px) {
    .page-index .calc .main-content .forma {
        max-width: 327px;
    }
    .page-index .calc .forma .title-mounth {
        display: none;
    }
}

@media screen and (max-width: 769px) {
    .page-index .screen-stages .main-content .content .stages-img {
        display: none;
    }
}

@media screen and (min-width: 769px) {
    .page-index .screen-stages {
        padding-top: 50px;
    }

    .page-index .screen-stages .main-content .content {
        display: block;
    }

    .page-index .screen-stages .main-content .content:before {
        display: none;
    }

    .page-index .screen-stages .main-content .content .owl-carousel {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    header .header {
        padding: 10px 15px 0;
        background-color: rgba(0, 0, 0, 0.8);
    }

    .page-index .calc .calc-input {
        margin: 5px 4px 25px;
    }

    .page-index .screen-one .item .main-content {
        font-size: 18pt;
        line-height: 25px;
        padding-right: 15px;
        bottom: 49px;
    }

    .page-index .nav-default {
        background-color: rgba(35, 35, 35, 0.8);
    }

    .page-index .screen-two .item {
        padding-top: 0;
    }

    .page-index .screen-two .item p {
        font-size: 13px;
    }

    .page-index .screen-two .item .more-info {
        padding: 25px 0;
    }

    .page-index .screen-two .item .menu {
        width: 100%;
        text-align: center;
    }

    .page-index .screen-two .item .menu ul li:hover:after {
        display: none !important;
    }

    header .main-content .navbar-header {
        padding: 0 0 15px;
    }

    .page-index header .main-content .logo {
        float: left;
    }

    .page-index header .main-content .menu .custom-caret {
        float: right;
    }

    .page-index header .main-content .menu ul .open ul {
        background-color: transparent !important;
    }

    .page-index header .main-content .menu ul .open ul li {
        border-top: 1px solid rgba(255, 150, 0, 0.2);
    }

    .page-index header .main-content .menu ul li:hover a {
        padding-bottom: 10px;
    }

    .page-index .calc .calc-input input {
        width: 130px;
        height: 35px;
    }
}

@media screen and (max-width: 667px) {
    .page-index .screen-five .content .cell {
        width: 250px;
    }
}

@media screen and (max-width: 610px) {
    .page-index .screen-two .item .title {
        font-size: 17pt;
        padding: 10px 0 0;
    }
}

@media screen and (min-width: 601px) {
    .page-index .your-discount {
        position: relative;
    }
}

@media screen and (max-width: 600px) {
    .page-index .footer .main-content .forma .your-discount, .page-index .calc .main-content .forma .your-discount {
        text-align: center;
    }

    .page-index .your-discount-fixed {
        background-color: #232323;
        position: fixed;
        margin-bottom: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

@media screen and (max-width: 507px) {
    .page-index .screen-fourth .content .image:after {
        content: '';
        display: block;
        height: 1px;
        width: 100%;
        background-image: -webkit-gradient(linear, right top, left top, from(transparent), color-stop(rgba(0, 0, 0, 0.2)), to(transparent));
        background-image: -webkit-linear-gradient(right, transparent, rgba(0, 0, 0, 0.2), transparent);
        background-image: -o-linear-gradient(right, transparent, rgba(0, 0, 0, 0.2), transparent);
        background-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.2), transparent);
        position: relative;
    }
}

@media screen and (max-width: 414px) {
    .page-index .bottom-stat .description {
        font-size: 15pt;
    }

    .page-index .bottom-stat .value {
        font-size: 17pt;
    }

    .page-index .bottom-stat .subject {
        font-size: 15pt;
    }

    .page-index .call-number, .page-index .city {
        width: 100%;
        text-align: center;
    }
}