﻿/* Смежные классы */
.main-content {
    max-width: 1770px;
    margin: auto;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: transparent !important;
}

button, input {
    outline: none;
}

/* End Смежные классы */
body {
    font-family: "GothamProRegular", "Helvetica Neue", "Helvetica,Arial,sans-serif" !important;
    letter-spacing: 1px;
}

.page-index .search-block {
    display: none;
}

.page-index .breadcrumd {
    display: none;
}

.page-index .screen-one {
    background-size: cover;
    height: 100vh;
    max-height: 1080px;
    overflow: hidden;
}

.page-index .screen-one .slider-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    max-width: 314px;
    z-index: 2;
    top: 253px;
    height: 100vh;
    font-size: 16px;
    position: absolute;
    right: 0;
    text-align: right;
}

.page-index .screen-one .slider-navigation a {
    -webkit-transition: all 0.25s;
    color: #FFFFFF;
}

.page-index .screen-one .slider-navigation a:hover, .page-index .screen-one .slider-navigation a:focus {
    color: #FFFFFF;
    text-decoration: none;
}

.page-index .screen-one .slider-navigation ul {
    padding: 15px;
}

.page-index .screen-one .slider-navigation li {
    padding: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.page-index .screen-one .slider-navigation li a {
    width: 209px;
    opacity: .4;
}

.page-index .screen-one .slider-navigation li a:after {
    content: '';
    display: block;
    font-size: 10px;
    color: #FF9600;
    height: 5px;
}

.page-index .screen-one .slider-navigation li:hover a {
    opacity: 1;
}

.page-index .screen-one .slider-navigation li:hover a:after {
    content: 'Смотреть';
}

.page-index .screen-one .slider-navigation li:after {
    display: block;
    content: '';
    height: 15px;
    position: relative;
    width: 75px;
    left: 15px;
    background-position: right center;
    background-image: url("../img/system/list.png");
    background-repeat: no-repeat;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.page-index .screen-one .slider-navigation li:hover:after {
    background-image: url("../img/system/list-hover.png");
    background-repeat: no-repeat;
}

.page-index .screen-one .slider-navigation .active {
    font-family: "GothamProBold";
}

.page-index .screen-one .slider-navigation .active:hover a:after {
    content: '';
}

.page-index .screen-one .slider-navigation .active a {
    opacity: 1;
}

.page-index .screen-one .slider-navigation .active:after {
    background-image: url("../img/system/list-active.png");
    background-repeat: no-repeat;
}

.page-index .screen-one .slider-navigation .social-network {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 90px;
    padding-left: 75px;
}

.page-index .screen-one .slider-navigation .social-network div {
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition: all 0.25s;
}

.page-index .screen-one #first-slider .item {
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.page-index .screen-one .owl-dots {
    position: absolute;
    top: 95px;
    right: 82px;
}

.page-index .screen-one .action-block  {
    position: absolute;
    display: table;
    bottom:0;
    width: 100%;
    max-height: 130px;
    height: 100vh;
    background-color: rgba(0,0,0,.7);
}

.page-index .screen-one .action-block .action {
    position: relative;
    display: table-cell;
    height: 100%;
    max-width: 50vw;
    vertical-align: top;
}

.page-index .screen-one .action-block .action .slick-dots  button:before {
    font-size: 10px;
    color: rgb(255, 255, 255);
}
.page-index .screen-one .action-block .action .slick-dots li.slick-active button:before {
    opacity: 1;
}

.page-index .screen-one .action-block .action .slick-dots {
    bottom: 0;
}

.page-index .screen-one .action-block .action .slick-dotted.slick-slider {
    margin-bottom: 0;
    height: 100%;
    width: 902px;
}

.page-index .screen-one .action-block .action .owl-carousel {
    height: 100%;
}

.page-index .screen-one .action-block .action .owl-carousel .owl-item {
    float: right !important;
}

.page-index .screen-one .action-block .action .owl-carousel .owl-item div {
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: flex-end;
}

.page-index .screen-one .action-block .action .owl-carousel .owl-item div img {
    position: relative;
    width: auto;
    height: 100%;
}

.page-index .screen-one .action-block .action .owl-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 20px;
    margin: auto;
}

.page-index .screen-one .action-block .action .owl-dots .owl-dot span {
    background: rgba(255, 255, 255, 0.5);
}

.page-index .screen-one .action-block .action .owl-dots .active span {
    background: rgba(255, 255, 255, 1);
}

.page-index .screen-one .item .main-content {
    position: relative;
    text-align: right;
    font-family: "IntroRustG";
    font-size: 26pt;
    padding-right: 70px;
    color: rgb(255,150,0);
    padding-left: 11px;
    vertical-align: middle;
    display: table-cell;
}

.page-index .screen-one .item .main-content span {
    color: rgb(255, 255, 255);
    font-weight: 800;
}

.page-index .screen-one .owl-carousel {
    position: absolute;
    overflow: hidden;
    max-height: 100vh;
}

.page-index .screen-one .block-content {
    padding-top: 108px;
}

.page-index .screen-one .owl-demo .item img {
    display: block;
    width: 100%;
    height: 100%;
}

.page-index .screen-one .slide-progress {
    width: 0;
    max-width: 100%;
    height: 4px;
    background-color: #FF9600;
    position: absolute;
    z-index: 2;
    margin-bottom: 0;
    margin-top: calc(100vh - 4px);
}

.page-index .nav-default {
    background-color: rgba(0, 0, 0, 0.48);
    -webkit-transition: all 0.25s;
}

.page-index .header .navbar-toggle:hover {
    background: transparent !important;
}

.header .navbar-toggle .icon-bar {
    width: 22px;
    background: rgb(255, 150, 0);
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.page-index .header .navbar-toggle .top-bar {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 10% 10%;
    -ms-transform-origin: 10% 10%;
    transform-origin: 10% 10%;
}

.page-index .header .navbar-toggle .middle-bar {
    opacity: 0;
}

.page-index .header .navbar-toggle .bottom-bar {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 10% 90%;
    -ms-transform-origin: 10% 90%;
    transform-origin: 10% 90%;
}

.page-index .header .navbar-toggle.collapsed .top-bar {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

.page-index .header .navbar-toggle.collapsed .middle-bar {
    opacity: 1;
}

.page-index .header .navbar-toggle.collapsed .bottom-bar {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

.page-index .header .main-content {
    max-width: 1770px;
    width: 100%;
    margin: auto;
    display: block;
}

.header .main-content .group {
    display: inline-block;
    width: 100%;
    max-width: 465px;
    position: relative;
    float: left;
    padding-top: 5px;
}

.page-index .header .main-content .menu {
    display: inline-block;
}

header .header .main-content .group .city .point {
    height: 30px;
    float: left;
    position: relative;
    top: 5px;
    right: 10px;
}

header .header .main-content .group .city .custom-caret {
    max-width: 10px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

header .header .main-content .group .city label {
    margin: 0;
    color: #B3B8B3;
}

header .header .main-content .group .city .select {
    background-color: rgba(255,255,255,0);
    border: none;
    font-family: "IntroRustG";
    padding: 0;
    color: #FF9600;
}

header .header .main-content .group .city .open .select .custom-caret {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

header .header .main-content .menu ul li:hover:after {
    display: block;
    content: '';
    height: 2px;
    width: 100%;
    margin: auto;
    position: absolute;
    background-color: #FF9600;
}

.page-index .header .main-content .menu ul li:hover ul li:hover {
    background-color: rgba(131, 81, 127, 0.77);
}

.page-index .header .main-content .menu ul li:hover ul li:hover:after {
    display: none;
}

/*.page-index .header .main-content .menu ul .open .custom-caret {*/
    /*-webkit-transform: rotate(-180deg);*/
    /*-ms-transform: rotate(-180deg);*/
    /*transform: rotate(-180deg);*/
    /*-webkit-transition: 0.2s;*/
    /*-o-transition: 0.2s;*/
    /*transition: 0.2s;*/
/*}*/

.header .main-content .menu ul .open ul {
    background-color: rgba(106, 106, 106, 0.81);
    -webkit-box-shadow: 0 3px 11px -1px rgba(0, 0, 0, 0.175);
    box-shadow: 0 3px 11px -1px rgba(0, 0, 0, 0.175);
}

header .header .main-content .menu ul li ul a li {
    color: #FFFFFF;
    font-family: GothamProRegular;
    padding: 10px 10px;
}

.page-index .header .main-content .menu ul .open ul li:hover {
    background-color: rgba(131, 81, 127, 0.77);
}

.page-index .header .main-content .menu ul .open ul li:hover:after {
    display: none;
}

header .header .main-content .menu li a {
    font-family: "IntroRustG";
    font-size: 1.55rem;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.page-index header .header .main-content .menu li a {
    color: #FFFFFF;
}

.page-index .header .main-content .menu .active a {
    color: #FF9600;
}

.page-index .header .main-content .call-number p {
    margin: 0;
}

.page-index .navbar-setting {
    background-color: #FFFFFF;
    -webkit-transition: all 0.25s;
    border-bottom: 1px solid rgba(179, 184, 179, 0.2);
}

.page-index header .navbar-setting .main-content .menu li a {
    color: #ffb74f;
}

.page-index .navbar-setting .main-content .menu .active a {
    color: #810C74;
}

.page-index .navbar-setting .main-content .logo {
    background-image: url("../img/system/logo-dark.png");
}

.page-index .navbar-setting .main-content .city label {
    color: #B3B8B3;
}

.page-index .navbar-setting .main-content .city .select {
    color: #ffb74f;
}

.page-index .dark-color ul .active:before {
    background-image: url("../img/system/list-active-dark.png");
    background-repeat: no-repeat;
}

.page-index .dark-color ul a {
    color: rgba(129, 12, 116, 0.4);
    -webkit-transition: all 0.25s;
}

.page-index .dark-color ul a:hover, .page-index .dark-color ul a:focus {
    color: #810C74;
    text-decoration: none;
}

.page-index .dark-color ul .active a {
    color: #810C74;
    font-family: "GothamProBold";
}

.page-index .dark-color .vk {
    background-image: url("../img/system/icon-vk-dark.png") !important;
}

.page-index .dark-color .insta {
    background-image: url("../img/system/icon-insta-dark.png") !important;
}

.page-index .gray-color ul .active a {
    color: #FFFFFF !important;
    font-family: "GothamProBold";
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.page-index .gray-color ul a {
    color: #B3B8B3;
}

.page-index .gray-color ul a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.page-index .left-menu {
    display: block;
    max-width: 314px;
    position: fixed;
    z-index: 3;
    top: 71px;
    height: 100vh;
    font-size: 16px;
}

.page-index .left-menu a {
    -webkit-transition: all 0.25s;
    color: #FFFFFF;
}

.page-index .left-menu a:hover, .page-index .left-menu a:focus {
    color: #FFFFFF;
    text-decoration: none;
}

.page-index .left-menu ul {
    padding: 15px;
    max-height: 345px;
}

.page-index .left-menu li {
    padding: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.page-index .left-menu li:before {
    display: block;
    content: '';
    height: 15px;
    position: relative;
    width: 75px;
    right: 19px;
    background-position: right center;
    background-image: url("../img/system/list.png");
    background-repeat: no-repeat;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.page-index .left-menu li:hover:before {
    background-image: url("../img/system/list-hover.png");
    background-repeat: no-repeat;
}

.page-index .left-menu .active:before {
    background-image: url("../img/system/list-active.png");
    background-repeat: no-repeat;
}

.page-index .left-menu .social-network {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 35px;
    padding-left: 75px;
}

.page-index .left-menu .social-network div {
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition: all 0.25s;
    position: relative;
}

.page-index .left-menu .social-network .vk {
    height: 23px;
    width: 23px;
    margin-right: 15px;
    background-image: url("../img/system/icon-vk.png");
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
}

.page-index .left-menu .social-network .insta {
    background-image: url("../img/system/icon-insta.png");
    height: 13px;
    width: 13px;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
}

.page-index .left-menu .social-network a {
    position: absolute;
    width: 100%;
    height: 100%;
}

.page-index .screen-two {
    height: 100vh;
    overflow: hidden;
}

.page-index .screen-two .controlls {
    position: absolute;
    z-index: 2;
    right: 0;
    left: 0;
    margin-top: 30px;
}

.page-index .screen-two .controlls .slider-navigation {
    max-width: 1140px;
    margin: auto;
    padding: 0 15px;
    background-color: rgba(0,0,0,.48);
    color: rgb(255, 255, 255);
    text-align: center;
}

.page-index .screen-two .controlls .slider-navigation .slide-nav {
    text-align: center;
    display: inline-block;
    float: none;
    margin: 14px auto;
    width: 200px !important;
    vertical-align: top;
    outline: none;
    font-size: 18px;
    cursor: pointer;
}

.page-index .screen-two .controlls .slider-navigation .slide-nav:after {
    display: block;
    content: "";
    height: 2px;
    width: 0;
    background-color: rgb(255, 255, 255);
    transition: .2s;
    margin: auto;
    position: relative;
    top: 6px;
}

.page-index .screen-two .controlls .slider-navigation .slick-current:after {
    width: 100%;
}

.page-index .screen-two .controlls .slider-navigation ul {
    text-align: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.48);
}

.page-index .screen-two .controlls .slider-navigation ul li {
    display: inline-block;
    font-size: 18px;
    padding: 7px 15px;
}

.page-index .screen-two .controlls .slider-navigation ul li:after {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background-color: transparent;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.page-index .screen-two .controlls .slider-navigation ul li:hover:after {
    background-color: #FFFFFF;
}

.page-index .screen-two .controlls .slider-navigation ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.page-index .screen-two .controlls .slider-navigation ul .active a {
    font-family: gothamProBold;
    color: #FFB74F;
}

.page-index .screen-two .controlls .navs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    width: 100px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: auto;
    padding: 30px 0;
}

.page-index .screen-two .controlls .navs .btn-prev {
    background-image: url(../img/system/btn-prev.png);
    background-color: transparent;
    background-size: contain;
    border: none;
    height: 35px;
    width: 33px;
    background-repeat: no-repeat;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.page-index .screen-two .controlls .navs .btn-prev:hover {
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    opacity: 1;
}

.page-index .screen-two .controlls .navs .btn-next {
    background-image: url(../img/system/btn-next.png);
    background-color: transparent;
    background-size: contain;
    border: none;
    height: 35px;
    width: 33px;
    background-repeat: no-repeat;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.page-index .screen-two .controlls .navs .btn-next:hover {
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    opacity: 1;
}

.page-index .screen-two .item {
    height: 100vh;
    padding-top: 320px;
    background-size: cover;
    background-position: center;
}

.page-index .screen-two .item .title {
    font-family: "IntroRustG";
    color: #ffb74f;
    font-size: 32pt;
    padding: 10px 0 30px 0;
}

.page-index .screen-two .item p {
    color: #FFFFFF;
    font-size: 18px;
}

.page-index .content .desk-service-info {
    background-color: rgba(0,0,0,0.48);
    position: relative;
    padding: 15px;
    margin: auto;
    border-radius: 90px 0 90px 0;
}

.page-index .content .desk-service-info li, .page-index .content .desk-service-info p, .page-index .content .desk-service-info span {
    font-size: 24px;
    font-family: "IntroRustG";
}

.page-index .content .desk-service-info ul{
    padding: 0;
}

.page-index .screen-two .item .more-info {
    padding: 35px 0;
    font-family: "IntroRustG";
}

.page-index .screen-two .content {
    display: block;
}

.page-index .screen-two .item .more-info a {
    color: #ffb74f;
    font-size: 14pt;
    text-decoration: underline;
}

.page-index .screen-two .item .more-info a:hover {
    text-decoration: none;
}

.page-index .screen-two .item1 {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(51, 4, 47, 0.49)), to(rgba(51, 4, 47, 0.47))), url(../img/system/slide-2.jpg);
    background-image: -webkit-linear-gradient(bottom, rgba(51, 4, 47, 0.49), rgba(51, 4, 47, 0.47)), url(../img/system/slide-2.jpg);
    background-image: -o-linear-gradient(bottom, rgba(51, 4, 47, 0.49), rgba(51, 4, 47, 0.47)), url(../img/system/slide-2.jpg);
    background-image: linear-gradient(to top, rgba(51, 4, 47, 0.49), rgba(51, 4, 47, 0.47)), url(../img/system/slide-2.jpg);
}

.page-index .screen-two .item2 {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(51, 4, 47, 0.49)), to(rgba(51, 4, 47, 0.47))), url(../img/system/slide-2.jpg);
    background-image: -webkit-linear-gradient(bottom, rgba(51, 4, 47, 0.49), rgba(51, 4, 47, 0.47)), url(../img/system/slide-2.jpg);
    background-image: -o-linear-gradient(bottom, rgba(51, 4, 47, 0.49), rgba(51, 4, 47, 0.47)), url(../img/system/slide-2.jpg);
    background-image: linear-gradient(to top, rgba(51, 4, 47, 0.49), rgba(51, 4, 47, 0.47)), url(../img/system/slide-2.jpg);
}

.page-index .screen-two {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.8)), to(#FFFFFF)), url("../img/system/screen3.jpg");
    background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.8), #FFFFFF), url("../img/system/screen3.jpg");
    background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.8), #FFFFFF), url("../img/system/screen3.jpg");
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.8), #FFFFFF), url("../img/system/screen3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.page-index .screen-two .cell {
    padding: 0 15px;
}

.page-index .screen-two .description {
    color: #232323;
    font-size: 13pt;
}

.page-index .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: auto;
}

.page-index .screen-five .content {
    padding-bottom: 95px;
    display: block;
    text-align: center;
}

.page-index .screen-five .photo-instagram {
    margin: auto;
    max-width: 1020px;
    text-align: center;
}

.page-index .screen-five .photo-instagram .block-photo {
    max-width: 293px;
    max-height: 293px;
    width: 100%;
    height: 100%;
    margin: 14px;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.page-index .screen-five .photo-instagram .block-photo .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.2s;
    background-color: rgba(0,0,0,0.3);
}

.page-index .screen-five .photo-instagram .block-photo img {
    height: 100%;
}

.page-index .screen-five .photo-instagram .block-photo:hover .mask{
    opacity: 1;
}

.page-index .screen-five .photo-instagram .block-photo .mask .mask-content {
    color: rgb(255,255,255);
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 50px;
}

.page-index .screen-five .photo-instagram .block-photo .mask .mask-content .fa {
    font-size: 18px;
}

.page-index .screen-five .photo-instagram .block-photo .mask .mask-content span {
    font-size: 16px;
    padding: 5px;
}

.page-index .screen-five .photo-instagram .block-photo img {

}

.page-index .content .cell {
    width: 314px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 30px 0;
}

.page-index .content .cell .image {
    margin: 0 auto;
    max-width: 160px;
    width: 100%;
    max-height: 143px;
    height: 100%;
    margin-bottom: 15px;
}

.page-index .content .cell .image img {
    height: 100%;
}

.page-index .content .cell .title {
    color: #FF9600;
    font-size: 17pt;
    font-family: IntroRustG;
    width: 100%;
    padding: 0 15px;
}

.page-index .screen-three {
    padding-top: 80px;
}

.page-index .screen-three .content {
    display: block;
    text-align: center;
}

.page-index .screen-three .content .cell {
    display: inline-block;
    margin: 30px auto;
    vertical-align: top;
    max-width: 315px;
    width: 100%;
}

.page-index .screen-three .content .cell p {
    width: 100%;
    min-height: 60px;
}

.page-index .screen-three .content .cell .title {
    min-height: 76px;
    display: block;
    margin: 10px auto;
}

.page-index .screen-stages {
    padding-top: 80px;
}

.page-index .screen-stages .stages {
    text-align: center;
    counter-reset: myCounter-1;
    max-width: 1200px;
    margin: auto;
    padding: 0;
}

.page-index .screen-stages .stages li:before {
    counter-increment: myCounter-1;
    content: counter(myCounter-1);
    position: absolute;
    font-size: 65px;
    font-family: "IntroRustG";
    color: rgb(129, 12, 116);
    top: 0;
    line-height: 75px;
}

.page-index .screen-stages .stages .cell {
    width: 190px;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    position: relative;
    margin: 30px 50px;
    padding: 0 4px;
}

.page-index .screen-stages .stages .cell a {
    color: rgb(129, 12, 116);
    text-decoration: underline;
}

.page-index .screen-stages .stages .cell-first p {
    font-family: "GothamProBold";
}

.page-index .screen-stages .stages .cell .image {
    height: 60px;
    margin-bottom: 20px;
}

.page-index .screen-stages .stages .cell .image:after {
    display: block;
    height: 1px;
    width: 160px;
    background-color: rgb(128, 0, 128);
    content: "";
    margin-top: 13px;
    right: 6px;
    position: relative;
}

.page-index .screen-stages .stages .cell .application {
    background-color: rgb(255, 150, 0);
    border-radius: 2px;
    width: 160px;
    color: rgb(255,255,255);
    font-size: 14px;
    text-align: center;
    height: 30px;
    border: none;
}

.page-index .screen-stages .main-content .content {
    max-width: 100%;
}

.page-index .screen-stages .main-content .content img {
    width: 100%;
}

.page-index .screen-fourth {
    padding: 200px 0 150px;
}

.page-index .screen-fourth .content {
    max-width: 1100px;
    width: 100%;
    display: block;
    text-align: center;
}

.page-index .screen-fourth .content .image {
    max-width: 194px;
    height: 97px;
    width: 100%;
    display: inline-block;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.page-index .screen-fourth .image:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.page-index .screen-fourth .title {
    font-size: 24pt;
    color: rgb(255, 150, 2);
    font-family: "gothamProBold";
    padding-bottom: 45px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.page-index .screen-five {
    padding: 100px 0 100px;
}

.page-index .screen-five .yars {
    max-width: 1000px;
    margin: 0 auto 40px auto;
}

.page-index .screen-five .yars .nav-tabs {
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 95px;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    width: 83%;
}

.page-index .screen-five .yars .nav-tabs li {
    margin: 0 15px;
    position: relative;
    font-size: 13pt;
    font-family: IntroRustG;
    color: #B3B8B3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-width: 45px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.page-index .screen-five .yars .nav-tabs li a {
    color: #B3B8B3;
    transition: 0.2s;
    padding-top: 0;
    border: none;
    padding-bottom: 11px;
}

.page-index .screen-five .yars .nav-tabs .clicked a {
    color: rgb(255, 183, 79);
}

.page-index .screen-five .yars .nav-tabs .clicked a i {
    background-color: rgb(255, 183, 79);
}

.page-index .screen-five .yars .nav-tabs li a i {
    position: relative;
    display: block;
    text-align: center;
    background-color: #B3B8B3;
    border-radius: 100%;
    width: 7px;
    height: 7px;
    padding: 0;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    margin: 10px auto 0;
}

.page-index .screen-five .yars .nav-tabs li a:hover, .page-index .screen-five .yars .nav-tabs li a:focus {
    background-color: transparent;
    border: none;
    /*padding: 0 0 11px 0;*/
}

.page-index .screen-five .yars .nav-tabs li:hover i, .page-index .screen-five .yars .nav-tabs li:focus i {
    margin-top: 15px;
}

.page-index .screen-five .yars .nav-tabs li a:hover i, .page-index .screen-five .yars .nav-tabs li a:focus i {
    background-color: #FF9600;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.page-index .screen-five .yars .nav-tabs .all-time {
    min-width: 207px;
    position: relative;
    right: 76px;
}

.page-index .screen-five .yars .nav-tabs .all-time p {
    width: 100%;
    text-align: center;
}

.page-index .screen-five .yars .nav-tabs .not-end {
    font-family: gothamproregular;
    font-size: 12pt;
    position: relative;
    left: 115px;
    bottom: 28px;
}

.page-index .screen-five .yars .nav-tabs .active a {
    border: none;
    background-color: transparent;
    color: #FF9600;
    font-size: 20px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    padding-bottom: 10px;
}

.page-index .screen-five .yars .nav-tabs .active:hover a i {
    margin-top: 10px;
}

.page-index .screen-five .yars .nav-tabs .active a i {
    width: 10px;
    height: 10px;
    background-color: #FF9600;
    padding: 0;
    border-radius: 100%;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.page-index .screen-five .yars .nav-tabs .active a:hover, .page-index .screen-five .yars .nav-tabs .active a:focus {
    padding: 10px;
}

.page-index .screen-five .yars:after {
    display: block;
    content: '';
    height: 1px;
    width: 100%;
    background-color: #B3B8B3;
    background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(transparent), color-stop(transparent), to(#FFFFFF));
    background-image: -webkit-linear-gradient(left, transparent, transparent, transparent, #FFFFFF);
    background-image: -o-linear-gradient(left, transparent, transparent, transparent, #FFFFFF);
    background-image: linear-gradient(to right, transparent, transparent, transparent, #FFFFFF);
    position: relative;
    bottom: 15px;
    z-index: -1;
}

.page-index .screen-five .description {
    color: #B3B8B3;
    font-size: 18pt;
    margin: 0;
}

.page-index .screen-five .description .value {
    font-size: 20pt;
}

.page-index .screen-five .subject {
    font-size: 18pt;
    color: #232323;
}

.page-index .screen-five .value {
    color: #FF9600;
    font-family: IntroRustG;
}

.page-index .screen-five .cell {
    display: inline-block;
    margin: 35px 15px 10px;
}

.page-index .screen-five .cell .description {
    margin-bottom: 10px;
}

.page-index .screen-five .cell .value {
    font-size: 65pt;
    line-height: 65px;
}

.page-index .screen-five .cell .subject {
    min-height: 68px;
}

.page-index .screen-five .cell p {
    width: 100%;
    margin: 0;
}

.page-index .dark-footer .main-content .application, .page-index .calc .main-content .application {
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    background-color: #FF9600 !important;
}

.page-index .dark-footer .main-content input, .page-index .calc .main-content input {
    background-color: #FFFFFF !important;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.page-index .dark-footer .main-content input:focus, .page-index .calc .main-content input:focus {
    -webkit-box-shadow: 0 0 15px 0 rgba(255, 150, 0, 0.8);
    box-shadow: 0 0 15px 0 rgba(255, 150, 0, 0.8);
}

.page-index .dark-footer .main-content .forma input::-webkit-input-placeholder, .page-index .calc .main-content .forma input::-webkit-input-placeholder {
    color: #232323;
}

.page-index .light-footer {
    background-color: rgba(235, 237, 235, 0.6);
}

.page-index .light-footer .agreement {
    color: rgba(0, 0, 0, 0.7);
}

.page-index .light-footer .main-content .copiright p {
    color: #585B58;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.page-index .light-footer .main-content .zamanuha p {
    color: #585B58;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.page-index .light-footer .main-content #show-discount {
    color: #810C74;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.page-index .light-footer .main-content .forma .application {
    background-color: #FFCC88 !important;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.page-index .light-footer .main-content .forma input::-webkit-input-placeholder {
    color: #B3B8B3;
}

.page-index .dark-footer {
    background-color: #232323;
}

.page-index .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    min-height: 90px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all 0.25s;
    opacity: 0;
}

.page-index .footer:hover {
    background-color: #232323;
}

.page-index .footer:hover .agreement {
    color: rgba(255,255,255,0.7);
}

.modal-body .agreement {
    color: rgba(0,0,0,0.7);
    text-align: center;
}

.page-index .footer:hover .main-content #show-discount {
    color: #FF9600;
}

.page-index .footer:hover .main-content input[type="text"], .page-index .footer:hover .main-content input[type="email"], .page-index .footer:hover .main-content input[type="tel"] {
    background-color: #FFFFFF !important;
}

.page-index .footer:hover .main-content input::-webkit-input-placeholder {
    color: #232323;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.page-index .footer:hover .main-content .application {
    background-color: #FF9600 !important;
}

.page-index .footer:hover .main-content .copiright p {
    color: #FFFFFF !important;
}

.page-index .footer:hover .main-content .zamanuha p {
    color: #EBEDEB !important;
}

.page-index .footer div {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.page-index .footer .in {
    margin: auto;
}

.page-index .footer .main-content, .page-index .calc .main-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 1770px;
    width: 100%;
    margin: auto;
}

.page-index .footer .main-content .want-a-discount button, .page-index .calc .main-content .want-a-discount button {
    background-color: transparent;
    border: none;
    color: #FF9600;
    font-size: 18pt;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.page-index .footer .main-content .copiright, .page-index .calc .main-content .copiright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    color: #FFFFFF;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.page-index .footer .main-content .zamanuha, .page-index .calc .main-content .zamanuha {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    width: 43.375rem;
    color: #EBEDEB;
    font-family: "Gotham Pro";
    font-size: 1.3rem;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    padding: 0 8px;
}

.page-index .footer .main-content .zamanuha-mobile, .page-index .calc .main-content .zamanuha-mobile {
    display: none;
}

.page-index .footer .main-content .forma .application, .page-index .calc .main-content .forma .application {
    background-color: #33042F;
    border: none;
    color: #FFFFFF;
    height: 30px;
    width: 160px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    border-radius: 2px;
    font-size: 14px;
    margin: 0 10px 10px 10px;
}

.page-index .footer .main-content .want-a-discount, .page-index .calc .main-content .want-a-discount {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
}

.page-index .footer .main-content .forma, .page-index .calc .main-content .forma {
    display: block;
    margin-bottom: 0;
}

.page-index .footer .main-content .forma .your-discount, .page-index .calc .main-content .forma .your-discount {
    text-align: right;
    color: #FFFFFF;
    font-family: GothamProBold;
    font-size: 16pt;
}

.page-index .footer .main-content .forma .dropdown, .page-index .calc .main-content .forma .dropdown {
    display: inline-block;
}

.page-index .footer .main-content .forma .your-discount span, .page-index .calc .main-content .forma .your-discount span {
    color: #FF9600;
    font-size: 26pt;
}

.page-index .footer .main-content .forma .your-discount span span, .page-index .calc .main-content .forma .your-discount span span {
    font-size: 21pt !important;
}

.page-index .footer .main-content .forma .select, .page-index .calc .main-content .forma .select {
    background-image: url("../img/system/caret-1.png");
    background-repeat: no-repeat;
    background-position: 142px 15px;
    background-size: 10px;
    cursor: pointer;
}

.page-index .footer .main-content .forma .select:focus, .page-index .calc .main-content .forma .select:focus {
    cursor: text;
}

.page-index .footer .main-content .forma .open ul, .page-index .calc .main-content .forma .open ul {
    margin-left: 10px;
}

.page-index .footer .main-content .forma .footer-field, .page-index .calc .main-content .forma .footer-field {
    width: 160px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    -webkit-border-radius: 2px;
    padding: 0 5px 0 5px;
    font-size: 12px;
    margin: 0 10px 10px 10px;
}

.page-index .calc .main-content .forma .footer-field {
    width: 165px;
}

.agreement {
    color: rgba(255, 255, 255, 0.7);
    padding: 10px 10px 0 10px;
    margin-bottom: 0;
}

.agreement a {
    color: rgb(255, 150, 0);
}

.agreement a:hover {
    text-decoration: underline;
}

.page-company .agreement {
    color: rgba(0, 0, 0, 0.7);
}

.page-index .footer .main-content .forma input:focus::-webkit-input-placeholder, .page-index .calc .main-content .forma input:focus::-webkit-input-placeholder {
    opacity: 0;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.page-index .footer .main-content .forma ::-webkit-input-placeholder, .page-index .calc .main-content .forma ::-webkit-input-placeholder {
    color: #FFFFFF;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.page-index .footer .well, .page-index .calc .well {
    background-color: transparent;
    border: none;
    margin: 0;
}

.page-index .calc {
    max-height: 500px;
    background-image: url("../img/system/calc-bg.png");
    background-color: black;
    background-size: 100% 100%;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.62);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.62);
    display: none;
    padding: 15px 15px 28px 15px;
}

.page-index .calc .form-content {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.page-index .calc .forma {
    max-width: 1165px;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.page-index .calc .forma .title-mounth {
    color: #ffb74f;
    font-size: 11px;
    display: block;
}

.page-index .calc .tooltip-inner {
    background-color: #FFFFFF;
    color: #232323;
}

.page-index .calc .calc-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.page-index .calc .hide-discount {
    background-color: transparent;
    border: none;
    color: #B3B8B3;
    font-family: gothamproregular;
    font-size: 15pt;
    position: absolute;
    right: 0;
    height: 33px;
    border-radius: 2px;
}

.page-index .calc .hide-discount span {
    padding-left: 10px;
}

.page-index .calc .foundation {
    max-width: 510px;
    display: inline-block;
}

.page-index .calc .info {
    max-width: 13px;
    position: relative;
    left: 5px;
    bottom: 1px;
}

.page-index .calc .walls {
    max-width: 540px;
    display: inline-block;
}

.page-index .calc .walls:before {
    width: 2px;
    height: 225px;
    content: '';
    display: block;
    background-color: rgba(255, 255, 255, 0.15);
    float: left;
    position: relative;
    right: 30px;
    top: 35px;
}

.page-index .calc .roof {
    max-width: 550px;
    display: inline-block;
}

.page-index .calc .roof:before {
    width: 2px;
    height: 225px;
    content: '';
    display: block;
    background-color: rgba(255, 255, 255, 0.15);
    float: left;
    position: relative;
    right: 30px;
    top: 35px;
}

.page-index .calc .title {
    color: #FFFFFF;
    font-family: IntroRustG;
    font-size: 13pt;
}

.page-index .calc .subtitle {
    color: #FF9600;
    font-size: 12pt;
}

.page-index .calc .calc-block-title {
    font-family: IntroRustG;
    color: #FF9600;
}

.page-index .calc .radio-img-block {
    padding-bottom: 20px;
}

.page-index .calc .calc-delimiter {
    max-width: 9px;
    margin: 0 25px;
}

.page-index .calc .calc-input {
    display: inline-block;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 5px 0 25px;
}

.page-index .calc .calc-input label {
    display: block;
    color: #ffb74f;
    font-weight: 400;
    font-size: 11px;
}

.page-index .calc .calc-input input {
    border: none;
    border-radius: 2px;
    width: 120px;
    height: 30px;
    padding: 0 10px;
    transition: 0.2s;
}

.page-index .calc .calc-input input::-webkit-input-placeholder {
    transition: 0.2s;
}

.page-index .calc .calc-input input:focus::-webkit-input-placeholder {
    opacity: 0;
}

.page-index .calc .radio-block label {
    cursor: pointer;
    color: #EBEDEB;
    font-weight: 400;
    margin-right: 10px;
}

.page-index .calc .radio-block .radio {
    display: none;
}

.page-index .calc .radio-block .radio-block-title {
    color: #ffb74f;
    font-size: 11px;
}

.page-index .calc .radio-block .radio-custom {
    width: 5px;
    height: 5px;
    margin-right: 5px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-color: #EBEDEB;
    border-radius: 100%;
}

.page-index .calc .radio-block .radio:checked + .radio-custom {
    background-color: #FF9600;
    width: 7px;
    height: 7px;
    margin-right: 3px;
}

.page-index .calc .radio-block .radio:checked ~ span {
    color: #FF9600;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.page-index .calc .radio-img-block .radio-block-title {
    color: #ffb74f;
    font-size: 11px;
}

.page-index .calc .radio-img-block label {
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
    max-width: 125px;
    width: 100%;
}

.page-index .calc .radio-img-block .radio {
    display: none;
}

.page-index .calc .radio-img-block .radio-custom {
    width: 45px;
    height: 32px;
    position: relative;
    display: block;
    vertical-align: middle;
    cursor: pointer;
    background-repeat: no-repeat !important;
    background-position: center !important;
    margin: auto;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    background-size: contain;
}

.page-index .calc .radio-img-block .radio-custom-1 {
    background-image: url(../img/system/calc/roof-1.png);
}

.page-index .calc .radio-img-block .radio-custom-2 {
    background-image: url(../img/system/calc/roof-2.png);
}

.page-index .calc .radio-img-block .radio-custom-3 {
    background-image: url(../img/system/calc/roof-3.png);
}

.page-index .calc .radio-img-block .radio-custom-4 {
    background-image: url(../img/system/calc/roof-4.png);
}

.page-index .calc .radio-img-block .radio-custom-5 {
    background-image: url(../img/system/calc/roof-5.png);
}

.page-index .calc .radio-img-block .radio-custom-6 {
    background-image: url(../img/system/calc/roof-6.png);
}

.page-index .calc .radio-img-block .radio-custom-7 {
    background-image: url(../img/system/calc/roof-7.png);
}

.page-index .calc .radio-img-block .radio-custom-8 {
    background-image: url(../img/system/calc/roof-8.png);
}

.page-index .calc .radio-img-block .radio:checked ~ span {
    color: #FF9600;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

/*26.12.2017*/

.page-index .block-special-offer {
    padding: 100px 15px 150px;
}

.page-index .special-offer {
    display: block;
    margin: auto;
    max-width: 350px;
    border: 3px solid rgb(255, 150, 0);
    text-align: center;
    padding: 20px;
}

/* Модалки */
.page-index .modal-dialog .modal-header {
    border: none;
}

.page-index .modal-dialog .modal-header h3 {
    font-family: "gothamProBold";
    text-align: center;
    margin-top: 0;
}

.page-index .modal-dialog .modal-body form input {
    display: block;
    max-width: 315px;
    width: 100%;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #989B98;
    padding: 10px;
    margin: 10px auto;
}

.page-index .modal-dialog .modal-body form textarea {
    margin: 15px auto;
    padding: 10px;
    width: 100%;
    max-width: 315px;
    display: block;
    border-radius: 3px;
    resize: none;
}

.page-index .modal-dialog .modal-body form input::-webkit-input-placeholder {
    transition: 0.2s;
}

.page-index .modal-dialog .modal-body form textarea::-webkit-input-placeholder {
    transition: 0.2s;
}

.page-index .modal-dialog .modal-body form input:focus::-webkit-input-placeholder {
    opacity: 0;
}

.page-index .modal-dialog .modal-body form textarea:focus::-webkit-input-placeholder {
    opacity: 0;
}

.page-index .modal-dialog .modal-content {
    padding: 25px 0;
}

.page-index .modal-dialog .modal-body form .modal-btn-purple {
    margin: 25px auto 0;
    display: block;
    width: 210px;
    height: 40px;
    font-size: 18px;
    font-family: "gothamProBold";
    color: #fff;
    background-color: #810C74;
    border: none;
    border-radius: 3px;
}