/*.page-services {*/
    /*margin-top: 95px;*/
/*}*/

/*.pages .page-projects .main-content .cells .cell {*/
    /*display: inline-block;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*margin: 0 auto 45px;*/
    /*flex-direction: column;*/
/*}*/