.pages .page-about {
    font-family: "GothamProRegular";
}

.about-page .page-about .block-one {
    display: table;
    width: 100%;
    text-align: center;
    max-height: 650px;
    height: 100vh;
    background-position: center;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(51, 4, 47, 0.41)), to(rgba(51, 4, 47, 0.41))), url("../img/system/about-block-one-bg.jpg");
    background-image: -webkit-linear-gradient(bottom, rgba(51, 4, 47, 0.41), rgba(51, 4, 47, 0.41)), url("../img/system/about-block-one-bg.jpg");
    background-image: -o-linear-gradient(bottom, rgba(51, 4, 47, 0.41), rgba(51, 4, 47, 0.41)), url("../img/system/about-block-one-bg.jpg");
    background-image: linear-gradient(to top, rgba(51, 4, 47, 0.41), rgba(51, 4, 47, 0.41)), url("../img/system/about-block-one-bg.jpg");
}

.pages .page-about .block-one .page-title {
    font-size: 50px;
    color: #FFFFFF;
    font-family: "IntroRustG";
    display: table-cell;
    vertical-align: middle;
}

.pages .page-company .block-one .production-page-title {
    display: table-cell;
    margin: auto;
    vertical-align: middle;
}

.pages .page-company .block-one .production-page-title .page-title {
    display: block;
}

.pages .page-company .block-one .production-page-title .company-additional-caption {
    margin: auto;
}

.pages .page-about .block-two {
    padding: 65px 335px;
    background-color: rgb(255, 150, 2);
}

.pages .page-about .block-two p {
    color: #232323;
    font-size: 25px;
    font-weight: 800;
}

.pages .page-about .block-three {
    background-color: rgb(129, 14, 116);
    min-height: 330px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    color: rgb(255,255,255);
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

.pages .page-about .block-three p {
    font-size: 24px;
    position: relative;
    width: 900px;
    text-align: left;
}

.pages .page-about .block-three p span {
    font-family: "GothamProBolditalic";
    font-size: 32px;
}

.pages .page-about .block-three p:before {
    height: 78px;
    position: absolute;
    width: 0;
    display: block;
    content: '';
    -webkit-box-shadow: 0 0 0 7px #FF9600;
    box-shadow: 0 0 0 7px #FF9600;
    top: 15px;
    left: -50px;
}

.pages .page-about .block-fourth {
    padding: 80px 190px;
}

.pages .page-about .block-fourth p {
    font-size: 22px;
}

.pages .page-about .block-five {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(163, 78, 154, 0.5)), to(rgba(163, 78, 154, 0.5))), url("../img/system/about-block-five-bg.jpg");
    background-image: -webkit-linear-gradient(bottom, rgba(163, 78, 154, 0.5), rgba(163, 78, 154, 0.5)), url("../img/system/about-block-five-bg.jpg");
    background-image: -o-linear-gradient(bottom, rgba(163, 78, 154, 0.5), rgba(163, 78, 154, 0.5)), url("../img/system/about-block-five-bg.jpg");
    background-image: linear-gradient(to top, rgba(163, 78, 154, 0.5), rgba(163, 78, 154, 0.5)), url("../img/system/about-block-five-bg.jpg");
    height: 294px;
    background-position: center -352px;
}

.pages .page-about .block-six {
    background-image: url("../img/system/about-block-six-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0 15px;
}

.pages .page-about .block-six .desk {
    max-width: 1403px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: auto;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 75px 15px 30px;
}

.pages .page-about .block-six .desk .left-column {
    padding-top: 7px;
}

.pages .page-about .block-six .desk .left-column .radial-cell {
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.pages .page-about .block-six .desk .left-column .radial-cell .title {
    font-family: "GothamProBold";
    color: #3c0336;
    font-size: 25px;
    padding: 10px 0 15px;
}

.pages .page-about .block-six .desk .left-column .radial-cell .image {
    height: 180px;
    width: 180px;
    border-radius: 100%;
    overflow: hidden;
    margin: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.pages .page-about .block-six .desk .left-column .radial-cell .image img {
  max-height: inherit;
}

.pages .page-about .block-six .desk .left-column .radial-cell .description {
    color: #585B58;
    font-size: 16px;
}

.pages .page-about .block-six .desk .right-column {
    max-width: 844px;
    position: relative;
}

.pages .page-about .block-six .desk .right-column:before {
    display: block;
    content: '';
    position: absolute;
    width: 0;
    height: 350px;
    -webkit-box-shadow: 0 0 0 6px #FF9600;
    box-shadow: 0 0 0 6px #FF9600;
    left: -55px;
    top: 15px;
}

.pages .page-about .block-six .desk .right-column p {
    font-size: 22px;
    text-align: justify;
}

.pages .page-about .block-six .about-franchise-container {
    background-image: url(../svg/ramka.svg);
    max-width: 923px;
    max-height: 365px;
    width: 100%;
    margin: 130px auto 90px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.pages .page-about .block-six .about-franchise-container .about-franchise {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    min-height: 359px;
    padding: 95px 0;
}

.pages .page-about .block-six .about-franchise-container .about-franchise p {
    font-size: 35px;
    text-align: center;
}

.pages .page-about .block-six .about-franchise-container .about-franchise p span {
    font-size: 43px;
    color: #FF9600;
    font-family: "GothamProBold";
}

.pages .page-about .block-six .about-franchise-container .about-franchise .btn-send-application {
    height: 61px;
    max-width: 374px;
    width: 100%;
    display: block;
    margin: auto;
    background-color: transparent;
    border: none;
    font-size: 29px;
    color: #3F2400;
    font-family: "GothamProBold";
    margin-top: 52px;
}

.about-page .page-about .cells {
     display: block;
     text-align: center;
     max-width: 1170px;
     margin: auto;
 }

.about-page .page-about .cells h3 {
    font-size: 25px;
    color: #810C74;
    font-family: IntroRustG;
    text-align: center;
    width: 100%;
}

.about-page .page-about .cells h4 {
    font-size: 24px;
    color: #810C74;
    font-family: "GothamProRegular";
    width: 100%;
}

.about-page .page-about .cells .cell {
    margin: 50px 10px 10px;
    max-width: 250px;
    display: inline-block;
    height: 350px;
    text-align: left;
    vertical-align: top;
}

.about-page .page-about .cells .cell .image {
    max-width: 250px;
    max-height: 250px;
    position: relative;
    margin-bottom: 10px;
}

.about-page .page-about .cells .cell .image .gradient {
    background-image: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#ffcd8b));
    background-image: -webkit-linear-gradient(bottom, transparent, #ffcd8b);
    background-image: -o-linear-gradient(bottom, transparent, #ffcd8b);
    background-image: linear-gradient(to top, transparent, #ffcd8b);
    height: 80%;
    position: absolute;
    width: 100%;
    top: 50px;
}

.about-page .page-about .cells .cell .image img {
    max-width: 100%;
    position: relative;
    z-index: 1;
}

.about-page .page-about .cells .cell .name {
    color: #33042F;
    font-size: 18px;
}

.about-page .page-about .cells .cell .position {
    color: #989B98;
    font-size: 16px;
}

.about-page .page-about .subblock {
    display: block;
    text-align: center;
    padding-bottom: 70px;
}

.about-page .page-about .subblock .cell {
    text-align: center;
    display: inline-block;
    margin: 15px 90px;
    opacity: 0.7;
    transition: 0.2s;
}

.about-page .page-about .subblock .cell:hover {
    opacity: 1;
}

.about-page .page-about .subblock .cell a {
    text-decoration: none;
}

.about-page .page-about .subblock .cell .image {
    max-height: 70px;
    height: 100%;
}

.about-page .page-about .subblock .cell .image img {
    height: 100%;
}

.about-page .page-about .subblock .cell .string-one {
    font-size: 35px;
    color: #232323;
    margin: 0;
}

.about-page .page-about .subblock .cell .string-two {
    font-size: 35px;
    font-family: GothamProBold;
    color: #FF9600;
}

/*.about-page .modal-dialog {*/
    /*max-width: 800px;*/
    /*width: 100%;*/
/*}*/

/*.about-page .modal-dialog .modal-header {*/
    /*border: none;*/
/*}*/

/*.about-page .modal-dialog .modal-header h4 {*/
    /*font-size: 25px;*/
    /*font-family: "gothamProBold";*/
    /*color: #33042F;*/
    /*text-align: center;*/
/*}*/

/*.about-page .modal-dialog .modal-header h3 {*/
    /*font-family: "gothamProBold";*/
    /*text-align: center;*/
    /*margin-top: 0;*/
/*}*/

/*.about-page .modal-dialog .modal-header h4 span {*/
    /*color: #FF9600;*/
/*}*/

/*.about-page .modal-dialog .modal-body form input {*/
    /*display: block;*/
    /*max-width: 315px;*/
    /*width: 100%;*/
    /*height: 40px;*/
    /*border-radius: 3px;*/
    /*border: 1px solid #989B98;*/
    /*padding: 10px;*/
    /*margin: 10px auto;*/
/*}*/

/*.about-page .modal-dialog .modal-body form textarea {*/
    /*margin: 15px auto;*/
    /*padding: 10px;*/
    /*width: 100%;*/
    /*max-width: 315px;*/
    /*display: block;*/
    /*border-radius: 3px;*/
    /*resize: none;*/
/*}*/

/*.about-page .modal-dialog .modal-body form input::-webkit-input-placeholder {*/
    /*transition: 0.2s;*/
/*}*/

/*.about-page .modal-dialog .modal-body form textarea::-webkit-input-placeholder {*/
    /*transition: 0.2s;*/
/*}*/

/*.about-page .modal-dialog .modal-body form input:focus::-webkit-input-placeholder {*/
    /*opacity: 0;*/
/*}*/

/*.about-page .modal-dialog .modal-body form textarea:focus::-webkit-input-placeholder {*/
    /*opacity: 0;*/
/*}*/

/*.about-page .modal-dialog .modal-content {*/
    /*padding: 25px 0;*/
/*}*/

/*.about-page .modal-dialog .modal-body form .modal-btn-purple {*/
    /*margin: 45px auto 0;*/
    /*display: block;*/
    /*width: 210px;*/
    /*height: 40px;*/
    /*font-size: 18px;*/
    /*font-family: "gothamProBold";*/
    /*color: #fff;*/
    /*background-color: #810C74;*/
    /*border: none;*/
    /*border-radius: 3px;*/
/*}*/