/* font-family: "IntroRustG"; */
@font-face {
    font-family: "IntroRustG";
    src: url("../fonts/IntroRustG-Base.otf");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "GothamProItalic"; */
@font-face {
    font-family: "GothamProItalic";
    src: url("../fonts/GothamProItalic.ttf");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "GothamProLightItalic"; */
@font-face {
    font-family: "GothamProLightItalic";
    src: url("../fonts/GothamProLightItalic.ttf");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "GothamProRegular"; */
@font-face {
    font-family: "GothamProRegular";
    src: url("../fonts/GothamProRegular.ttf");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "GothamProMediumItalic"; */
@font-face {
    font-family: "GothamProMediumItalic";
    src: url("../fonts/GothamProMediumItalic.ttf");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "GothamProBold"; */
@font-face {
    font-family: "GothamProBold";
    src: url("../fonts/GothamProBold.ttf");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "GothamProBoldItalic"; */
@font-face {
    font-family: "GothamProBolditalic";
    src: url("../fonts/GothamProBoldItalic.ttf");
    font-style: normal;
    font-weight: normal;
}

.pages {
    margin: 0;
}

.system-page .navbar-fixed-top {
    display: none;
}

.pages .container-403 {
    background-image: url("../img/system/403-bg.jpg");
}

.pages .container-404 {
    background-image: url("../img/system/404-bg.jpg");
    position: relative;
}

.pages .container-403, .pages .container-404 {
    height: 100vh;
    max-width: 100vw;
    padding: 0 65px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    overflow: hidden;
}

.pages .container-403 .logo, .pages .container-404 .logo {
    width: 180px;
    height: 52px;
    cursor: pointer;
    background-image: url(../img/system/logo.png);
}

.pages .container-403 .logo img, .pages .container-404 .logo img {
    max-width: 100%;
}

.pages .container-403 .error-text, .pages .container-404 .error-text {
    width: 100%;
    color: #FFFFFF;
    position: relative;
}

.pages .container-403 .error-text .error-code, .pages .container-404 .error-text .error-code {
    position: relative;
    height: 95px;
}

.pages .container-403 .error-text .error-code p, .pages .container-404 .error-text .error-code p {
    font-family: "IntroRustG";
    font-size: 260px;
    line-height: 0;
    position: absolute;
    margin: 0;
}

.pages .container-403 .error-text p, .pages .container-404 .error-text p {
    font-family: "GothamProRegular";
    font-size: 41px;
    margin: 25px 0;
}

.pages .container-403 .link-to-home, .pages .container-404 .link-to-home {
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 60px;
    z-index: 15;
}

.pages .container-403 .link-to-home a, .pages .container-404 .link-to-home a {
    color: rgba(255, 255, 255, 0.72);
    font-family: "GothamProRegular";
    font-size: 25px;
}

.pages .container-403 .header, .pages .container-404 .header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 15px;
}

.pages .container-404 .header {
    position: relative;
    z-index: 12;
}

.pages .container-404 .header span {
    color: #FFFFFF;
    padding: 0 15px;
    font-size: 25px;
    font-family: gothamprobold;
    top: 3px;
    position: relative;
}

.pages .container-404 .error-text p {
    position: relative;
    z-index: 2;
}

.pages .container-404 .error-text .comet {
    position: absolute;
    display: block;
    top: 52px;
    left: -31px;
}

.pages .container-404 .parallax {
    position: absolute;
    display: block;
    width: 100vw;
    height: 100vh;
    left: 0;
    right: 0;
}

.pages .container-404 .parallax .home-1 {
    position: absolute;
    bottom: 0;
    right: 25%;
    z-index: 4;
    display: block;
    width: 225px;
    height: 248px;
}

.pages .container-404 .parallax .home-2 {
    position: absolute;
    top: 36%;
    right: 35%;
    z-index: 5;
    display: block;
    width: 389px;
    height: 373px;
}

.pages .container-404 .parallax .home-3 {
    position: absolute;
    right: 5%;
    top: 10%;
    z-index: 6;
    display: block;
    width: 471px;
    height: 496px;
}

.pages .container-404 .parallax .home-4 {
    position: absolute;
    top: -25%;
    left: 17%;
    z-index: 7;
    display: block;
    width: 613px;
    height: 590px;
}

.pages .container-404 .parallax .error-code {
    position: absolute;
    right: 0;
    left: 0;
    top: 17%;
}

.pages .container-404 .parallax .error-code p {
    text-align: center;
    font-size: 200px;
    color: #FFFFFF;
    font-family: "IntroRustG";
    position: relative;
}

.pages .container-404 .parallax .planet {
    position: absolute;
    bottom: -285px;
    z-index: 3;
    display: block;
    left: 0;
    right: 0;
}

.pages .container-404 .parallax .planet img {
    display: block;
    margin: auto;
}

.pages .container-404 .parallax .light {
    position: absolute;
    z-index: 2;
    display: block;
    left: 0;
    bottom: -310px;
    right: 0;
}

.pages .container-404 .parallax .light img {
    display: block;
    margin: auto;
}

.pages .container-404 .parallax .stars {
    position: absolute;
    z-index: 1;
}
