.pages .page-services {
    font-family: "GothamProRegular";
    padding: 0 15px 65px;
    margin-top: 95px;
}

.pages .page-services .block-one .page-title {
    font-family: "IntroRustG";
    font-size: 32px;
    color: #810C74;
}

.pages .page-services .block-one .services-navigation {
    padding: 30px 0;
}

.pages .page-services .block-one .services-navigation ul {
    padding: 0;
    max-width: 1024px;
    margin: auto;
}

.pages .page-services .block-one .services-navigation ul li {
    font-size: 21px;
    list-style: none;
    display: inline-block;
    padding: 7px 12px;
    font-weight: 800;
}

.pages .page-services .block-one .services-navigation ul li a {
    color: #FFB74F;
}

.pages .page-services .block-one .services-navigation ul .active a {
    color: #FF9600;
}

.pages .page-services .block-one .navs {
    width: 100px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: auto;
}

.pages .page-services .block-one .navs .btn-prev, .pages .page-services .block-one .navs .btn-next {
    background-color: transparent;
    border: none;
    height: 35px;
    width: 33px;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.pages .page-services .block-one .navs .btn-prev img, .pages .page-services .block-one .navs .btn-next img {
    height: 100%;
}

.pages .page-services .block-one .navs .btn-prev:hover, .pages .page-services .block-one .navs .btn-next:hover {
    opacity: 1;
}

.pages .page-services .block-one .navs .btn-prev img {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.pages .page-services .block-one .service-title {
    text-align: center;
    font-size: 32px;
    font-family: "IntroRustG";
    color: #810C74;
    padding: 20px 0;
}

.pages .page-services .block-one .service-text {
    max-width: 1370px;
    margin: auto;
    font-size: 18px;
}

.pages .page-services .block-one .service-text ul li {
    list-style: none;
    font-family: "gothamProbold";
    padding: 3px 0;
}

.pages .page-services .block-one .service-text ul li:before {
    background-image: url("../svg/marker.svg");
    content: "";
    display: inline-block;
    height: 15px;
    width: 15px;
    margin-right: 11px;
    background-repeat: no-repeat;
    font-family: "gothamProregular";
}

.pages .page-services .block-one .projects-title {
    text-align: center;
    font-size: 25px;
    font-family: "GothamProBold";
    color: #A34E9A;
    padding: 15px 0;
}

.pages .page-services .block-one .item {
    margin-bottom: 20px;
}

.pages .page-services .block-one .cells {
    display: block;
    max-width: 1770px;
    margin: auto;
    text-align: center;
}

.pages .page-services .block-one .cells .cell {
    max-width: 432px;
    max-height: 297px;
    height: 100%;
    display: inline-block;
    overflow: hidden;
    margin: 10px auto;
    position: relative;
}

.pages .page-services .block-one .cells .cell img {
    width: 100%;
    max-height: inherit;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.pages .block-two .block-title {
    font-size: 25px;
    font-family: "GothamProBold";
    text-align: center;
    color: #A34E9A;
    padding: 25px 0 15px;
}

.pages .block-two .cells {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 1680px;
    margin: auto;
}

.pages .block-two .cells .cell {
    max-width: 344px;
    width: 100%;
    text-align: center;
    margin: 30px 35px;
}

.pages .block-two .cells .cell .image {
    width: 170px;
    height: 170px;
    margin: auto;
}

.pages .block-two .cells .cell .title {
    font-size: 25px;
    font-family: "IntroRustG";
    margin: 25px 0 10px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.pages .block-two .cells .cell .description {
    font-size: 18px;
    color: #585B58;
}

.pages .block-two .desk {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 1370px;
    margin: auto;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.pages .block-two .desk .left-column, .pages .block-two .desk .right-column {
    max-width: 647px;
    padding: 25px 0;
}

.pages .block-two .desk .left-column p, .pages .block-two .desk .right-column p {
    text-align: justify;
    font-size: 18px;
}

.pages .block-three {
    padding: 35px 0 80px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(51, 4, 47, 0.63)), to(rgba(51, 4, 47, 0.63))), url("../img/system/services-block-three-bg-100.jpg");
    background-image: -webkit-linear-gradient(bottom, rgba(51, 4, 47, 0.63), rgba(51, 4, 47, 0.63)), url("../img/system/services-block-three-bg-100.jpg");
    background-image: -o-linear-gradient(bottom, rgba(51, 4, 47, 0.63), rgba(51, 4, 47, 0.63)), url("../img/system/services-block-three-bg-100.jpg");
    background-image: linear-gradient(to top, rgba(51, 4, 47, 0.63), rgba(51, 4, 47, 0.63)), url("../img/system/services-block-three-bg-100.jpg");
}

.pages .block-three .block-title {
    text-align: center;
    font-size: 25px;
    font-family: "GothamProBold";
    color: #FFFFFF;
}

.pages .block-three .desk {
    max-width: 1386px;
    margin: auto;
}

.pages .block-three .desk .nav-tabs {
    border-bottom: 3px solid #FF9600;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.pages .block-three .desk .nav-tabs li {
    font-size: 20px;
    padding-bottom: 15px;
}

.pages .block-three .desk .nav-tabs li a {
    color: #FFFFFF;
    border: none;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.pages .block-three .desk .nav-tabs li:hover a {
    color: #FF9600;
    background-color: transparent;
}

.pages .block-three .desk .nav-tabs .active {
    font-family: "GothamProBold";
    background-image: url("../svg/active-nav-services.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 26px;
}

.pages .block-three .desk .nav-tabs .active a {
    color: #FF9600;
    background-color: transparent;
}

.pages .block-three .desk .tabs {
    background-color: #FFFFFF;
    padding: 60px;
    min-height: 500px;
}

.pages .block-three .desk .tabs .tab-content .tab-pane .content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.pages .block-three .desk .tabs .tab-content .tab-pane .content .left-column {
    max-width: 428px;
    width: 100%;
    padding-top: 65px;
}

.pages .block-three .desk .tabs .tab-content .tab-pane .content .left-column .image img {
    max-width: 100%;
}

.pages .block-three .desk .tabs .tab-content .tab-pane .content .right-column {
    max-width: 730px;
    width: 100%;
}

.pages .block-three .desk .tabs .tab-content .tab-pane .content .right-column ul {
    padding-left: 0;
}

.pages .block-three .desk .tabs .tab-content .tab-pane .content .right-column ul li {
    margin-left: 16px;
}

.pages .block-fourth {
    padding: 50px 0;
}

.pages .block-fourth p {
    font-size: 18px;
    max-width: 1386px;
    text-align: center;
    margin: auto;
}