.pages .page-company .block-one {
    display: table;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.pages .page-company .company-additional-caption {
    max-width: 350px;
    max-height: 200px;
    padding: 20px;
    border: 3px solid #FF9600;
    color: #fff;
}

.pages .page-company .company-about-us {
    background-color: rgb(255, 150, 2);
    min-height: 330px;
    width: 100%;
    display: block;
    padding: 103px 0;
    text-align: center;
}

.pages .page-company .company-about-us .text {
    display: block;
    max-width: 1000px;
    position: relative;
    margin: auto;
    padding: 0 15px;
}

.pages .page-company .company-about-us .text p {
    color: #33042F;
    text-align: left;
    font-size: 20px;
}

.pages .page-company .company-about-us .text h2 {
    font-family: "introrustG";
    color: rgb(129, 12, 116);
}

.pages .page-company .company-about-us .text li {
    font-family: "GothamProRegular";
    text-align: left;
    font-size: 17px;
    list-style: decimal;
    color: rgb(129, 12, 116);
}

.pages .page-company .company-about-us .text li ul li {
    list-style: none;
}

.pages .page-company .company-about-us .text p:before {
    height: 78px;
    position: absolute;
    width: 0;
    display: block;
    content: '';
    box-shadow: 0 0 0 7px #ff9600;
    top: 15px;
    left: -50px;
}

.pages .page-company .page-title {
    color: #810C74;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: 'IntroRustG';
    padding-bottom: 30px;
}

.pages .page-company .block-six {
    padding: 0;
}

.pages .page-company .block-six .desk .radial-cell {
    display: flex;
    flex-direction: row;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: flex-start;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
}

.pages .page-company .cell {
    max-height: 250px;
    width: 250px;
    height: auto;
    overflow: hidden;
    margin-left: 20px;
    margin-right: 20px;
}

.pages .page-company .cell img {
    height: auto;
    width: 100%;
}

.pages .page-company .subblock-technology {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow-x: auto;
    counter-reset: myCounter-1;
    background-attachment: fixed;
    background-image: url("../img/system/company-etapes.jpg");
    background-size: cover;
}

.pages .page-company .subblock-technology .mask {
    width: 100%;
    padding: 35px 15px 10px;
    background-color: rgba(129, 12, 116, .5);
}

.pages .page-company .subblock-technology .mask .cell {
    display: inline-block;
    max-width: 275px;
    width: 100%;
    padding: 30px 50px;
}

.pages .page-company .subblock-technology .mask .title {
    font-family: "introRustG";
    color: rgb(255, 150, 0);
}

.pages .page-company .subblock-technology .cell:before {
    display: block;
    font-family: "IntroRustG";
    counter-increment: myCounter-1;
    content: "0"counter(myCounter-1);
    color: rgba(255, 255, 255, 0.5);
    font-size: 100px;
    line-height: 80px;
}

.pages .page-company .subblock-technology .cell .description {
    font-family: GothamProBold;
    font-size: 20px;
    letter-spacing: 0;
    color: rgb(255, 150, 0);
    min-height: 56px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.pages .page-company .subblock-technology img {
    max-width: inherit;
}

.pages .page-company .footer {
    background-color: #3c0336;
    padding: 15px;
    max-height: 275px;
    height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: flex-end;
}

.pages .page-company .form-position-block .forma {
    background-color: #FFFFFF;
    padding: 15px 25px 25px;
    border-radius: 3px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 1370px;
    width: 100%;
    bottom: 0;
    min-height: 425px;
    -webkit-box-shadow: 0 0 20px 0 rgba(35, 35, 35, 0.53);
    box-shadow: 0 0 20px 0 rgba(35, 35, 35, 0.53);
    top: 50px;
}

.pages .page-company .form-position-block .forma form input[type=text],
.pages .page-company .form-position-block .forma form input[type=tel],
.pages .page-company .form-position-block .forma form input[type=email] {
    border: 1px solid #989B98;
    border-radius: 3px;
    height: 40px;
    width: 230px;
    padding: 0 0 0 15px;
    color: #232323;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    margin: 0 0 15px 0;
}

.pages .page-company .form-position-block .forma form input::-webkit-input-placeholder,
.pages .page-company .form-position-block .forma form textarea::-webkit-input-placeholder {
    transition: 0.2s;
}

.pages .page-company .form-position-block .forma form input:focus,
.pages .page-company .form-position-block .forma form textarea:focus {
    border-color: #FF9600;
    color: #FF9600;
}

.pages .page-company .form-position-block .forma form input:focus::-webkit-input-placeholder,
.pages .page-company .form-position-block .forma form textarea:focus::-webkit-input-placeholder {
    opacity: 0;
}

.pages .page-company .form-position-block .forma form {
    display: block;
    max-width: 950px;
    text-align: center;
    margin: auto;
}

.pages .page-company .form-position-block .forma form .inputs {
    display: inline-block;
    vertical-align: top;
    max-width: 230px;
    max-height: 206px;
    margin: auto;
}

.pages .page-company .form-position-block .forma form textarea {
    max-width: 646px;
    max-height: 205px;
    height: 100vh;
    width: 100%;
    border-radius: 3px;
    border-color: #989B98;
    outline: none;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    display: inline-block;
    vertical-align: top;
    margin: auto;
    padding: 10px 15px;
    resize: none;
}

.pages .page-company .desk .cell {
    min-height: 130px;
    margin-bottom: 30px;
}

.pages .page-company .desk .cell .service-title {
    color: #ff9602;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: gothamProBoldItalic;
    border: 5px solid rgba(0,0,0,0);
    transition: 0.2s;
}

.pages .page-company .desk .cell:hover .service-title {
    border-color: #FF9600;
}

@media screen and (max-width: 1370px) {
    .pages .page-company .subblock-technology {
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
}

@media screen and (min-width: 1051px) {
    .pages .page-company .subblock-technology {
        margin: 60px 0 220px;
    }
}

@media screen and (max-width: 1050px) {
    .page-company .form-position-block .forma {
        position: relative;
        top: 0;
    }

    .page-company .footer {
        height: auto;
    }
}

@media screen and (min-width: 947px) {
    .page-company .form-position-block .forma form .inputs {
        margin-right: 15px;
    }
}

@media screen and (max-width: 931px) {
    .pages .page-company .form-position-block .forma {
        position: relative;
        top: inherit;
    }

    .pages .page-company .footer {
        height: inherit;
    }
}

@media screen and (max-width: 767px) {
    .company-about-us {
        padding: 33px 0;
    }
}