﻿a, textarea, input, a:focus, textarea:focus, input:focus {
    outline: none;
}

a, a:hover {
    text-decoration: none;
}

.pages header {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 12px 15px 0 #fff;
    z-index: 2;
}

.pages header .header {
    background-color: rgb(255, 255, 255);
}

.pages header .navbar-toggle:hover {
    background: transparent !important;
}

.left-sidebar-container {
    z-index: 1;
    position: relative;
}

.pages header .main-content {
    display: block;
}

header .header {
    padding: 0 25px;
    background-color: rgba(0, 0, 0, 0.48);
}

header .header .nav .open>a, header .header .nav .open>a:focus, header .header .nav .open>a:hover {
    background-color: rgba(0, 0, 0, 0);
}

header .navbar-nav {
    padding-top: 3px;
}

.header .main-content .group .call-number a {
    color: #ffb74f;
    font-family: "GothamProRegular";
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    font-size: 16px;
}

.header .main-content .group .call-number {
    display: inline-block;
    font-weight: 800;
    padding-bottom: 6px;
    max-width: 220px;
    text-align: right;
}

.header .main-content .group .call-number a:hover, .pages .main-content .group .call-number a:focus {
    color: #ffb74f;
    text-decoration: none;
    text-shadow: 0 0 1px #FF9600;
}

.header .main-content .group .city {
    position: relative;
    padding-bottom: 10px;
    max-width: 180px;
    width: 100%;
    display: inline-block;
    float: right;
}

.header .main-content .group .city ul li a {
    color: rgb(255, 150, 0);
    font-family: GothamproRegular;
}

.header .main-content .group .city ul li:hover a {
    padding-bottom: 3px;
    background-color: rgba(0,0,0,0.1);
}

.header .main-content .group .city ul li:hover:after {
    display: none;
}

.header .main-content .group .city .modal-question {
    position: absolute;
    z-index: 2;
}

.header .main-content .group .city .modal-question .content {
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    padding: 1px 15px;
    margin: auto;
    right: 0;
    left: 0;
    max-width: 185px;
    margin-top: 11px;
    box-shadow: 6px 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.header .main-content .group .city .modal-question .triangle {
    position: absolute;
    width: 14px;
}

.header .main-content .group .city .modal-question .content h5 {
    font-size: 12px;
    font-family: GothamProBold;
    color: rgb(255, 150, 0);
}

.header .navbar-fixed-top .navbar-collapse {
    max-height: 340px;
}

.header .main-content .group .city .modal-question .content .btn {
    background-color: rgb(255, 150, 2);
    border: none;
    border-radius: 2px;
    padding: 3px 12px;
    color: rgb(255, 255, 255);
    font-size: 12px;
    opacity: 0.5;
    transition: 0.2s;
    margin: 0 5px;
    outline: none;
}

.header .main-content .group .city .modal-question .content .btn:hover {
    opacity: 1;
}

.header .main-content .group .city .modal-question .content .active {
    opacity: 1;
}

.header .main-content .menu .custom-caret {
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    max-width: 12px;
    vertical-align: middle;
    padding: 6px 0;
    position: relative;
    left: 3px;
    float: right;
}

.pages .page-contacts .map-content .contacts .social-networks .network i:before {
    font-size: 23px;
    color: rgb(129, 14, 116);
}

.pages .article-categories .content ul li a {
    text-decoration: none;
    color: #fff;
}

.pages .article-categories .content ul li:hover a {
    color: #fff;
}

.pages .footer {
    background-color: #232323;
    padding: 15px;
    min-height: 50px;
    display: block;
    width: 100%;
    z-index: 2;
}

.pages .footer .main-content {
    display: block;
    margin: auto auto 0;
}

.pages .footer .main-content .copiright {
    color: #FFFFFF;
    display: inline-block;
}

.footer .main-content .company-development {
    color: #FFFFFF;
    display: inline-block;
    float: right;
}

.footer .main-content .company-development span a {
    color: #FF9600;
    text-decoration: none;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.footer .main-content .company-development span a:hover {
    text-decoration: none;
    color: #FF9600;
    text-shadow: 0 0 2px #FF9600;
}

.footer .main-content .btn-scroll-to-top {
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 100%;
    background-color: #fff;
    position: fixed;
    display: none;
    right: 15px;
    bottom: 7%;
    background-image: url(../svg/btn-scroll-to-top.svg);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    opacity: 0;
    z-index: 5;
}

.pages .page-projects .main-content .cells {
    display: block;
    text-align: center;
    width: 100%;
    padding-bottom: 35px;
    padding-top: 30px;
}

.page-projects {
    margin-top: 120px;
}

.pages .page-projects .main-content .cells .cell {
    display: inline;
}

.pages .page-projects .main-content .cells .cell .image {
    overflow: hidden;
    max-height: 294px;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.pages .page-projects .main-content .cells .cell .image img {
    max-height: 100%;
    max-width: inherit;
}

.pages .page-projects .main-content .cells .cell .info {
    width: 100%;
    max-width: 393px;
    text-align: left;
}

.pages .page-projects > .project-info-tabs .main-content .cells .cell {
    max-width: 427px;
    margin-bottom: 45px;
    width: 100%;
    padding: 0 15px;
}

.pages .page-projects > .project-info-tabs .main-content .cells .cell .image {
    overflow: hidden;
    display: flex;
    max-height: 294px;
    justify-content: center;
}

.body-page-detail .page-project-detail {
    padding-bottom: 60px;
    margin-top: 0;
}

.page-project-detail .project-detail-page-header .header {
    background-color: rgba(35, 35, 35, 0.2) !important;
}

.page-project-detail .project-detail-page-header .breadcrumd {
    background: none;
}

.page-project-detail .project-detail-page-header .search-block {
    display: none;
}

.page-project-detail .project-info-detail .info-project p {
    display: table;
    font-family: "GothamProRegular";
    color: #232323;
    font-size: 14px;
}

.page-project-detail .project-info-detail .info-project p .parametr {
    width: 200px;
    color: #989B98;
    font-size: 12px;
}

.page-project-detail .project-info-detail .info-project p span {
    display: inline-block;
}

.page-project-detail .project-info-detail .info-project-tabs .sell {
    color: rgb(255, 150, 0);
    font-size: 20px;
    margin: 15px 0;
    display: inline-block;
}

.page-project-detail .project-info-tabs .navs .nav-tabs li a {
    color: inherit;
}

.page-project-detail .project-info-tabs .navs .nav-tabs .active a {
    background-color: transparent;
    border: none;
    font-family: "GothamProBold";
}

.page-project-detail .project-info-tabs .navs .nav-tabs .active a:after {
    content: '';
    display: block;
    position: relative;
    width: 100%;
    background-color: #FF9600;
    height: 3px;
    top: 11px;
}

.page-project-detail .project-info-tabs .tabs .tab-content .tab-pane .info-desk {
    background-color: rgba(255, 204, 136, 0.25);
    padding: 35px 15px;
}

.page-project-detail .project-info-tabs .tabs .tab-content .tab-pane .info-desk p {
    display: table;
    max-width: 500px;
    width: 100%;
    margin: 0 auto 10px;
}

.page-project-detail .project-info-tabs .tabs .tab-content .tab-pane .info-desk p span {
    display: inline-block;
}

.page-project-detail .project-info-tabs .tabs .tab-content .tab-pane .info-desk p .parametr {
    width: 250px;
    text-align: right;
    padding-right: 30px;
}

.page-catalog .left-sidebar-container .left-sidebar .block-filter {
    margin: 15px 0;
    display: block;
}

.page-catalog .left-sidebar-container .left-sidebar .block-filter .sub-group {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 15px;
}

.page-catalog .left-sidebar-container .left-sidebar .sort .dropdown .select img {
    max-width: 13px;
}

.page-catalog .catalog-content .catalog-cells .cell {
    vertical-align: top;
}

.page-catalog .catalog-content .catalog-cells {
    display: block;
    padding-bottom: 50px;
}

.page-catalog .catalog-content .catalog-cells .cell .image {
    overflow: hidden;
    display: block;
    height: 100vh;
}

.page-catalog .catalog-content .catalog-cells .cell .image img {
    max-width: 100%;
    min-height: 100%;
    min-width: 100%;
    max-height: none;
}

.page-catalog .catalog-content .catalog-cells .cell .image div {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 95px;
    max-height: 54px;
    width: 100%;
    margin: auto;
}

.page-catalog .catalog-content .catalog-cells .cell .info-block .icons .price {
    text-align: right;
    display: table-cell;
    vertical-align: middle;
}

.page-catalog .catalog-content .catalog-cells .cell .info-block .icons .price p {
    margin-bottom: 0;
    color: rgb(35, 35, 35);
}

.page-catalog .catalog-content .catalog-cells .cell .info-block .icons .price p span {
    font-family: "gothamProBold";
}

.contact-page .search-block, .about-page .search-block {
    display: none;
}

.about-page .breadcrumd p a {
    color: rgb(255, 255, 255) !important;
    opacity: 0.4;
}

.about-page .breadcrumd p .delimiter {
    color: rgba(255, 255, 255, 0.4);
}

header .breadcrumd p a {
    transition: 0.2s;
}

header .breadcrumd p a:hover {
    text-decoration: underline;
    opacity: 1;
}

.about-page .breadcrumd p .you-here {
    color: #fff !important;
}

.about-page .logo {
    background-image: url(../img/system/logo-light.png) !important;
}

.header .logo {
    width: 180px;
    height: 52px;
    background-image: url("../img/system/logo-light.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
}

.about-page header {
    background-image: none !important;
    position: absolute;
    box-shadow: none;
    background-color: rgba(0,0,0,0);
}

.about-page header .header {
    background-color: rgba(0, 0, 0, 0.19);
}

.about-page .main-content .menu .active a {
    color: #ffb74f !important;
}

.about-page .main-content .menu li a {
    color: #fff;
}

.modal-content .close {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 35px;
    border: 3px solid rgba(137, 137, 137, 0);
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 100%;
    padding: 0;
    color: rgb(137, 137, 137);
    transition: 0.2s;
}

.modal-content .close:hover {
    border: 3px solid rgb(255, 150, 2);
    color: rgb(255, 150, 2);
    opacity: 0.8;
}

@media screen and (max-width: 768px) {
    .about-page header {
        position: absolute !important;
    }
}

/* а это промежуточная страница*/

@font-face {
    font-family: "GothamProRegular";
    src: url("fonts/GothamProRegular/GothamProRegular.eot");
    src: url("fonts/GothamProRegular/GothamProRegular.eot?#iefix")format("embedded-opentype"),
    url("fonts/GothamProRegular/GothamProRegular.woff") format("woff"),
    url("fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "GothamProBold";
    src: url("fonts/GothamProBold/GothamProBold.eot");
    src: url("fonts/GothamProBold/GothamProBold.eot?#iefix")format("embedded-opentype"),
    url("fonts/GothamProBold/GothamProBold.woff") format("woff"),
    url("fonts/GothamProBold/GothamProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.intermediate-page {
    margin: 125px 0 60px;
}

.intermediate-page .search-block {
    display: none;
}

.intermediate-page .cell {
    position: relative;
    display: inline-block;
    max-width: 558px;
    max-height: 405px;
    width: 100%;
    height: 100%;
    margin: 10px 20px 10px 20px;
    background-image: url(http://lakeolympiaanimal.com/wp-content/uploads/Mouse.jpg);
    background-position: center;
    background-size: cover;
}

.intermediate-page .cell .mask {
    display: table;
    position: absolute;
    background-color: rgba(129, 12, 116, 0.7);
    width: 100%;
    height: 100%;
    padding: 0 15px;
}

.intermediate-page .cell .mask .content {
    display: table-cell;
    color: #fff;
    vertical-align: top;
    padding-top: 95px;
}

.intermediate-page .cell .mask .content h1 {
    font-family: 'GothamProBold';
    font-size: 45px;
}

.intermediate-page .cell .mask .content h1:after {
    display: block;
    content: '';
    height: 2px;
    width: 180px;
    background-color: #fff;
    margin: 15px auto;
}

.intermediate-page .cell .mask .content .description {
    font-family: 'GothamProRegular';
    font-size: 18px;
}

.intermediate-page #work {
    background-image: url('/static/frontend/img/system/work.jpg');
}

.intermediate-page #calc {
    background-image: url('/static/frontend/img/system/calc.jpg');
}

.intermediate-page #proj {
    background-image: url('/static/frontend/img/system/proj.jpg');
}

/** Медиа запросы **/
@media screen and (max-width: 1199px) {
    .intermediate-page .cell {
        margin: 10px 0;
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    .intermediate-page {
        margin: 10px 0 60px;
    }
}

@media screen and (max-width: 584px) {
    .intermediate-page {
        margin: 10px 0 0;
    }
}

@media screen and (max-width: 400px) {
    .intermediate-page .cell .mask .content h1 {
        font-size: 33px;
    }
    .intermediate-page .cell .mask .content .description {
        font-size: 16px;
    }
}