﻿.pages {
    /* Смежные классы */
    /* End Смежные классы */
    /*---------- primary page-container ----------*/
    /*---------- end primary page-container ----------*/
    /*---------- footer ----------*/
    /*---------- end footer ----------*/
}

.pages .nav .open > a, .pages .nav .open > a:focus, .pages .nav .open > a:hover {
    background-color: transparent !important;
}

.pages button, .pages input {
    outline: none;
}

.pages .btn-purple {
    background-color: #810C74;
    color: #FFFFFF;
    border: none;
    font-size: 18px;
    font-family: "GothamProBold";
    width: 210px;
    height: 40px;
    position: relative;
    border-radius: 2px;
}

.pages .btn-download {
    padding-left: 50px;
    max-width: 150px;
    background-color: transparent;
    border: none;
    text-align: left;
    background-image: url(../svg/btn-download.svg);
    background-repeat: no-repeat;
    height: 34px;
    font-size: 18px;
    line-height: 18px;
}

.pages body {
    font-family: "GothamProRegular", "Helvetica Neue", "Helvetica,Arial,sans-serif" !important;
    letter-spacing: 1px;
}

.pages header .navbar-toggle:hover {
    background: transparent !important;
}

.pages header .navbar-toggle .icon-bar {
    width: 22px;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.pages header .navbar-toggle .top-bar {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 10% 10%;
    -ms-transform-origin: 10% 10%;
    transform-origin: 10% 10%;
}

.pages header .navbar-toggle .middle-bar {
    opacity: 0;
}

.pages header .navbar-toggle .bottom-bar {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 10% 90%;
    -ms-transform-origin: 10% 90%;
    transform-origin: 10% 90%;
}

.pages header .navbar-toggle.collapsed .top-bar {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

.pages header .navbar-toggle.collapsed .middle-bar {
    opacity: 1;
}

.pages header .navbar-toggle.collapsed .bottom-bar {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

.pages header .navbar-toggle {
    margin-right: 0;
}

.pages header .navbar-toggle .icon-bar {
    background: #ff9600;
}

.pages header .navbar-toggle:hover {
    background: transparent !important;
}

.pages header .navbar-toggle .icon-bar {
    width: 22px;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.pages header .navbar-toggle .top-bar {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 10% 10%;
    -ms-transform-origin: 10% 10%;
    transform-origin: 10% 10%;
}

.pages header .navbar-toggle .middle-bar {
    opacity: 0;
}

.pages header .navbar-toggle .bottom-bar {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 10% 90%;
    -ms-transform-origin: 10% 90%;
    transform-origin: 10% 90%;
}

.pages header .navbar-toggle.collapsed .top-bar {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

.pages header .navbar-toggle.collapsed .middle-bar {
    opacity: 1;
}

.pages header .navbar-toggle.collapsed .bottom-bar {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

.pages .logo {
    background-image: url(../img/system/logo-dark.png);
}

.body-page-detail .logo {
    background-image: url(../img/system/logo-light.png) !important;
}

.body-page-detail header {
    background-color: rgba(0,0,0,0);
    box-shadow: none;
}

.body-page-detail .main-content .menu .active a {
    color: #ffb74f !important;
}

.body-page-detail .main-content .menu .collapse>ul li a {
    color: #fff !important;
}

.body-page-detail .breadcrumd p a, .body-page-detail .breadcrumd p .delimiter {
    color: rgba(255, 255, 255, 0.4) !important;
}

.body-page-detail .breadcrumd p .you-here {
    color: #fff !important;
}

.pages .logo img {
    max-width: 100%;
    max-height: 100%;
}

.pages .breadcrumd {
    font-size: 12px;
    padding: 10px 25px 0;
}

.pages .breadcrumd p a {
    color: rgb(129, 12, 116);
    opacity: 0.4;
}

.pages .breadcrumd p .you-here {
    color: #A34E9A;
}

.pages .search-block {
    padding: 10px 25px 5px;
}

.services-page .search-block, .catalog-page .search-block, .works-page .search-block, .etapes-page .search-block {
    display: none;
}

.pages .search-block .search {
    width: 170px;
    height: 30px;
    border: 1px solid #FFCC88;
    border-radius: 5px;
    background-image: url(../svg/search-bg.svg);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 5px center;
    padding: 0 5px;
}

.pages .search-block .search:focus {
    background-image: none;
}

.pages .main-content {
    max-width: 1770px;
    width: 100%;
    margin: auto;
}

.header .main-content .menu {
    display: inline-block;
    float: right;
}

.pages .page-etaps {
    margin: 139px auto 0;
}

.header .main-content .menu ul li:hover ul, .header .main-content .menu ul .open ul {
    background-color: rgba(106, 106, 106, 0.7);
    -webkit-box-shadow: 0 3px 11px -1px rgba(0, 0, 0, 0.175);
    box-shadow: 0 3px 11px -1px rgba(0, 0, 0, 0.175);
    border-left: 0;
    border-right: 0;
}

.pages .main-content .menu ul li:hover ul li a, .pages .main-content .menu ul li:hover ul li a:hover {
    color: #FFFFFF;
    font-family: GothamProRegular;
}

.pages .main-content .menu ul li:hover ul li:hover {
    background-color: rgba(131, 81, 127, 0.77);
}

.pages .main-content .menu ul li:hover ul li:hover:after {
    display: none;
}

.pages .main-content .menu ul .open ul li a, .pages .main-content .menu ul .open ul li a:hover {
    color: #FFFFFF;
    font-family: "GothamProRegular";
}

.pages .main-content .menu ul .open ul li:hover {
    background-color: rgba(131, 81, 127, 0.77);
}

.pages .main-content .menu ul .open ul li:hover:after {
    display: none;
}

.pages .main-content .menu li a {
    color: #ffb74f;
}

.about-page header .main-content .menu li a {
    color: rgb(255, 255, 255);
}

.header .main-content .menu a {
    background-color: rgba(0, 0, 0, 0);
}

.header .main-content .menu a:hover {
    color: #ffb74f;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    background-color: rgba(0, 0, 0, 0);
}

.pages .main-content .menu .active a {
    color: #810C74;
}

.pages .main-content .menu .custom-caret {
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    max-width: 12px;
    vertical-align: middle;
    padding: 6px 0;
    position: relative;
    left: 3px;
}

.pages .main-content p {
    margin: 0;
}

.pages .main-content a {
    color: #ffb74f;
    font-family: "GothamProRegular";
    text-decoration: none;
}

.pages .main-content .decor-line {
    width: 150px;
    height: 718px;
    background-color: rgba(255, 150, 0, 0.67);
    position: absolute;
    top: 0;
    left: 297px;
    display: none;
}

.pages .main-content .decor-line:before {
    content: '';
    display: block;
    width: 0px;
    background-color: #FF9600;
    -webkit-box-shadow: 0 0 0 6px #FF9600;
    box-shadow: 0 0 0 6px #FF9600;
    height: 215px;
    float: left;
    top: 360px;
    position: relative;
}

.page-technology .img-inner-text {
    max-width: 430px;
    float: right;
    margin: 15px 0 15px 15px;
    width: 100%;
}

.pages .main-content .group .call-number a:hover, .pages .main-content .group .call-number a:focus {
    color: #ffb74f;
    text-decoration: none;
    text-shadow: 0 0 1px #FF9600;
}

.pages .main-content .group .city label {
    margin: 0;
    color: #B3B8B3;
}

.pages .main-content .group .city .open .select .custom-caret {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.pages .block-page-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;

    /*---------- left-sidebar ----------*/
    /*---------- end left-sidebar ----------*/
    /*---------- right-sidebar ----------*/
    /*---------- end right-sidebar ----------*/
}

.pages .block-page-container .left-sidebar-button {
    display: none;
}

.pages .block-page-container .left-sidebar {
    max-width: 342px;
    width: 100vw;
    float: left;
    overflow-y: scroll;
    background-color: rgba(179, 184, 179, 0.1);
    margin-top: 5px;
    top: 192px;
    position: fixed;
    bottom: 50px;
}

.pages .block-page-container .left-sidebar ul {
    padding: 0 15px 0 65px;
}

.pages .block-page-container .left-sidebar ul li {
    font-size: 18px;
    color: #FF9600;
    font-family: "GothamProBold";
    list-style: none;
    padding: 5px 0;
}

.pages .block-page-container .left-sidebar ul li a {
    color: inherit;
}

.pages .block-page-container .left-sidebar ul li ul {
    padding: 0;
}

.pages .block-page-container .left-sidebar ul li ul li {
    font-family: "GothamProRegular";
    font-size: 14px;
}

.pages .block-page-container .left-sidebar ul li ul li a {
    color: #989B98;
}

.pages .block-page-container .left-sidebar ul li ul .active a {
    color: #FF9600;
    text-decoration: underline;
}

.pages .block-page-container .left-sidebar > ul > li:after {
    display: block;
    content: '';
    height: 1px;
    background-color: rgba(152, 155, 152, 0.3);
    width: 110px;
    top: 5px;
    right: 65px;
    position: relative;
}

.pages .block-page-container .content-block {
    padding: 215px 70px 0;
    max-width: 1170px;
    width: 100%;
    bottom: 43px;
    position: relative;
    margin-left: 351px;
}

.pages .block-page-container .content-block .page-title {
    font-size: 18px;
    font-family: "IntroRustG";
    color: purple;
    text-align: center;
}

.pages .block-page-container .content-block .title {
    font-size: 25px;
    font-family: "GothamProBold";
    color: #ffb74f;
}

.pages .block-page-container .content-block .content {
    padding: 15px 0 15px 60px;
    text-align: justify;
    max-width: 100%;
}

.pages .block-page-container .content-block .content .forma {
    background-color: rgb(255, 150, 2);
    text-align: center;
    padding: 15px;
    border-radius: 2px;
    margin-top: 15px;
}

.pages .block-page-container .content-block .content .forma .form-title {
    color: rgb(255, 255, 255);
    font-family: "GothamProBold";
    font-size: 18px;
    letter-spacing: 0px;
    padding-bottom: 15px;
}

.pages .block-page-container .content-block .content .forma .group-title {
    font-size: 20px;
    font-family: "gothamProBold";
    color: rgb(129, 30, 116);
}

.pages .block-page-container .content-block .content .forma .more {
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-family: "gothamProbold";
    text-decoration: none;
    padding: 15px 5px;
}

.pages .block-page-container .content-block .content .forma .agreement {
    padding: 10px 10px 15px;
    font-weight: 800;
}

.pages .block-page-container .content-block .content .forma .agreement a {
    color: rgb(129, 14, 116);
}

.pages .block-page-container .content-block .content .forma .more i {
    position: relative;
    transition: .2s;
    top: 0;
}

.pages .block-page-container .content-block .content .forma .more[aria-expanded="true"] i {
    transform: rotate(180deg);
}

.pages .block-page-container .content-block .content .forma .more[aria-expanded="true"]:hover i {
    top: 0;
}

.pages .block-page-container .content-block .content .forma .more:hover i {
    top: 5px;
}

.pages .block-page-container .content-block .content .forma form input, .pages .block-page-container .content-block .content .forma form select {
    border: none;
    border-radius: 2px;
    padding: 5px;
    margin: 0 0 15px;
    width: 208px;
    outline: none;
}

.pages .block-page-container .content-block .content .forma form input::-webkit-input-placeholder {
    transition: 0.2s;
    opacity: .5;
}

.pages .block-page-container .content-block .content .forma form input:focus::-webkit-input-placeholder {
    opacity: 0;
}

.pages .block-page-container .content-block .content .img-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 5px 0 20px;
    overflow: hidden;
}

.pages .block-page-container .content-block .content .img-block .image {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    overflow: hidden;
}

.pages .block-page-container .right-sidebar {
    max-width: 372px;
    width: 100vw;
    float: right;
    overflow: hidden;
    padding-right: 50px;
    padding-top: 235px;
    position: relative;
}

.pages .block-page-container .right-sidebar .title {
    font-family: "GothamProBold";
    font-size: 16px;
}

.pages .block-page-container .right-sidebar .title:after {
    content: '';
    display: block;
    height: 1px;
    width: 380px;
    background-color: rgba(152, 155, 152, 0.4);
    position: relative;
    top: 10px;
}

.pages .block-page-container .right-sidebar ul {
    font-family: "GothamProBold";
    font-size: 18px;
    padding: 0;
}

.pages .block-page-container .right-sidebar ul li {
    list-style: none;
    line-height: 18px;
    padding: 10px 0;
}

.pages .block-page-container .right-sidebar ul li a {
    color: #989B98;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.pages .block-page-container .right-sidebar ul li:hover a {
    color: rgba(35, 35, 35, 0.7);
    text-decoration: none;
}

.pages .block-page-container .right-sidebar ul .active a {
    color: #232323;
}

.pages .block-page-container .right-sidebar ul .active:hover a {
    color: inherit;
}

.pages .article-categories {
    max-width: 1000px;
    margin: auto;
    float: left;
}

.pages .article-categories .bottom-menu {
    float: left;
    width: 100%;
}

.pages .article-categories .bottom-menu ul {
    padding: 15px 0 30px;
}

.pages .article-categories .bottom-menu ul li {
    padding: 5px 25px 5px 0;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.pages .article-categories .bottom-menu ul li a {
    color: #ffb74f;
    padding: 0;
    -webkit-text-decoration: 0;
    text-decoration: 0;
}

.pages .article-categories .bottom-menu ul li:hover a {
    color: #FF9600;
    text-decoration: underline;
    background-color: transparent;
}

.pages ::-webkit-scrollbar-button {
    width: 5px;
    height: 0px;
}

.pages .left-sidebar-container ::-webkit-scrollbar-track {
    background-color: transparent;
}

.pages .left-sidebar-container ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #B3B8B3;
}

.pages .left-sidebar-container ::-webkit-scrollbar-thumb:hover {
    background-color: #ffb74f;
}

.pages .left-sidebar-container ::-webkit-resizer {
    width: 4px;
    height: 0px;
}

.pages .left-sidebar-container ::-webkit-scrollbar {
    width: 10px;
}

.pages .page-questions .content-block .content {
    padding: 15px 0 15px 60px;
}

.pages .page-questions .content-block .content .img-block .image {
    max-width: 470px;
    width: 100%;
    max-height: 340px;
    height: 100vh;
}

.pages .page-technology .left-sidebar ul li {
    font-size: 25px;
    font-family: "IntroRustG";
}

.pages .page-technology .content-block .img-block .image {
    width: 580px;
    height: 340px;
}

.pages .page-technology .content-block .img-block .image-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.pages .page-technology .content-block .img-block .image-group .image {
    width: 370px;
    height: 220px;
}

.pages .page-technology .content-block .img-block .image-group .image-undergroup {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.pages .page-technology .content-block .img-block .image-group .image-undergroup .image {
    width: 175px;
    height: 100px;
}

.pages .page-technology .content-block .img-block img {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.pages .page-technology .right-sidebar .cell {
    margin: 30px auto;
    display: inline-block;
}

.pages .page-technology .right-sidebar .cell .image {
    width: 230px;
    height: 146px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.pages .page-technology .right-sidebar .cell .image img {
    min-height: 100%;
    min-width: 100%;
}

.pages .page-technology .right-sidebar .cell .cell-title {
    padding: 5px 0;
}

.pages .page-contacts .map-content {
    width: 100%;
    position: relative;
    display: block;
}

.pages .page-contacts .map-content .map {
    width: inherit;
}

.pages .page-contacts .map-content .map .infowindow {
    font-family: "GothamProRegular";
}

.pages .page-contacts .map-content .contacts {
    background-color: rgba(235, 237, 235, 0.8);
    padding: 25px 0 0 100px;
    height: inherit;
    position: absolute;
    width: 47%;
    top: 0;
    bottom: 50px;
    right: 0;
    overflow: auto;
}

.contact-page .footer .main-content .ogrn {
    color: rgba(255, 255, 255, 0.35);
    display: inline-block;
    padding-right: 15px;
}

.pages .page-contacts .map-content .contacts .title {
    color: #810C74;
    font-size: 18px;
    font-family: "IntroRustG";
}

.pages .page-contacts .map-content .contacts .social-networks {
    padding: 15px 0 30px;
}

.pages .page-contacts .map-content .contacts .social-networks .network .insta {
    width: 13px;
}

.pages .page-contacts .map-content .contacts .social-networks .network .vk {
    width: 23px;
    margin-right: 15px;
}

.pages .page-contacts .map-content .contacts .cells {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 677px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: left;
}

.pages .page-contacts .map-content .contacts .cells a {
    color: inherit;
}

.pages .page-contacts .map-content .contacts .cells .cell {
    max-width: 310px;
    width: auto;
    min-width: 285px;
    display: inline-block;
    margin: 15px 15px 15px 0;
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.2s;
}

.pages .page-contacts .map-content .contacts .cells .cell:hover {
    background-color: rgba(255,255,255,0.8);
    box-shadow: 6px 7px 15px 0 rgba(0,0,0,0.1);
}

.pages .page-contacts .map-content .contacts .cells .cell .cell-title {
    padding-bottom: 10px;
}

.pages .page-contacts .map-content .contacts .cells .cell .cell-title .city {
    font-family: "GothamProBold";
    font-size: 18px;
    color: #FF9600;
}

.pages .page-contacts .map-content .contacts .cells .cell .cell-title .belt {
    color: #989B98;
    font-size: 12px;
}

.pages .page-contacts .map-content .contacts .copiright {
    font-size: 12px;
    font-family: "GothamProLightItalic";
    color: #585B58;
    position: relative;
    padding-top: 15px;
}

.pages .article-categories .article-categories-title {
    font-family: "GothamProBold";
    font-size: 16px;
    color: #232323;
}

.pages .article-categories .content {
    padding: 15px 0 15px 60px;
}

.pages .article-categories .content ul {
    padding: 0;
}

.pages .article-categories .content ul li {
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    list-style: none;
}

.pages .article-categories .content ul li a {
    text-decoration: underline;
    color: #A34E9A;
}

.pages .article-categories .content ul li:hover a {
    color: #810C74;
}

.pages .page-projects .main-content .title {
    font-family: "IntroRustG";
    color: #810C74;
    font-size: 18px;
}

.pages .page-projects .main-content .subtitle {
    font-size: 16px;
    color: #585B58;
    font-family: "GothamProRegular";
    margin: 0;
}

.pages .page-projects .main-content .cells .cell {
    display: inline-block;
    max-width: 427px;
    margin: 0 auto 45px;
    width: 100%;
    padding: 0 15px;
}

.pages .page-projects .main-content .cells .cell .info {
    padding-top: 10px;
}

.pages .page-projects .main-content .cells .cell .info .name {
    font-family: "GothamProBold";
    font-size: 16px;
    color: #232323;
    padding-bottom: 5px;
}

.pages .page-projects .main-content .cells .cell .info .name .process {
    max-width: 15px;
    margin-left: 5px;
}

.pages .page-projects .main-content .cells .cell .info .city-year {
    color: #989B98;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.pages .page-projects .main-content .cells .cell .info .city-year .photo-count {
    width: 50px;
    text-align: right;
}

.pages .page-projects .main-content .cells .cell .info .city-year .photo-count img {
    max-width: 15px;
}

.pages .page-projects .search-block {
    display: none;
}

.pages .page-projects > .block-content {
    padding-top: 20px !important;
}

.pages .page-projects > .project-info-tabs .main-content .title {
    font-family: "IntroRustG";
    color: #810C74;
    font-size: 18px;
}

.pages .page-projects > .project-info-tabs .main-content .subtitle {
    font-size: 16px;
    color: #585B58;
    font-family: "GothamProBold";
    margin: 0;
}

.pages .page-projects > .project-info-tabs .main-content .cells {
    display: block;
    width: 100%;
    padding-bottom: 35px;
    padding-top: 30px;
}

.pages .page-projects > .project-info-tabs .main-content .cells .cell .info {
    padding-top: 10px;
}

.pages .page-projects > .project-info-tabs .main-content .cells .cell .info .name {
    font-family: "GothamProBold";
    font-size: 16px;
    color: #232323;
    padding-bottom: 5px;
}

.pages .page-projects > .project-info-tabs .main-content .cells .cell .info .name .process {
    max-width: 15px;
    margin-left: 5px;
}

.pages .page-projects > .project-info-tabs .main-content .cells .cell .info .city-year {
    color: #989B98;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.pages .page-projects > .project-info-tabs .main-content .cells .cell .info .city-year .photo-count {
    width: 50px;
    text-align: right;
}

.pages .page-projects > .project-info-tabs .main-content .cells .cell .info .city-year .photo-count img {
    max-width: 15px;
}

.pages .page-projects .sorting-block:after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background-color: #ffb74f;
}

.pages .page-projects .sorting-block .sorting {
    font-size: 18px;
    text-decoration: none;
    color: #232323;
    padding: 0 65px;
    margin: 20px 0;
    display: block;
    max-width: 262px;
    max-height: 30px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.pages .page-projects .sorting-block .sorting .custom-caret {
    max-width: 16px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.pages .page-projects .sorting-block .collapsed .custom-caret {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.pages .page-projects .sorting-block .block-filter {
    padding: 0 65px;
    width: 100%;
}

.pages .page-projects .sorting-block .block-filter .filter {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 475px;
    width: 100%;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.pages .page-projects .sorting-block .block-filter .filter .group-dropdown {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 345px;
    width: 100%;
}

.pages .page-projects .sorting-block .block-filter .filter .group-dropdown label {
    font-family: "GothamProRegular";
    color: #585B58;
}

.pages .page-projects .sorting-block .block-filter .filter .group-dropdown .select {
    background: transparent;
    border: 1px solid #B3B8B3;
    border-radius: 3px;
    width: 160px;
    height: 30px;
    font-family: "GothamProRegular";
    font-size: 12px;
    color: #B3B8B3;
    padding: 0 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.pages .page-projects .sorting-block .block-filter .filter .group-dropdown .select:hover {
    color: #FF9600;
    border-color: #ffb74f;
}

.pages .page-projects .sorting-block .block-filter .filter .group-dropdown .select .custom-caret {
    max-width: 12px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.pages .page-projects .sorting-block .block-filter .filter .group-dropdown .select p {
    margin: 0;
}

.pages .page-projects .sorting-block .block-filter .filter .group-dropdown .open .select {
    color: #FF9600;
    border-color: #ffb74f;
}

.pages .page-projects .sorting-block .block-filter .filter .group-dropdown .open .select .custom-caret {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

.pages .page-projects .sorting-block .block-filter .filter .clear {
    background-color: transparent;
    border: none;
    height: 30px;
    width: 105px;
    background-image: url("../svg/clear-cross.svg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 18px;
    text-align: left;
    color: rgba(179, 184, 179, 0.6);
    font-size: 15px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.pages .page-projects .sorting-block .block-filter .filter .clear:hover {
    color: #FF9600;
}

.page-project-detail .project-detail-page-header {
    background-image: url("../img/system/left-grad.png"), url("../img/system/right-grad.png"), url("../img/system/detail-head-bg.jpg");
    background-repeat: no-repeat;
    background-position: left, right, center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-height: 440px;
    height: 100vh;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 65px;
    position: relative;
}

.body-page-detail .header {
    background-color: rgba(35, 35, 35, 0.8) !important;
}

.body-page-detail header .breadcrumd {
    background: transparent;
}

.body-page-detail .search-block {
    display: none;
}

.page-project-detail .project-detail-page-header .block-name {
    color: #FFFFFF;
    text-align: center;
    max-width: 833px;
    padding: 0 15px;
}

.page-project-detail .project-detail-page-header .block-name .title {
    font-size: 65px;
    font-family: "GothamProBold";
}

.page-project-detail .project-detail-page-header .block-name .subtitle {
    font-family: "GothamProRegular";
    font-size: 16px;
}

.page-project-detail .project-detail-page-header .next, .page-project-detail .project-detail-page-header .prev {
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    width: 150px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    opacity: 0.5;
    text-align: center;
}

.page-project-detail .project-detail-page-header .next img, .page-project-detail .project-detail-page-header .prev img {
    max-width: 18px;
}

.page-project-detail .project-detail-page-header .next:hover, .page-project-detail .project-detail-page-header .prev:hover {
    opacity: 1;
}

.page-project-detail .project-detail-page-header .next img {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.page-project-detail .project-info-detail {
    padding-left: 65px;
    padding-top: 50px;
    display: block;
    width: 100%;
}

.page-project-detail .project-info-detail .project {
    max-width: 567px;
    padding-bottom: 30px;
    width: 100%;
    display: inline-block;
    overflow: hidden;
}

.page-project-detail .project-info-detail .project .slick-slide {
    border-radius: 3px;
    max-height: 348px;
    height: inherit;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.page-project-detail .project-info-detail .info-project {
    max-width: 470px;
    padding: 0 0 0 60px;
    display: inline-block;
    vertical-align: top;
}

.page-project-detail .project-info-detail .info-project-tabs {
    max-width: 742px;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    float: right;
}

.page-project-detail .project-info-detail .info-project-tabs .sell span {
    font-size: 28px;
    font-family: "gothamprobold";
    color: #232323;
}

.page-project-detail .project-info-detail .info-project-tabs .navs li {
    float: left;
}

.page-project-detail .project-info-detail .info-project-tabs .navs li a {
    border: 1px solid #FF9600;
    color: #FF9600;
    font-size: 12px;
    padding: 10px 45px;
    margin: 0;
}

.page-project-detail .project-info-detail .info-project-tabs .navs .active a {
    background-color: #FF9600;
    color: #FFFFFF;
}

.page-project-detail .project-info-detail .info-project-tabs .navs .active a:after {
    display: none;
}

.page-project-detail .project-info-detail .info-project-tabs .tabs {
    background-color: rgba(255, 204, 136, 0.25);
}

.page-project-detail .project-info-detail .info-project-tabs .tabs .tab-pane {
    padding: 35px 25px 55px;
}

.page-project-detail .project-info-detail .info-project-tabs .tabs .tab-pane .fa-print {
    font-size: 25px;
    float: right;
    color: rgb(129, 12, 116);
}

.page-project-detail .slider-project {
    max-height: 348px;
    margin-bottom: 20px;
}

.page-project-detail .slider-project img {
    min-height: 100%;
    width: 100%;
}

.page-project-detail .slider-project div .title-project {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
    padding: 0 15px;
}

.page-project-detail .slider-navs {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    max-height: 108px;
}

.page-project-detail .slider-navs .prev, .page-project-detail .slider-navs .next {
    position: absolute;
    z-index: 1;
    background-color: transparent;
    border: 0;
    background-image: url("../svg/bnt-next-prev.svg");
    width: 12px;
    height: 20px;
    opacity: 0.6;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.page-project-detail .slider-navs .prev:hover, .page-project-detail .slider-navs .next:hover {
    opacity: 1;
}

.page-project-detail .slider-navs .prev {
    left: 10px;
}

.page-project-detail .slider-navs .next {
    right: 10px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.page-project-detail .slider-navs .slider-project-nav {
    max-width: 570px;
    width: 100%;
}

.page-project-detail .slider-navs .slider-project-nav .slick-track {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.page-project-detail .slider-navs .slider-project-nav .slick-prev {
    left: 0;
    z-index: 1;
}

.page-project-detail .slider-navs .slider-project-nav .slick-next {
    right: 0;
    z-index: 1;
}

.page-project-detail .slider-navs .slider-project-nav .slick-track:after, .page-project-detail .slider-navs .slider-project-nav .slick-track:before {
    display: none;
}

.page-project-detail .slider-navs .slider-project-nav .slick-track .slick-slide {
    max-width: 106px;
    max-height: 65px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.page-project-detail .slider-navs .slider-project-nav .slick-track .slick-slide img {
    height: auto !important;
    max-width: 100%;
}

.page-project-detail .project-info-tabs .navs .nav-tabs {
    border-bottom: 1px solid #ffb74f;
    text-align: center;
    display: table;
    width: 100%;
}

.page-project-detail .project-info-tabs .navs .nav-tabs li {
    display: inline-block;
    float: none;
}

.page-project-detail .project-info-tabs .navs .nav-tabs li:hover a {
    background-color: transparent;
    border-color: transparent;
}

.page-project-detail .project-info-tabs .navs .nav-tabs .active a:after {
    content: '';
    display: block;
    position: relative;
    width: 100%;
    background-color: #FF9600;
    height: 3px;
    top: 11px;
}

.page-project-detail .project-info-tabs .tabs .tab-content {
    width: 100%;
}

.page-project-detail .project-info-tabs .tabs .tab-content .tab-pane .block-order {
    padding-bottom: 170px;
}

.page-project-detail .project-info-tabs .tabs .tab-content .tab-pane .block-order .title {
    font-size: 18px;
    color: #A34E9A;
    text-align: center;
    font-family: gothamproregular;
    line-height: 25px;
}

.page-project-detail .project-info-tabs .tabs .tab-content .tab-pane .block-order .dropdown {
    display: inline-block;
}

.page-project-detail .project-info-tabs .tabs .tab-content .tab-pane .block-order .dropdown .select {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 180px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #B3B8B3;
    background-color: transparent;
    font-size: 12px;
    font-family: "gothamproregular";
    margin: 10px 5px;
}

.page-project-detail .project-info-tabs .tabs .tab-content .tab-pane .block-order input {
    width: 160px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #B3B8B3;
    padding: 0 10px;
    margin: 10px 5px;
}

.page-project-detail .project-info-tabs .tabs .tab-content .tab-pane .block-order input::-webkit-input-placeholder {
    opacity: 1;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    color: #B3B8B3;
}

.page-project-detail .project-info-tabs .tabs .tab-content .tab-pane .block-order input:focus::-webkit-input-placeholder {
    opacity: 0;
}

.page-project-detail .project-info-tabs .tabs .tab-content .tab-pane .block-order .btn-purple {
    font-size: 12px;
    max-width: 160px;
    height: 30px;
    background-color: #A34E9A;
    margin: 10px 0;
}

.page-project-detail .project-info-tabs .tabs .tab-content .tab-pane .block-floor-info {
    text-align: center;
}

.page-project-detail .project-info-tabs .tabs .tab-content .tab-pane .block-floor-info .cell {
    display: inline-block;
    margin: 15px;
}

.page-project-detail .project-info-tabs .tabs .tab-content .tab-pane .block-floor-info .cell p {
    text-align: left;
}

.page-project-detail .project-info-tabs .tabs .tab-content .tab-pane .block-floor-info .cell p span {
    width: 150px;
    display: inline-block;
}

.page-project-detail .project-info-tabs .tabs .tab-content .tab-pane .block-floor-info .cell .image {
    max-width: 436px;
    max-height: 300px;
    overflow: hidden;
}

.page-project-detail .project-info-tabs .cells-other {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.page-project-detail .project-info-tabs .cells-other .cell {
    max-width: 255px;
    text-align: center;
    color: #3c0336;
}

.page-project-detail .project-info-tabs .cells-other .cell img {
    width: 58px;
    height: 81px;
}

.page-project-detail .project-info-tabs .cells-other .cell .title {
    font-size: 30px;
    font-family: "GothamProBold";
}

.page-project-detail .project-info-tabs .cells-other .cell .info {
    font-size: 16px;
    font-family: "GothamProRegular";
}

.page-project-detail .project-info-tabs .cells-other .cell .info strong {
    font-family: "GothamProBold";
    font-size: 23px;
}

.page-project-detail .bottom-menu {
    padding: 0 0 0 60px;
}

.page-catalog {
    padding-top: 115px;
}

.page-catalog .search-block {
    display: none;
}

.page-catalog .title {
    font-size: 18px;
    font-family: "IntroRustG";
    color: purple;
}

.page-catalog .subtitle {
    font-size: 16px;
    font-family: "GothamProRegular";
    color: #585B58;
}

.page-catalog .left-sidebar-container .left-sidebar-button {
    display: none;
}

.page-catalog .left-sidebar-container .left-sidebar {
    max-width: 342px;
    padding: 0 75px 0 55px;
    float: left;
    position: fixed;
    width: 100%;
    overflow-y: auto;
}

.page-catalog .left-sidebar-container .left-sidebar .title {
    color: #232323;
    font-family: "GothamProBold";
    font-size: 18px;
}

.page-catalog .left-sidebar-container .left-sidebar .block-filter {
    margin: 15px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.page-catalog .left-sidebar-container .left-sidebar .block-filter .title {
    color: #585B58;
    font-size: 14px;
    font-family: "GothamProRegular";
    width: 100%;
    margin: 0;
}

.page-catalog .left-sidebar-container .left-sidebar .block-filter .noUi-horizontal {
    width: 100%;
    height: 1px !important;
    background: #989B98;
    border: none;
    margin: 10px 0 15px;
}

.page-catalog .left-sidebar-container .left-sidebar .block-filter .noUi-horizontal .noUi-base .noUi-handle {
    width: 7px;
    height: 7px;
    background: #FF9600;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 100%;
    top: -3px;
    left: 0;
    outline: none;
    cursor: pointer;
}

.page-catalog .left-sidebar-container .left-sidebar .block-filter .noUi-horizontal .noUi-base .noUi-handle:before, .page-catalog .left-sidebar-container .left-sidebar .block-filter .noUi-horizontal .noUi-base .noUi-handle:after {
    display: none;
}

.page-catalog .left-sidebar-container .left-sidebar .block-filter .noUi-horizontal .noUi-base .noUi-connect {
    background: #FF9600;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.page-catalog .left-sidebar-container .left-sidebar .block-filter > img {
    max-width: 13px;
    padding-top: 9px;
}

.page-catalog .left-sidebar-container .left-sidebar .block-filter p {
    width: 100%;
    font-family: "GothamProMediumItalic";
    color: #989B98;
    font-size: 12px;
}

.page-catalog .left-sidebar-container .left-sidebar .block-filter label {
    display: block;
    color: #B3B8B3;
    font-size: 12px;
    font-family: "GothamProRegular";
}

.page-catalog .left-sidebar-container .left-sidebar .block-filter input {
    max-width: 90px;
    height: 30px;
    border-radius: 2px;
    border: 1px solid #B3B8B3;
    font-family: "GothamProRegular";
    font-size: 12px;
    color: #232323;
    padding: 0 10px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.page-catalog .left-sidebar-container .left-sidebar .block-filter input:focus {
    border-color: #FF9600;
    color: #FF9600;
}

.page-catalog .left-sidebar-container .left-sidebar .block-filter:before {
    display: block;
    content: "";
    height: 1px;
    background-color: rgba(152, 154, 152, 0.3);
    width: 114px;
    bottom: 5px;
    right: 65px;
    position: relative;
}

.page-catalog .left-sidebar-container .left-sidebar .area input {
    max-width: 70px;
}

.page-catalog .left-sidebar-container .left-sidebar .floors .form-group {
    width: 100%;
}

.page-catalog .left-sidebar-container .left-sidebar .floors .form-group > div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.page-catalog .left-sidebar-container .left-sidebar .floors .form-group > div .radio {
    display: none;
}

.page-catalog .left-sidebar-container .left-sidebar .floors .form-group > div label {
    cursor: pointer;
    font-weight: normal;
    margin-bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.page-catalog .left-sidebar-container .left-sidebar .floors .form-group > div label .list {
    width: 7px;
    height: 7px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.page-catalog .left-sidebar-container .left-sidebar .floors .form-group > div label .list div {
    width: 5px;
    height: 5px;
    background-color: #B3B8B3;
    border-radius: 100%;
}

.page-catalog .left-sidebar-container .left-sidebar .floors .form-group > div label:hover .list div {
    background-color: #232323;
}

.page-catalog .left-sidebar-container .left-sidebar .floors .form-group > div label:hover .radio-name {
    color: #232323;
}

.page-catalog .left-sidebar-container .left-sidebar .floors .form-group > div .radio-name {
    color: #B3B8B3;
    font-size: 12px;
    font-family: "GothamProRegular";
    padding: 5px;
    display: inline-block;
    text-align: center;
    background: transparent;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.page-catalog .left-sidebar-container .left-sidebar .floors .form-group > div .radio:checked ~ .radio-name {
    color: #FF9600;
}

.page-catalog .left-sidebar-container .left-sidebar .floors .form-group > div .radio:checked ~ .list div {
    background-color: #FF9600;
    width: 7px;
    height: 7px;
}

.page-catalog .left-sidebar-container .left-sidebar .sort .dropdown {
    width: 100%;
}

.page-catalog .left-sidebar-container .left-sidebar .sort .dropdown .select {
    width: 100%;
    background-color: transparent;
    border: 1px solid #B3B8B3;
    color: #585B58;
    font-size: 12px;
    font-family: "GothamProRegular";
    border-radius: 2px;
    height: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 10px;
}

.page-catalog .left-sidebar-container .left-sidebar .sort .dropdown .select img {
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    max-height: 8px;
}

.page-catalog .left-sidebar-container .left-sidebar .sort .dropdown .dropdown-menu {
    width: 100%;
}

.page-catalog .left-sidebar-container .left-sidebar .sort .open .select img {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.page-catalog .left-sidebar-container .left-sidebar .planir .form-group .checkbox {
    display: none !important;
}

.page-catalog .left-sidebar-container .left-sidebar .planir .form-group .label-checkbox {
    font-size: 14px;
    color: #B3B8B3;
    font-family: "GothamProRegular";
    width: auto !important;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.page-catalog .left-sidebar-container .left-sidebar .planir .form-group .checkbox[type="checkbox"] + span {
    display: inline-block;
    width: 15px;
    height: 13px;
    background: url("../svg/checkbox.svg") no-repeat;
    opacity: .4;
    vertical-align: middle;
    margin-right: 10px;
}

.page-catalog .left-sidebar-container .left-sidebar .planir .form-group .checkbox[type="checkbox"]:hover + span {
    opacity: 1;
}

.page-catalog .left-sidebar-container .left-sidebar .planir .form-group .checkbox[type="checkbox"]:checked + span {
    background: url("../svg/checkbox-cheched.svg") no-repeat;
    opacity: 1;
    color: #FF9600;
    width: 15px;
}

.page-catalog .left-sidebar-container .left-sidebar .planir .form-group div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.page-catalog .left-sidebar-container .left-sidebar .planir .form-group div input {
    margin-right: 15px;
}

.page-catalog .left-sidebar-container .left-sidebar .planir .form-group div label {
    font-family: "GothamProRegular";
    font-size: 14px;
    color: #B3B8B3;
    font-weight: 400;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    margin-bottom: 10px;
}

.page-catalog .left-sidebar-container .left-sidebar .planir .form-group div label:hover {
    color: #232323;
}

.page-catalog .catalog-content {
    max-width: 1470px;
    width: 100%;
    display: block;
    float: right;
    min-height: 650px;
    padding: 0 15px;
}

.page-catalog .catalog-content .catalog-cells .cell {
    max-width: 427px;
    width: 100%;
    display: inline-block;
    margin: 25px 10px;
}

.page-catalog .catalog-content .catalog-cells .cell .image {
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    max-height: 294px;
}

.page-catalog .catalog-content .catalog-cells .cell .image div {
    position: absolute;
    background-color: rgba(255, 183, 79, 0.8);
    opacity: 0;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.page-catalog .catalog-content .catalog-cells .cell .image div p {
    color: #FFFFFF;
    font-family: "GothamProBold";
    margin: 17px -71px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.page-catalog .catalog-content .catalog-cells .cell .info-block .icons {
    min-height: 40px;
    background-color: #C6C6C6;
    display: table;
    color: #FFFFFF;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    width: 100%;
}

.page-catalog .catalog-content .catalog-cells .cell .info-block .icons div {
    padding: 0 3px;
    display: table-cell;
    vertical-align: middle;
    font-size: 13px;
}

.page-catalog .catalog-content .catalog-cells .cell .info-block .icons div img {
    max-width: 21px;
    max-height: 18px;
    width: 100%;
    margin: 0 5px 0 0;
}

.page-catalog .catalog-content .catalog-cells .cell .info-block .title {
    font-size: 16px;
    font-family: "gothamprobold";
    color: #232323;
    margin: 10px 0 0;
}

.page-catalog .catalog-content .catalog-cells .cell .info-block .description {
    color: #989B98;
    font-size: 12px;
    font-family: "GothamProRegular";
}

.page-catalog .catalog-content .catalog-cells .cell:hover .image div {
    opacity: 1;
}

.page-catalog .catalog-content .catalog-cells .cell:hover .image div p {
    margin: 17px -33px;
}

.page-catalog .catalog-content .catalog-cells .cell:hover .info-block .icons {
    background-color: #FFB74F;
}