.pages .page-etaps {
    max-width: 1770px;
}

.pages .page-etaps .page-title {
    font-family: "GothamProBold";
    font-size: 18px;
}

.pages .page-etaps .term {
    color: #585B58;
    font-size: 16px;
}

.pages .page-etaps .project-name a {
    color: #FF9600;
    text-decoration: underline;
    font-size: 16px;
}

.pages .page-etaps .status {
    margin: 45px 0;
}

.pages .cells {
    display: block;
    text-align: center;
}

.pages .cells .cell {
    display: inline-block;
    max-width: 427px;
    width: 100%;
    max-height: 370px;
    overflow: hidden;
    position: relative;
    margin: 7px auto;
}

.pages .page-etaps .cells .cell .image{
    max-height: 320px;
    height: 100vh;
    display: flex;
    overflow: hidden;
    justify-content: center;
}

.page-etaps .cells .cell img {
    height: 100%;
    max-width: inherit;
}
.pages .page-etaps .cells .cell .title {
    height: 40px;
    bottom: 0;
    display: block;
    color: #fff;
    padding: 10px 15px;
    font-size: 12px;
    background-color: #C6C6C6;
	text-align: right;
}

.pages .description-project {
    font-size: 22px;
    max-width: 1370px;
    margin: auto;
    padding: 75px 0 35px;
}
