/*.pages .page-company .subblock-technology {*/
    /*width: 100%;*/
    /*display: -webkit-box;*/
    /*display: -webkit-flex;*/
    /*display: -ms-flexbox;*/
    /*display: -webkit-flex;*/
    /*-webkit-box-pack: center;*/
    /*-webkit-justify-content: center;*/
    /*-ms-flex-pack: center;*/
    /*justify-content: center;*/
    /*overflow-x: auto;*/
/*}*/

/*.pages .page-company .subblock-technology img {*/
    /*max-width: inherit;*/
/*}*/

/*.pages .page-company .footer {*/
    /*background-color: #3c0336;*/
    /*padding: 15px;*/
    /*max-height: 275px;*/
    /*height: 100vh;*/
    /*display: -webkit-box;*/
    /*display: -webkit-flex;*/
    /*display: -ms-flexbox;*/
    /*display: -webkit-flex;*/
    /*-webkit-flex-wrap: wrap;*/
    /*-ms-flex-wrap: wrap;*/
    /*flex-wrap: wrap;*/
/*}*/

/*.pages .page-company .form-position-block .forma {*/
    /*background-color: #FFFFFF;*/
    /*padding: 15px 25px 25px;*/
    /*border-radius: 3px;*/
    /*position: absolute;*/
    /*left: 0;*/
    /*right: 0;*/
    /*margin: auto;*/
    /*max-width: 1370px;*/
    /*bottom: 0;*/
    /*min-height: 360px;*/
    /*-webkit-box-shadow: 0 0 20px 0 rgba(35, 35, 35, 0.53);*/
    /*box-shadow: 0 0 20px 0 rgba(35, 35, 35, 0.53);*/
    /*top: 50px;*/
/*}*/

/*.pages .page-company .form-position-block .forma form input[type=text],*/
/*.pages .page-company .form-position-block .forma form input[type=tel],*/
/*.pages .page-company .form-position-block .forma form input[type=email] {*/
    /*border: 1px solid #989B98;*/
    /*border-radius: 3px;*/
    /*height: 40px;*/
    /*width: 230px;*/
    /*padding: 0 0 0 15px;*/
    /*color: #232323;*/
    /*-webkit-transition: 0.2s;*/
    /*-o-transition: 0.2s;*/
    /*transition: 0.2s;*/
    /*margin: 0 0 15px 0;*/
/*}*/

/*.pages .page-company .form-position-block .forma form {*/
    /*display: block;*/
    /*max-width: 950px;*/
    /*text-align: center;*/
    /*margin: auto;*/
/*}*/

/*.pages .page-company .form-position-block .forma form .inputs {*/
    /*display: inline-block;*/
    /*vertical-align: top;*/
    /*max-width: 230px;*/
    /*max-height: 206px;*/
    /*margin: auto;*/
/*}*/

/*.pages .page-company .form-position-block .forma form textarea {*/
    /*max-width: 646px;*/
    /*max-height: 150px;*/
    /*height: 100vh;*/
    /*width: 100%;*/
    /*border-radius: 3px;*/
    /*border-color: #989B98;*/
    /*outline: none;*/
    /*-webkit-transition: 0.2s;*/
    /*-o-transition: 0.2s;*/
    /*transition: 0.2s;*/
    /*display: inline-block;*/
    /*vertical-align: top;*/
    /*margin: auto;*/
    /*padding: 10px 15px;*/
/*}*/

/*.pages .page-company .desk .cell {*/
    /*min-height: 130px;*/
    /*margin-bottom: 30px;*/
/*}*/

/*.pages .page-company .desk .cell .bg {*/
    /*height: 125px;*/
    /*width: 125px;*/
    /*background-color: transparent;*/
    /*border: 10px solid rgba(152, 155, 152, 0.1);*/
    /*position: absolute;*/
    /*z-index: -1;*/
    /*-webkit-transition: 0.2s;*/
    /*-o-transition: 0.2s;*/
    /*transition: 0.2s;*/
/*}*/

/*.pages .page-company .desk .cell:hover .bg {*/
    /*border-color: #FF9600;*/
/*}*/

/*@media screen and (max-width: 1370px) {*/
    /*.pages .page-company .subblock-technology {*/
        /*-webkit-box-pack: start;*/
        /*-webkit-justify-content: flex-start;*/
        /*-ms-flex-pack: start;*/
        /*justify-content: flex-start;*/
    /*}*/
/*}*/

/*@media screen and (min-width: 1051px) {*/
    /*.pages .page-company .subblock-technology {*/
        /*margin-bottom: 165px;*/
    /*}*/
/*}*/

/*@media screen and (max-width: 1050px) {*/
    /*.page-company .form-position-block .forma {*/
        /*position: relative;*/
        /*top: 0;*/
    /*}*/

    /*.page-company .footer {*/
        /*height: auto;*/
    /*}*/
/*}*/

/*@media screen and (min-width: 947px) {*/
    /*.page-company .form-position-block .forma form .inputs {*/
        /*margin-right: 15px;*/
    /*}*/
/*}*/


