{% extends 'frontend/base.html' %}

{% load staticfiles %}

{% block content %}
<div class="page-about">
    <div class="block-one">
        <h2 class="page-title">
            О компании
        </h2>
    </div>
    <div class="block-two text-center">
        <p>
            {{ about.top_text | safe }}
        </p>
    </div>


    <div class="block-three" style="background-image: none; background-color: {{ about.background }}; color: {{ about.color }};">
        <p>
            {{ about.image_text | safe }}
        </p>
    </div>

    <div class="cells">
        <h3>Наша команда</h3>
        <div class="cell">
            <div class="image">
                <img src="../../static/frontend/img/content/about/Cher-Anton.jpg">
                <div class="gradient"></div>
            </div>
            <p class="name">Воробьев Антон</p>
            <p class="position">Основатель компании</p>
        </div>

        <div class="cell">
        <div class="image">
        <img src="../../static/frontend/img/content/about/Cher-Nastya.jpg">
        <div class="gradient"></div>
        </div>
        <p class="name">Воробьева Анастасия</p>
        <p class="position">Генеральный директор</p>
        </div>

        <div class="cell">
        <div class="image">
        <img src="../../static/frontend/img/content/about/Cher-Lena.jpg">
        <div class="gradient"></div>
        </div>
        <p class="name">Кунина Елена</p>
        <p class="position">Главный архитектор</p>
        </div>

        <div class="cell">
        <div class="image">
        <img src="../../static/frontend/img/content/about/Cher-Igor.jpg">
        <div class="gradient"></div>
        </div>
        <p class="name">Долин Игорь</p>
        <p class="position">Начальник производства</p>
        </div>

        <div class="cell">
        <div class="image">
        <img src="../../static/frontend/img/content/about/Cher-Max.jpg">
        <div class="gradient"></div>
        </div>
        <p class="name">Селяков Максим</p>
        <p class="position">Маркетолог</p>
        </div>

        <div class="cell">
        <div class="image">
        <img src="../../static/frontend/img/content/about/Cher-Alex.jpg">
        <div class="gradient"></div>
        </div>
        <p class="name">Фомичева Александра</p>
        <p class="position">Начальник отдела продаж
        и франчайзинга</p>
        </div>

        <h4>Представительство в других городах</h4>

        <div class="cell">
        <div class="image">
        <img src="../../static/frontend/img/content/about/Sochi.png">
        <div class="gradient"></div>
        </div>
        <p class="name">Ильичев Александр</p>
        <p class="position">Сочи</p>
        </div>

        <div class="cell">
        <div class="image">
        <img src="../../static/frontend/img/content/about/Moscow.png">
        <div class="gradient"></div>
        </div>
        <p class="name">Цанава Дмитрий и Щербаков Александр</p>
        <p class="position">Москва</p>
        </div>

        <div class="cell">
        <div class="image">
        <img src="../../static/frontend/img/content/about/Yroslavl.png">
        <div class="gradient"></div>
        </div>
        <p class="name">Колесов Сергей</p>
        <p class="position">Ярославль</p>
        </div>

        <div class="cell">
        <div class="image">
        <img src="../../static/frontend/img/content/about/Vologda.png">
        <div class="gradient"></div>
        </div>
        <p class="name">Зовутин Александр</p>
        <p class="position">Вологда</p>
        </div>

        <div class="cell">
            <div class="image">
                <img src="../../static/frontend/img/content/about/Rostov.png">
                <div class="gradient"></div>
            </div>
            <p class="name">Юлия и Денис</p>
            <p class="position">Ростов-на-Дону</p>
        </div>

    </div>
    <div class="subblock">
        <div class="cell">
            <a href="/projects/" target="_blank">
                <div class="image">
                    <img src="../../static/frontend/svg/about-icon-client.svg">
                </div>
                <p class="string-one">Стать</p>
                <p class="string-two">клиентом</p>
            </a>
        </div>
        <div class="cell">
            <a href="/franchise/" target="_blank">
                <div class="image">
                    <img src="../../static/frontend/svg/about-icon-partner.svg">
                </div>
                <p class="string-one">Стать</p>
                <p class="string-two">частью команды</p>
            </a>
        </div>
    </div>
</div>

<!-- footer -->
<footer class="footer navbar-fixed-bottom">
    <div class="main-content">
        <div class="copiright">
            <p>
                © ДомНедорого | 2017 год
            </p>
        </div>
        <div class="company-development">
            <p>
                Сайт разработан компанией <span><a href="http://novecs.ru/" target="_blank">«Novecs»</a></span>
            </p>
        </div>
        <a href="#jack-header" class="btn-scroll-to-top"></a>

    </div>
</footer>
<!-- end footer -->

<!-- Модалки -->

<div class="modal fade" id="become-customer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Стать <span>клиентом</span></h4>
                <h3>Строительная компания «Дом Недорого»</h3>
            </div>
            <div class="modal-body">
                <form action="" method="POST" id="">
                    {% csrf_token %}
                    <div class="forma">
                        <input type="text" name="full-name" placeholder="Ваше имя *">
                        <input type="tel" name="num-phone" placeholder="Ваш телефон">
                        <input type="email" name="email" placeholder="Email">
                        <textarea placeholder="Комментарий" name="message" id="" rows="5"></textarea>
                    </div>
                    <button class="modal-btn-purple" type="submit" onclick="yaCounter38004405.reachGoal('colbeck_old'); return true;">Оставить заявку</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="become-employee" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Стать <span>частью команды</span></h4>
                <h3>Строительная компания «Дом Недорого»</h3>
            </div>
            <div class="modal-body">
                <form action="" method="POST" id="">
                    {% csrf_token %}
                    <div class="forma">
                        <input type="text" name="full-name" placeholder="Ваше имя *">
                        <input type="tel" name="num-phone" placeholder="Ваш телефон">
                        <input type="email" name="email" placeholder="Email">
                        <input type="text" name="city" placeholder="Город">
                        <textarea placeholder="Комментарий" name="message" id="" rows="5"></textarea>
                    </div>
                    <button class="modal-btn-purple" type="submit" onclick="yaCounter38004405.reachGoal('colbeck_old'); return true;">Оставить заявку</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- end Модалки -->

{% endblock %}

{% block javascript %}

{% endblock %}