{% load staticfiles %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <title> {{ title }} </title>
        <meta name="description" Content="Дом Недорого - строительная компания. Строим дома по всей России под ключ.">
        <meta name="theme-color" content="#33042f">
        <meta name="msapplication-navbutton-color" content="#33042f">
        <meta name="apple-mobile-web-app-status-bar-style" content="#33042f">
        <link rel="shortcut icon" href="{% static 'frontend/favicon.ico' %}">
        <!-- CSS files -->
        <link rel="stylesheet" href="{% static 'frontend/css/libs.min.css' %}">
        <!--<link rel="stylesheet" href="{% static 'frontend/css/fonts.css' %}"/>-->
        <!--&lt;!&ndash;<link rel="stylesheet" href="{% static 'frontend/css/start-page-style.min.css' %}"/>&ndash;&gt;-->
        <!--<link rel="stylesheet" href="{% static 'frontend/css/style.min.css' %}"/>-->
        <!--<link rel="stylesheet" href="{% static 'frontend/css/style-pages.min.css' %}"/>-->
        <!--<link rel="stylesheet" href="{% static 'frontend/css/responsive.min.css' %}"/>-->
        <!--&lt;!&ndash;<link rel="stylesheet" href="{% static 'frontend/css/style_one.min.css' %}"/>&ndash;&gt;-->
        <!--<link rel="stylesheet" href="{% static 'frontend/css/style-about.min.css' %}"/>-->
        <!--<link rel="stylesheet" href="{% static 'frontend/css/responsive-about.min.css' %}"/>-->
        <!--<link rel="stylesheet" href="{% static 'frontend/css/style-stages.min.css' %}">-->
        <!--<link rel="stylesheet" href="{% static 'frontend/css/responsive-stages.min.css' %}"/>-->
        <!--<link rel="stylesheet" href="{% static 'frontend/css/style-services.min.css' %}"/>-->
        <!--<link rel="stylesheet" href="{% static 'frontend/css/responsive-services.min.css' %}"/>-->

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <script async src="{% static 'frontend/js/save_user.js' %}"></script>
        <!-- End css files -->

        <meta name="google-site-verification" content="qAupVtMJ3tjDT5ayZAmTsiTUdXVugWECpmu03rQ1Ggg" />
        <meta name="yandex-verification" content="aa168114235ec03d" />
        <style type="text/css">

            #hellopreloader>p{display:none;}
            #hellopreloader_preload{display: block;position: fixed;z-index: 99999;top: 0;left: 0;width: 100%;height: 100%;min-width: 1000px;background: #AEA8D3 url(http://hello-site.ru//main/images/preloads/puff.svg) center center no-repeat;background-size:41px;}

            .preload {
                width: 100%;
                height: 100%;
                transition: 4s;
                background-color: #fff;
                position: absolute;
                opacity: 1;
                z-index: 999999999999999;
                top: 0;
                left: 0;
            }
        </style>

        <script src="{% static 'frontend/js/bundle.min.js' %}"></script>

        <script type="text/javascript">

            function onreloadcityerror(response){
                document.getElementById('on_city').textContent = 'Череповец';
                document.getElementsByClassName('call-number')[0].innerHTML = '<p><a href="tel:+7 (8202) 62-66-42">+7 (8202) 62-66-42</a></p><p><a href="tel:+7 996 309-90-97">+7 996 309-90-97</a></p>';
                document.getElementById('msg-cities').style.display = 'block';
            }

            function onreloadcity(response){
                document.getElementById('on_city').textContent = JSON.parse(response)[0]['city'];

                if (document.getElementById('on_city').textContent == 'Вологда'){
                    document.getElementsByClassName('call-number')[0].innerHTML = '<p><a href="tel:+79210532547">+7 (921) 053-25-47</a></p>';
                } else if (document.getElementById('on_city').textContent == 'Череповец'){
                    document.getElementsByClassName('call-number')[0].innerHTML = '<p><a href="tel:+7 (8202) 62-66-42">+7 (8202) 62-66-42</a></p><p><a href="tel:+7 996 309-90-97">+7 996 309-90-97</a></p>';
                } else if (document.getElementById('on_city').textContent == 'Сочи'){
                    document.getElementsByClassName('call-number')[0].innerHTML = '<p><a href="tel:+79882319449">+7 (988) 231-94-49</a></p>';
                } else if (document.getElementById('on_city').textContent == 'Москва'){
                    document.getElementsByClassName('call-number')[0].innerHTML = '<p><a href="tel:+74993947994">+7 (499) 394-79-94</a></p><p><a href="tel:+7 977 100-72-73">+7 977 100-72-73</a></p>';
                } else if (document.getElementById('on_city').textContent == 'Ярославль'){
                    document.getElementsByClassName('call-number')[0].innerHTML = '<p><a href="tel:+7 (4852) 68-24-47 ">+7 (4852) 68-24-47</a></p><p><a href="tel:+7 930 114-24-47 ">+7 930 114-24-47 </a></p>';
                } else if (document.getElementById('on_city').textContent == 'Ростов-на-Дону'){
                    document.getElementsByClassName('call-number')[0].innerHTML = '<p><a href="tel:+7 928 956-52-48">+7 928 956-52-48</a></p><p><a href="tel:+7 938 102-55-58">+7 938 102-55-58</a></p>';
                } else if (document.getElementById('on_city').textContent == 'Другой') {
                    document.getElementsByClassName('call-number')[0].innerHTML = '<p><a href="tel:+7 (8202) 62-66-42">+7 (8202) 62-66-42</a></p><p><a href="tel:+7 996 309-90-97">+7 996 309-90-97</a></p>';
                } else {
                    document.getElementById('on_city').textContent = 'Череповец';
                    document.getElementsByClassName('call-number')[0].innerHTML = '<p><a href="tel:+7 (8202) 62-66-42">+7 (8202) 62-66-42</a></p><p><a href="tel:+7 996 309-90-97">+7 996 309-90-97</a></p>';
                    document.getElementById('msg-cities').display = 'block';
                }
            }

            function menu(dropdown){
                if (document.getElementById(dropdown).style.display == 'none'){
                    document.getElementById(dropdown).style.display = 'block';
                }

                if (document.getElementById(dropdown).style.display == 'block') {
                    document.getElementById(dropdown).style.display = 'none';
                }
            }
        </script>

        {% block style %}
        {% endblock %}

	

    </head>
    <body class="{{ class }}">
        
        <!--div id="hellopreloader"><div id="hellopreloader_preload"></div><p><a href="http://hello-site.ru">Hello-Site.ru. Бесплатный конструктор сайтов.</a></p></div-->

        <header class="navbar-fixed-top">
            <div class="header" id="jack-header">
                <div class="main-content">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="navbar-header" id="logo">
                                <a href="/">
                                    <div class="logo">
                                    </div>
                                </a>
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                        data-target="#menu-collapse" aria-expanded="false" aria-controls="navbar">
                                    <span class="sr-only">Меню</span>
                                    <span class="icon-bar top-bar"></span>
                                    <span class="icon-bar middle-bar"></span>
                                    <span class="icon-bar bottom-bar"></span>
                                </button>
                            </div>
                            <div class="decor-line"></div>

                            <div class="menu">

                                <div class="collapse navbar-collapse" id="menu-collapse">
                                    <div class="group">
                                        <div class="call-number">
                                            {% for phone in head_contacts %}
                                            <p><a href="tel:{{ phone.link }}">{{ phone.phone }}</a></p>
                                            {% endfor %}
                                        </div>

                                        <div class="city">
                                            <img src="{% static 'frontend/img/system/geo-header.png' %}" alt="" class="point">
                                            <label for="">Ваш город</label>
                                            <div class="dropdown">
                                                <button class="select dropdown-toggle" type="button" data-toggle="dropdown" onclick="menu('dmenu');"><span id="on_city"></span>
                                                    <img class="custom-caret" src="{% static 'frontend/img/system/caret-1.png' %}"></button>
                                                <ul class="dropdown-menu" id="dmenu">
                                                    {% for city in cities %}
                                                    <li onclick="menu('dmenu');"><a style="cursor: pointer;" onclick="document.getElementById('on_city').textContent = this.textContent;
                                                    SaveUser('/save_user/' + encodeURI(this.textContent) + '/' + document.getElementById('ip-addr').textContent + '/').then(
                                                        response => onreloadcity(`${response}`),
                                                        error => alert(`Rejected: ${error}`)
                                                    );">{{ city.name }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            <div class="modal-question text-center" style="display: none;" id="msg-cities">
                                                <img class="triangle" src="{% static 'frontend/img/system/triangle.png' %}">
                                                <div class="content">
                                                    <h5>Это ваш город?</h5>
                                                    <div class="form-group">
                                                        <input class="btn active" type="button" value="Да" onclick="document.getElementById('msg-cities').style.display = 'none'; SaveUser('/save_user/' + encodeURI(document.getElementById('on_city').textContent) + '/' + document.getElementById('ip-addr').textContent + '/').then(
                                                        response => onreloadcity(`${response}`),
                                                        error => alert(`Rejected: ${error}`)
                                                    );">
                                                        <input class="btn" type="button" value="Выбрать" onclick="document.getElementById('msg-cities').style.display = 'none'; document.getElementById('dmenu').style.display = 'block';">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="nav navbar-nav">
                                        {% for item_menu in menu %}
                                            {% if item_menu.link_item == None %}
                                                <li class="dropdown navbar-hide">
                                                    <a href="#" data-toggle="dropdown" class="dropdown-toggle"> {{ item_menu.name_item }}
                                                        <img class="custom-caret"
                                                            src="{% static 'frontend/img/system/caret-2.png' %}"
                                                            alt="caret">
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        {% if item_menu.name_item == 'Услуги' %}
                                                            {% for service in services %}
                                                                <li><a href="/service/{{ service.id }}"> {{ service.name }} </a></li>
                                                            {% endfor %}
                                                            {% if user.is_authenticated %}
                                                                <li><a href="/admin/frontend/service/add/"> Добавить услугу </a></li>
                                                            {% endif %}
                                                        {% else %}
                                                            {% for item_submenu in item_menu.submenu.all %}
                                                                <li><a href="{{ item_submenu.link_item }}"> {{ item_submenu.name_item }} </a></li>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </ul>
                                                </li>
                                            {% else %}
                                                {% if item_menu.link_item == 'noactive' %}
                                                    <li class="navbar-hide dropdown active"><a href="#" style="cursor: default; opacity: 0.8;"> {{ item_menu.name_item }} </a></li>
                                                {% else %}
                                                    <li class="navbar-hide dropdown active"><a href="{{ item_menu.link_item }}"> {{ item_menu.name_item }} </a></li>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </ul>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="breadcrumd">
                <div class="main-content">
                    <p>
                        <span><a href="/">Главная</a></span>
                        <span class="delimiter"> » </span>
                        <span class="you-here">{{ title | safe }}</span>
                    </p>
                </div>
            </div>
            <div class="search-block">
                <div class="main-content">
                    <input type="text" class="search">
                </div>
            </div>
        </header>
        <!--div id="preloader" style="display: flex; justify-content: center; align-items: center; width: 100%; height: 100vh; position: fixed; background-color: #000; z-index: 99999999; opacity: 0.95; transition: 4s;">
        </div-->
        <div id="ip-addr" style="display: none;">

        </div>
        {% block content %}{% endblock %}
                
        {% block javascript %}{% endblock %}

        <script src="http://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU" type="text/javascript"></script>

        <script type="text/javascript">

            var error = '';
            window.onload = function () {

                var city = document.getElementById('on_city');

                SaveUser('/city_user/' + document.getElementById('ip-addr').textContent + '/').then(
                    response => onreloadcity(`${response}`), //document.getElementById('on_city').textContent = JSON.parse(`${response}`)[0]['city'];
                    error => onreloadcityerror(`${error}`)
                );

                /*document.getElementById('preloader').style.opacity = 0;
                if (document.getElementById('preloader').style.opacity == 0){
                    document.getElementById('preloader').style.display = 'none';
                }*/

                try {
                    item_ico = document.getElementsByClassName('item-ico');
                    for (element = 0; element <= item_ico.length; element++){
                        item_ico[element].style.filter = 'grayscale(100%)';
                        item_ico[element].style.opacity = '0.5';
                        if (item_ico[element].hasAttribute('base')){
                            item_ico[element].style.filter = 'grayscale(0%)';
                            item_ico[element].style.opacity = '1';
                        }
                    }
                } catch (err) {
                    /** Исключение **/
                }

                //document.getElementsByClassName('preload')[0].style.opacity = 0;
            }

            if (error == 'fail'){
                city.textContent = ymaps.geolocation.city;
                if (city.textContent == ''){
                    city.textContent = 'Череповец';
                }
            }
        </script>


        <script>
        var _emv = _emv || [];
        _emv['campaign'] = '4513c30b7d281d70fa3e3aed';

        (function() {
        var em = document.createElement('script'); em.type = 'text/javascript'; em.async = true;
        em.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'leadback.ru/js/leadback.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(em, s);
        })();
        </script>

        <script type="text/javascript">
            document.ready = function(){
                document.getElementById('lb_button-wrapper').style.bottom = '140px';
                document.getElementById('lb_button-wrapper').style.right = '5px';
            }
        </script>

        <script type="text/javascript" > (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter38004435 = new Ya.Metrika2({ id:38004435, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/tag.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks2"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/38004435" style="position:absolute; left:-9999px;" alt="" /></div></noscript>

        <!--script type="text/javascript">var hellopreloader = document.getElementById("hellopreloader_preload");function fadeOutnojquery(el){el.style.opacity = 1;var interhellopreloader = setInterval(function(){el.style.opacity = el.style.opacity - 0.05;if (el.style.opacity <=0.05){ clearInterval(interhellopreloader);hellopreloader.style.display = "none";}},16);}window.onload = function(){setTimeout(function(){fadeOutnojquery(hellopreloader);},1000);};</script-->

        <script type="text/javascript">
            function getIP(url){
                var ip_addr = document.getElementById('ip-addr');
                var ip = '';
                var oReq = new XMLHttpRequest();
                oReq.onreadystatechange = function() {
                    if (oReq.readyState == 4 && oReq.status == 200) {
                        ip_addr.textContent = oReq.responseText;
                    }
                };
                oReq.open("get", url, true);
                oReq.send();
            }
            getIP('https://api.ipify.org/');
        </script>
        <script src="{% static 'frontend/js/all-pages-script.min.js' %}"></script>
        <script>
            //замена иконок на кнопках карты
            var btn = document.getElementsByTagName("button")[3];
            btn.getElementsByTagName("img")[0].src = "http://s1.iconbird.com/ico/2014/1/625/w512h5121390855587zoomin512.png"
        </script>
    </body>
</html>