{% extends 'frontend/base.html' %}

{% load staticfiles %}

{% block content %}
<div id="jack-top"></div>

<div class="page-catalog">
    <div class="text-center">
        <h2 class="title">
            Каталог проектов
        </h2>
        <h3 class="subtitle">Найди дом своей мечты!</h3>
    </div>
    <div class="left-sidebar-container">
        <input type="checkbox" id="toggle-left-menu" hidden>
        <label for="toggle-left-menu" class="nav-toggle left-sidebar-button" onclick>
            <i class="fa fa-chevron-right"></i>
        </label>
        <div class="left-sidebar">
            <p class="title">Фильтр</p>
            <div class="block-filter">
                <p class="title">Стоимость, руб.</p>
                <p>(базовая)</p>
                <div id="slider" class="noUi-target noUi-ltr noUi-horizontal"></div>
                <div class="sub-group">
                    <label for="">От</label>
                    <input type="text" onclick="this.select();" value="350 000">
                </div>
                <img src="{% static 'frontend/svg/defis.svg' %}" alt="дефис">
                <div class="sub-group">
                    <label for="">До</label>
                    <input type="text" onclick="this.select();" value="2 870 000">
                </div>
            </div>
            <div class="block-filter area">
                <p class="title">Площадь, м2</p>
                <p>(общая)</p>
                <div id="slider2" class="noUi-target noUi-ltr noUi-horizontal"></div>
                <div class="sub-group">
                    <label for="">От</label>
                    <input type="text" onclick="this.select();" value="60">
                </div>
                <img src="{% static 'frontend/svg/defis.svg' %}" alt="дефис">
                <div class="sub-group">
                    <label for="">До</label>
                    <input type="text" onclick="this.select();" value="250">
                </div>
            </div>
            <div class="block-filter floors">
                <p class="title">Этажи</p>
                <div class="form-group">
                    <div>
                        <label>
                            <input class="radio" type="radio" name="typeRepair" value="overhaul" checked>
                            <span class="list">
                                <div></div>
                            </span>
                            <span class="radio-name">1 этаж</span>
                        </label>
                        <label>
                            <input class="radio" type="radio" name="typeRepair" value="overhaul">
                            <span class="list">
                                <div></div>
                            </span>
                            <span class="radio-name">2 этаж</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="block-filter sort">
                <p class="title">Сортировать по</p>

                <div class="dropdown">
                    <button class="select dropdown-toggle" type="button" data-toggle="dropdown">
                        Возрастанию цены
                        <img class="custom-caret" src="{% static 'frontend/svg/select-caret-left-filter.svg' %}"></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Возрастанию цены</a></li>
                        <li><a href="#">Убыванию цены</a></li>
                    </ul>
                </div>
            </div>
            <div class="block-filter planir">
                <p class="title">Планировка</p>
                <div class="form-group">
                    <div>
                        <label class="label-checkbox">
                            <input class="checkbox" type="checkbox" name="warmFloor">гараж
                            <span></span>
                        </label>
                    </div>
                    <div>
                        <label class="label-checkbox">
                            <input class="checkbox" type="checkbox" name="warmFloor">терраса / балкон
                            <span></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="catalog-content">
        {% if user.is_authenticated %}
            <a href="/admin/frontend/project/add/">Добавить проект</a>
        {% endif %}
        <div class="catalog-cells">
            {% for project in projects %}
                <a href="/project/{{project.id }}">
                    <div class="cell">
                        <div class="image">
                            <div>
                                <p>Посмотреть проект</p>
                            </div>
                            <img src="{{ project.main_image.url }}" alt="">
                        </div>
                        <div class="info-block">
                            <div class="icons">
                                {% if project.data.total_area != 0 %}
                                <div data-toggle="tooltip"
                                     data-placement="bottom" title="Общая площадь"><img src="{% static 'frontend/svg/catalog-inf-icons/1.svg' %}" alt=""><span>{{ project.data.total_area }} м<sup>2</sup></span></div>
                                {% endif %}
                                {% if project.data.number_bathrooms != 0 %}
                                <div data-toggle="tooltip"
                                     data-placement="bottom" title="Санузлы"><img src="{% static 'frontend/svg/catalog-inf-icons/3.svg' %}" alt="">× {{ project.data.number_bathrooms }}</div>
                                {% endif %}
                                {% if project.data.number_rooms != '0' %}                                
                                <div data-toggle="tooltip"
                                     data-placement="bottom" title="Комнаты"><img src="{% static 'frontend/svg/catalog-inf-icons/2.svg' %}" alt="">× {{ project.data.number_rooms }}</div>
                                {% endif %}
                                {% if project.data.width != '0' and project.data.height != '0' %}
                                <div data-toggle="tooltip"
                                     data-placement="bottom" title="Размер дома"><img src="{% static 'frontend/svg/catalog-inf-icons/4.svg' %}" alt="">{{ project.data.width }}×{{ project.data.height }} м</div>
                                {% endif %}
                                <div class="price">
                                    <p>от <span>{{ project.amount }}</span> ₽</p>
                                </div>
                            </div>
                            <p class="title">
                                Дом «{{ project.name }}»
                            </p>
                            <p class="description">
                                {{ project.description | safe }}
                            </p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>

</div>
<footer class="footer navbar-fixed-bottom">
    <div class="main-content">
        <div class="copiright">
            <p>
                © ДомНедорого | {{ year }} год
            </p>
        </div>
        <div class="company-development">
            <p>
                Сайт разработан компанией <span><a href="http://novecs.ru/" target="_blank">«Novecs»</a></span>
            </p>
        </div>
        <a href="#jack-top" class="btn-scroll-to-top"></a>

    </div>
</footer>
{% endblock %}

{% block javascript %}
<script src="{% static 'frontend/js/script-range.js' %}"></script>

<script>
    var slider = document.getElementById('slider');
    noUiSlider.create(slider, {
        start: [0, 55],
        connect: true,
        range: {
            'min': {{ min_area }},
            'max': {{ max_area }}
        }
    });
</script>

<script>
    $(".filter").find(input).attr("type", "text").onclick="this.select();"
</script>
{% endblock %}