﻿{% extends 'frontend/base.html' %}

{% load staticfiles %}

{% block style %}
<link rel="stylesheet" href="{% static 'frontend/css/style-company.min.css' %}">
<!--<link rel="stylesheet" href="{% static 'frontend/css/style-company-18-12.min.css' %}">-->

{% endblock %}

{% block content %}
<div class="page-about page-company">
    <div class="block-one"
         style="background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(51, 4, 47, 0.41)), to(rgba(51, 4, 47, 0.41))), url({{ company.header_image.url }});">
        <div class="production-page-title">
            <h2 class="page-title">
                {{ company.text_caption | safe }}
            </h2><br/>
            <!--<div class="company-additional-caption">-->
                <!--<p>-->
                    <!--{{ company.text_additional_caption | safe }}-->
                <!--</p>-->
            <!--</div>-->
        </div>
    </div>


    <!--<div class="block-two text-center">-->
        <!--<p>-->
            <!--{{ company.text_about_additional_caption | safe }}-->
        <!--</p>-->
    <!--</div>-->

    <div class="company-about-us">
        <div class="text">
            {{ company.text_about_us | safe }}
        </div>

    </div>

    <div class="send-application" style="background-image: linear-gradient(to top, #FF9600, #FF9600);
    background-position: 0, center;
    background-repeat: no-repeat;
    background-size: 100% 13px;
    height: 35px;">
    </div>

    <div class="block-six">
        <div class="desk">
            <h2 class="page-title">Что такое завод по производству каркасных домокомплектов</h2>
            <div class="radial-cell">
                {% for adventages in company.text_company.all %}
                <div class="cell">
                    <h2 class="service-title">
                        {{ adventages.text }}</h2>
                    <div class="description" style="display: -webkit-flex; width: 100%; -webkit-justify-content: center;">
                        {{ adventages.description }}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <h2 class="page-title">Фотографии с завода</h2>
        <div style="display: block; max-width: 1500px; margin: auto; padding-bottom: 45px; padding: 0 15px;">
            <div class="owl-carousel owl-theme" id="photo-from-factory">
                {% for img in company.image_company.all %}

                <div class="cell" style="margin: auto;">
                    <a href="{{ img.image.url }}" data-fancybox="group342111" data-caption="">
                        <img src="{{ img.image.url }}" class="declaration" alt="">
                    </a>
                </div>

                {% endfor %}
            </div>
        </div>

        <div class="subblock-technology text-center">
            <div class="mask">
                <h2 class="title">Этапы производства</h2>
                <div class="cell">
                    <div class="description">
                        Заявка и&nbsp;согласование
                    </div>
                </div>
                <div class="cell">
                    <div class="description">
                        Сборка домокомплекта
                    </div>
                </div>
                <div class="cell">
                    <div class="description">
                        Согласование&nbsp;даты и доставка
                    </div>
                </div>
                <div class="cell">
                    <div class="description">
                        Монтаж домокомплекта
                    </div>
                </div>
                <div class="cell">
                    <div class="description">
                        Сдача дома
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-position-block" style="position: relative;">
        {% if user.is_authenticated %}
            <a href="/admin/frontend/company/1/change/" target="_blank">Редактировать</a>
        {% endif %}
	<div class="forma">
            <div class="text-center" style="text-align: center;">
                <h3 class="title"
                    style="font-family: 'GothamProBold'; color: #3c0336; font-size: 19pt;">
                    Узнайте стоимость
                </h3>
                <h4 style="color: #FF9600; font-size: 18px; font-family: 'GothamProRegular'; padding-bottom: 10px;">
                    Заполните форму, чтобы получить <strong>бесплатный</strong> расчёт стоимости дома
                </h4>
            </div>
            <form action="/company_request/" method="POST">
                {% csrf_token %}
                <div class="inputs">
                    <input type="text" required name="full-name" placeholder="Ваше имя">
                    <input type="tel" name="num-phone" placeholder="Ваш телефон">
                    <input type="email" name="email" placeholder="Ваш Email">
                    <input type="text" required name="city" placeholder="Ваш город">
                </div>
                <textarea name="request" id="" cols="30" rows="7" placeholder="Ваш комментарий или вопрос"></textarea>
                <div class="text-center"><br/>
                    <input class="btn-purple" type="submit" onclick="yaCounter38004435.reachGoal('colbeck_old'); return true;" value="Оставить заявку">
                    <p class="agreement">Нажимая на кнопку, вы принимаете <a href="../../static/frontend/docs/position.pdf" target="_blank">Положение</a> и <a href="../../static/frontend/docs/compliance.pdf" target="_blank">Согласие</a> на обработку персональных данных.</p>
                </div>

            </form>
        </div>
    </div>
    <!-- end form-position-block -->


    <!-- footer -->
    <footer class="footer" id="jack-footer">
        <div class="main-content">
            <div class="copiright">
                <p>
                    © ДомНедорого | {{ year }} год
                </p>
            </div>
            <div class="company-development">
                <p>
                    Сайт разработан компанией <span><a href="http://novecs.ru/" target="_blank">«Novecs»</a></span>
                </p>
            </div>
            <a href="#jack-header" class="btn-scroll-to-top"></a>

        </div>
    </footer>
</div>
{% endblock %}

{% block javascript %}

{% endblock %}