﻿{% extends 'frontend/base.html' %}

{% load staticfiles %}

{% block content %}
    <div class="block-page-container page-contacts">

        <div class="map-content">
            <div class="map" id="map"></div>
            <div class="contacts">
                <h2 class="title">Контакты</h2>
                <div class="social-networks">
                    {% for icon in icons %}
                        <a href="{{ icon.link }}" class="network" target="_blank">
                            <i class="{{ icon.icon.class_icon }}"></i>
                        </a>
                    {% endfor %}
                </div>
                <p>Связаться с нами можно в любой будний день с 9:00 до 18:00 (по местному времени)
                    – мы всегда рады новым знакомствам, сотрудничеству и партнерству.</p>
                <div class="cells">
                    {% for contact in contacts %}
                    <a href="#map">
                        <div class="cell" onclick="drag({{ contact.lat }}, {{ contact.lng }}, {{ contact.zoom }});">
                            <div class="cell-title"><span class="city">{{ contact.city }}</span> <span class="belt">UTC+3</span></div>
                            <div class="info">{{ contact.region }},<br /> г. {{ contact.city }}<br />
                                {{ contact.address }}<br />
                                {{ contact.phone }}<br />
                                {{ contact.email }}</div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
                
                {% if user.is_authenticated %}
                    <a href="/admin/frontend/contactssocialnetwork/add/">Добавить cоц. сеть</a>
                    <a href="/admin/frontend/contacts/add/">Добавить контакт</a>
                {% endif %}

                <p class="copiright">
                    Обращаем Ваше внимание на то, что данный интернет-сайт носит исключительно информационный характер и ни при каких условиях информационные материалы и цены, размещенные на сайте, не являются публичной офертой, определяемой положениями Ст. 437 Гражданского кодекса РФ.
                </p>
            </div>
        </div>

    </div>


    <!-- footer -->
    <footer class="footer navbar-fixed-bottom">
        <div class="main-content">
            <div class="ogrn">
                <p>
                    ОГРН 1053500235623
                </p>
            </div>
            <div class="copiright">
                <p>
                    © ДомНедорого | {{ year }} год
                </p>
            </div>
            <div class="company-development">
                <p>
                    Сайт разработан компанией <span><a href="http://novecs.ru/" target="_blank">«Novecs»</a></span>
                </p>
            </div>
            <a href="#jack-header" class="btn-scroll-to-top"></a>

        </div>
    </footer>

{% endblock %}

{% block javascript %}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCT7bL4xb7HN1IviJp3H9JVvDjtiySlIFo"></script>
<script src="{% static 'frontend/js/map.min.js' %}"></script>
<script>
    function textItemHeader(object) {
        faq_tab_item = object;
        question_content = document.getElementsByClassName('question')[0];
        question_content.innerHTML = faq_tab_item.getAttribute('text-header');
    }
</script>

{% endblock %}