<h2>Документация</h2>
<br />
Список таблиц<br />
----------------------------------------------------<br />
В данной таблице заполняются данные проекта, также можно эти данные заполнить из таблицы "Проекты"...<br />
----------------------------------------------------
<br />
Изображения проектов<br />
----------------------------------------------------<br />
В данной таблице заполняются изображения проектов которые выводятся в деталях проекта, также можно эти данные заполнить из таблицы "Проекты"...<br />
----------------------------------------------------
<br />
Категории технологий<br />
----------------------------------------------------<br />
В данной таблице заполняются категории технологий, например (А, Б, В, Г, Д, Е, Ё, Ж ...), также эти данные можно заполнить из таблицы "Технологии"...<br />
----------------------------------------------------
<br />
Категории часто задаваемых вопросов<br />
----------------------------------------------------<br />
В данной таблице заполняются категории часто задаваемых вопросов, также эти данные можно заполнить из таблицы "Часто задаваемые вопросы"...<br />
----------------------------------------------------
<br />
Комплектации<br />
----------------------------------------------------<br />
В данной таблице заполняются комплектации проектов, также эти данные можно заполнить из таблицы "Проекты"...<br />
----------------------------------------------------
<br />
Контакты<br />
----------------------------------------------------<br />
В данной таблице заполняются Контакты, которые будут выводиться на странице контактов...<br />
----------------------------------------------------
<br />
Наименование счётчиков на сайте<br />
----------------------------------------------------<br />
В этой таблице заполняются названия счётчиков, счётчики это то что смо изменяется при загрузке страницы, так-же эти данные можно заполнить из таблицы "Счётчики"...<br />
----------------------------------------------------
<br />
Планировка<br />
----------------------------------------------------<br />
В данной таблице заполняются планировка, которая будет выводиться в детальном проекте, также эти данные можно заполнить из таблицы "Проекты"...<br />
----------------------------------------------------
<br />
Подпункты главного меню<br />
----------------------------------------------------<br />
В данной таблице заполняются попункты меню, также эти данные можно заполнить из таблицы "Пункты гланого меню"...<br />
----------------------------------------------------
<br />
Проекты<br />
----------------------------------------------------<br />
В данной таблице заполняются проекты которые будут выводиться на странице каталога проектов...<br />
----------------------------------------------------
<br />
Пункты главного меню<br />
----------------------------------------------------<br />
В данной таблице заполняются пункты меню...<br />
----------------------------------------------------
<br />
Список cоциальных сетей<br />
----------------------------------------------------<br />
В данной таблице создаётся список соц сетей которые будут использоваться на сайте...<br />
----------------------------------------------------
<br />
Список городов<br />
----------------------------------------------------<br />
В данной таблице создаётся список городов которые используются в этом проекте, также эти данные можно заполнить из любой таблицы где они будут нужны...<br />
----------------------------------------------------
<br />
Список изображений (Наши работы)<br />
----------------------------------------------------<br />
В данной таблице создаётся список картинок которые показаны на странице наши работы, также эти данные можно заполнить из таблицы "Список работ"...<br />
----------------------------------------------------
<br />
Список иконок социальных сетей<br />
----------------------------------------------------<br />
В данной таблице создаётся список иконок соц сетей которые будут использоваться на сайте, также эти данные можно заполнить из тблицы "Список cоциальных сетей"...<br />
----------------------------------------------------
<br />
Список работ<br />
----------------------------------------------------<br />
В данной таблице создаётся список работ которые будут выводиться на странице Наши работы...<br />
----------------------------------------------------
<br />
Статьи технологий<br />
----------------------------------------------------<br />
В данной таблице создаются статьи которые будут выводиться при клике на соответствующую технологию, также эти данные можно заполнить из таблицы "Технологии"...<br />
----------------------------------------------------
<br />
Статьи услуг<br />
----------------------------------------------------<br />
В данной таблице заполняются статьи которые будут выводиться при клике на услугу, также их можно создать в таблице "Услуги"...<br />
----------------------------------------------------
<br />
Статьи часто задаваемых вопросов<br />
----------------------------------------------------<br />
В данной таблице заполняются статьи часто задаваемых вопросов, также эти данные можно заполнить из таблицы "Часто задаваемые вопросы"...<br />
----------------------------------------------------
<br />
Счётчики сайта<br />
----------------------------------------------------<br />
В данной таблице заполняются счётчики их значение...<br />
----------------------------------------------------
<br />
Теги<br />
----------------------------------------------------<br />
Данная таблица содержит теги, также их можно в любой таблице где они требуются...<br />
----------------------------------------------------
<br />
Технологии<br />
----------------------------------------------------<br />
В данной таблице создаются технологии...<br />
----------------------------------------------------
<br />
Услуги<br />
----------------------------------------------------<br />
В данной таблице создаются услуги...<br />
----------------------------------------------------
<br />
Часто задаваемые вопросы<br />
----------------------------------------------------<br />
В данной таблице создаются вопросы...<br />
----------------------------------------------------
<br />



