{% extends 'frontend/base.html' %}

{% load staticfiles %}

{% block style %}
    <!--<link rel="stylesheet" href="{% static 'frontend/css/franchise-style.min.css' %}">-->
    <!--<link rel="stylesheet" href="{% static 'frontend/css/franchise-responsive.min.css' %}">-->
{% endblock %}

{% block content %}
<div class="franchise">
    <!-- first-screen -->
    <section class="first-screen">
        <div class="block-start" style="background-image: url({{ franchise_header_image.header_image.url }});">

    </div>
        <div class="block-start-description">
            <div class="content">
                <h1 class="title">
                    Франшиза<br>«Дом недорого»
                </h1>
                <p>
                    откройте свою <br>
                    строительную компанию<br>
                    и зарабатывайте уже<br>
                    <span>с 1 месяца от <span id="amount">{{ franchise_amount.amount }}</span> руб.</span>
                    {% if user.is_authenticated %}
                        <a href="/admin/frontend/franchiseamount/1/change/" target="_blank">Изменить сумму</a>
                    {% endif %}
                </p>
                <button data-toggle="modal" data-target="#myModal" class="btn-download">Скачать презентацию</button>
                {% if user.is_authenticated %}
                    <a href="/admin/frontend/present/1/change/" target="_blank">Загрзить презентацию</a>
                {% endif %}
            </div>
        </div>
    </section>
    <!-- end first-screen -->


    <!-- block-result -->
    <section class="block-result">
        <div class="content">

            <div class="figures-container">
                {% if user.is_authenticated %}
                    <div style="text-align: center; position: absolute; top: 20px; left: 0; right: 0;">
                        <a href="/admin/frontend/franchisecounter/" target="_blank">Редактировать счётчики</a>
                    </div>
                {% endif %}
                <div class="figures">
                    {% for franch_counter in franchise_counter %}
                        <div class="cell">
                            <p class="description">{{ franch_counter.top_text }}</p>
                            <p class="value"><span class="timer" data-from="0" data-to="{{ franch_counter.counter }}"
                                                   data-speed="5000"
                                                   data-refresh-interval="17"></span></p>
                            <p class="subject">{{ franch_counter.bottom_text }}</p>
                        </div>
                    {% endfor %}
                    <div class="btn-send-application-block">
                        <input class="btn-send-application" type="button" value="Стать франчайзи">
                    </div>
                </div>
            </div>
            <p>
                {% if user.is_authenticated %}
                    <a href="/admin/frontend/franchiseadv/1/change/" target="_blank">Редактировать текст</a><br />
                {% endif %}
                {{ franchise_adv.text | safe }}
                <strong>{{ franchise_adv.bottom_text | safe }}</strong>
            </p>

            <div class="sub-block-advantages">
                {% for item_adv in franchise_item_adv %}
                    <div class="cell">
                        {% if user.is_authenticated %}
                            <a href="/admin/frontend/franchiseitemadv/{{ item_adv.id }}/change/" target="_blank">Изменить пункт</a>
                        {% endif %}
                        <div class="cell-title">{{ item_adv.item_name | safe }}</div>
                        <div class="info">
                            {{ item_adv.item_text | safe }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- end block-result -->


    <!-- block why-choose -->
    <section class="block-guarantee" id="line1111" style="background-image: url('/media/1.png'), linear-gradient(to right, #FF9600, #f8ae47), linear-gradient(to right, #ff960000, #f8ae47, #f8ae47); background-size: auto 100%;">
        <div class="main-content">
            <h3>Почему стоит выбрать<br>
                франшизу «Дом Недорого»?</h3>
            <div class="block-desctop">
                <div class="navs">
                    <ul class="nav nav-tabs">
                        {% for item_adv_two in franchise_item_adv_two %}
                            <li class="ll {{ item_adv_two.active }}" onclick="loadImages('{{ item_adv_two.image.url }}');">
                                <a href="#tab-{{ item_adv_two.id }}" data-toggle="tab"><i>
                                    {{ item_adv_two.item_name | safe }}
                                </i></a>
                            </li>
                        {% endfor %}

                    </ul>
                    <div class="nav-btns">
                        <button class="btn-prev"></button>
                        <button class="btn-next"></button>
                    </div>
                </div>

                <div class="tabs">
                    <div class="tab-content">
                        {% for item_adv_two in franchise_item_adv_two %}
                            <div class="tab-pane fade in {{ item_adv_two.active }}" id="tab-{{ item_adv_two.id }}" link-image="">
                                <h2 class="title">
                                    {{ item_adv_two.item_name | safe }}
                                </h2>

                                <p>
                                   {{ item_adv_two.item_text | safe }}
                                </p>

                                {% if user.is_authenticated %}
                                    <a href="/admin/frontend/franchiseitemadvtwo/{{ item_adv_two.id }}/change/" target="_blank" style="font-size: 10px; color: #fff;">Редактировать пункт</a>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- end block why-choose -->


    <!-- block-partnership -->
    <section class="block-partnership">
        <div class="content">
            <div class="text-center block-header">
                <h2 class="title">
                    Партнёрство по франшизе
                </h2>
                <p class="subtitle">
                    У нас <strong>3 вида партнерства</strong> по франшизе –
                    выберите любой, который подходит именно Вам!
                </p>
                <p class="description">
                    Вы совершаете <strong>единоразовый платеж</strong>, после чего работаете сами с нашими инструментами и
                    поддержкой.
                    В течение первого месяца мы предоставляем полную поддержку и проводим консультации по возникающим
                    вопросам.
                </p>
            </div>
            <div class="send-application">
                <input class="btn-send-application" type="button" value="Оставить заявку">
            </div>
            <div class="info">
                <div class="packages">
                    <ul class="nav nav-tabs nav-packages">
                        
                        <li class="active" id="base-item">
                            <a onclick="document.getElementById('data-amount-one').textContent = this.getAttribute('amount'); document.getElementById('data-amount-two').textContent = this.getAttribute('profit'); document.getElementById('package-text').innerHTML = this.getAttribute('text'); iconSelect('base');" text="Мы с Вами заключаем договор, передаем Вам и настраиваем инструменты по поиску клиентов, где мы даем гарантию того, что при выполнении всех поставленных задач и использовании инструкций от нас Вы получите минимум 1 клиента. С помощью этого Вы окупите партнерство." 
                            amount="{{ franchise_amount_base_one.amount }}" profit="{{ franchise_amount_base_two.amount }}" q="тыс. руб.">
                                Базовый
                            </a>
                        </li>
                        <li class="pack-btn-full" id="full-item">
                            <a onclick="document.getElementById('data-amount-one').textContent = this.getAttribute('amount'); document.getElementById('data-amount-two').textContent = this.getAttribute('profit'); document.getElementById('package-text').innerHTML = this.getAttribute('text'); iconSelect('full');
                            " text="Вы получаете копию нашей организации в Ваш регион.
Гарантируем Вам минимум 5 заявок за неделю.
Сюда входит всё что есть у нас." amount="{{ franchise_amount_full_one.amount }}" profit="{{ franchise_amount_full_two.amount }}" q="тыс. руб.">
                                Полный
                            </a>
                        </li>
                        <li id="company-item">
                            <a onclick="document.getElementById('data-amount-one').textContent = this.getAttribute('amount'); document.getElementById('data-amount-two').textContent = this.getAttribute('profit'); document.getElementById('package-text').innerHTML = this.getAttribute('text'); iconSelect('company');" text="Вы получаете копию нашей организации в Ваш регион – сюда входит всё что есть у нас. <strong style='font-size: 20px;'>Дополнительно Вы получаете особые условия от завода-производителя каркасных домокомплектов</strong> (необходимо уточнить у менеджера)."
                                amount="{{ franchise_amount_company_one.amount }}" profit="{{ franchise_amount_company_two.amount }}" q="млн. руб.">
                                Завод-производитель
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="description">
                    <div class="left-column">        
                        <div class="string row">
                            <div class="col-sm-5">
                            <p>Стоимость:</p>
                            </div>
                            <div class="col-sm-7 money"><span><b id="data-amount-one">{{ franchise_amount_base_one.amount | safe }}</b> тыс. руб.</span></div>
                            {% if user.is_authenticated %}
                                <a href="http://stroitelstvodomov.pro/admin/frontend/franchiseitempartner/{{ franch_item_partner.id }}/change/" target="_blank">Редактировать сумму</a>
                            {% endif %}
                        </div>
                        <div class="clearfix"></div>
                        <div class="string row">
                            <div class="col-sm-5">
                                <p>Прибыль в месяц от:</p>
                            </div>
                            <div class="col-sm-7 money"><span><b id="data-amount-two">{{ franchise_amount_base_two.amount | safe }}</b> тыс. руб.</span></div>
                            {% if user.is_authenticated %}
                                <a href="http://stroitelstvodomov.pro/admin/frontend/franchiseitempartner/{{ franch_item_partner.id }}/change/" target="_blank">Редактировать сумму</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="right-column hidden-xs">
                        <p id="package-text">
                            {{ franchise_item_partner_text.text | safe }}

                        </p>
                        {% if user.is_authenticated %}
                            <br /><a href="/admin/frontend/franchiseitempartnertext/1/change/" target="_blank">Редактировать текст</a>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="package-composition">
                <h3 class="title">
                    В этот пакет франшизы входит:
                </h3>

                <!-- Базовый -->
                <div class="package-composition-row">
                    <div class="cell">
                        <div class="image-base">
                            <img class="item item-ico pbase" src="{% static 'frontend/svg/franchise-package/1.svg' %}" alt="" base="true">
                        </div>
                        <div class="description-base">
                            Сайт
                        </div>
                    </div>
                    <div class="cell">
                        <div class="image-base">
                            <img class="item item-ico pbase" src="{% static 'frontend/svg/franchise-package/2.svg' %}" alt="" base="true">
                        </div>
                        <div class="description-base">
                            Реклама
                        </div>
                    </div>
                    <div class="cell">
                        <div class="image-base">
                            <img class="item item-ico pbase" src="{% static 'frontend/svg/franchise-package/3.svg' %}" alt="" base="true">
                        </div>
                        <div class="description-base">
                            Маркетинговый
                            пакет
                        </div>
                    </div>
                    <div class="cell">
                        <div class="image-base">
                            <img class="item item-ico pbase" src="{% static 'frontend/svg/franchise-package/4.svg' %}" alt="" base="true">
                        </div>
                        <div class="description-base">
                            CRM-система
                        </div>
                    </div>
                    <div class="cell">
                        <div class="image-base">
                            <img class="item item-ico pbase" src="{% static 'frontend/svg/franchise-package/5.svg' %}" alt="" base="true">
                        </div>
                        <div class="description-base">
                            Работа
                            в сильной команде
                            под нашим именем
                        </div>
                    </div>
                </div>
                <!-- Конец Базовый -->


                <!-- Полный -->
                <div class="block-desctop">
                    <div class="package-composition-row row-passive">
                        <div class="cell">
                            <div class="image">
                                <img class="item item-ico" src="{% static 'frontend/svg/franchise-package/6.svg' %}" alt="" company="true">
                            </div>
                            <div class="description">
                                Реклама (на получение первых 5 заявок/звонков рекламу оплачиваем мы)
                            </div>
                        </div>
                        <div class="cell">
                            <div class="image">
                                <img class="item item-ico" src="{% static 'frontend/svg/franchise-package/7.svg' %}" alt="" company="true">
                            </div>
                            <div class="description">
                                Добавление сайта во все справочники города с привязкой к вашему офису
                            </div>
                        </div>
                        <div class="cell">
                            <div class="image">
                                <img class="item item-ico" class="item" src="{% static 'frontend/svg/franchise-package/8.svg' %}" alt="">
                            </div>
                            <div class="description">
                                Удобная и легкая в управлении CRM-система (управление и отслеживание заявок)
                            </div>
                        </div>
                        <div class="cell">
                            <div class="image">
                                <img class="item item-ico" class="item" src="{% static 'frontend/svg/franchise-package/9.svg' %}" alt="">
                            </div>
                            <div class="description">
                                Подключение городского номера
                            </div>
                        </div>
                        <div class="cell">
                            <div class="image">
                                <img class="item item-ico" class="item" src="{% static 'frontend/svg/franchise-package/10.svg' %}" alt="">
                            </div>
                            <div class="description">
                                Подключение обратного звонка
                            </div>
                        </div>
                        <div class="cell">
                            <div class="image">
                                <img class="item item-ico" class="item" src="{% static 'frontend/svg/franchise-package/11.svg' %}" alt="">
                            </div>
                            <div class="description">
                                Имя нашей компании
                            </div>
                        </div>
                        <div class="cell">
                            <div class="image">
                                <img class="item item-ico" class="item" src="{% static 'frontend/svg/franchise-package/12.svg' %}" alt="">
                            </div>
                            <div class="description">
                                Визитки (отправим 1000 штук)
                            </div>
                        </div>
                        <div class="cell">
                            <div class="image">
                                <img class="item item-ico" class="item" src="{% static 'frontend/svg/franchise-package/13.svg' %}" alt="">
                            </div>
                            <div class="description">
                                Макет баннера + макет на входную дверь офиса + макет вывески
                            </div>
                        </div>
                    </div>

                    <div class="package-composition-row row-passive">
                        <div class="cell">
                            <div class="image">
                                <img class="item item-ico" class="item" src="{% static 'frontend/svg/franchise-package/14.svg' %}" alt="">
                            </div>
                            <div class="description">
                                Анализ рынка и конкурентов в вашем городе
                            </div>
                        </div>
                        <div class="cell">
                            <div class="image">
                                <img class="item item-ico" class="item" src="{% static 'frontend/svg/franchise-package/15.svg' %}" alt="">
                            </div>
                            <div class="description">
                                Образцы договоров + приложения к договору и образец коммерческого предложения
                            </div>
                        </div>
                        <div class="cell">
                            <div class="image">
                                <img class="item item-ico" src="{% static 'frontend/svg/franchise-package/16.svg' %}" alt="">
                            </div>
                            <div class="description">
                                Обучаем пользоваться CRM-системой, сайтом, обратным звонком
                            </div>
                        </div>
                        <div class="cell">
                            <div class="image">
                                <img class="item item-ico" src="{% static 'frontend/svg/franchise-package/17.svg' %}" alt="">
                            </div>
                            <div class="description">
                                Фотографии построенных нами домов, а также типовые проекты
                            </div>
                        </div>
                        <div class="cell">
                            <div class="image">
                                <img class="item item-ico" src="{% static 'frontend/svg/franchise-package/18.svg' %}" alt="">
                            </div>
                            <div class="description">
                                Юридический пакет документов для работы с клиентами и работниками
                            </div>
                        </div>
                        <div class="cell">
                            <div class="image">
                                <img class="item item-ico" src="{% static 'frontend/svg/franchise-package/19.svg' %}" alt="">
                            </div>
                            <div class="description">
                                Поиск сотрудников (бригады, отдел продаж, проектировщики)
                            </div>
                        </div>
                        <div class="cell">
                            <div class="image">
                                <img class="item item-ico" src="{% static 'frontend/svg/franchise-package/20.svg' %}" alt="">
                            </div>
                            <div class="description">
                                Поиск поставщиков в вашем регионе
                            </div>
                        </div>
                        <div class="cell">
                            <div class="image">
                                <img class="item item-ico" src="{% static 'frontend/svg/franchise-package/21.svg' %}" alt="">
                            </div>
                            <div class="description">
                                Инструкция по работе с клиентами
                            </div>
                        </div>
                    </div>

                    <div class="package-composition-row row-passive row-last">
                        <div class="cell">
                            <div class="image">
                                <img class="item item-ico" src="{% static 'frontend/svg/franchise-package/22.svg' %}" alt="">
                            </div>
                            <div class="description">
                                Технология строительства каркасных домов
                            </div>
                        </div>
                        <div class="cell">
                            <div class="image">
                                <img class="item item-ico" src="{% static 'frontend/svg/franchise-package/23.svg' %}" alt="">
                            </div>
                            <div class="description">
                                Проекты домов
                            </div>
                        </div>
                        <div class="cell">
                            <div class="image">
                                <img class="item item-ico" src="{% static 'frontend/svg/franchise-package/24.svg' %}" alt="">
                            </div>
                            <div class="description">
                                Вы – единственный наш партнер в своей области
                            </div>
                        </div>
                        <div class="cell">
                            <div class="image">
                                <img class="item item-ico" src="{% static 'frontend/svg/franchise-package/25.svg' %}" alt="">
                            </div>
                            <div class="description">
                                Инструкция по управлению организацией
                            </div>
                        </div>
                        <div class="cell">
                            <div class="image">
                                <img class="item item-ico" src="{% static 'frontend/svg/franchise-package/26.svg' %}" alt="">
                            </div>
                            <div class="description">
                                Калькулятор для просчёта домов и материалов
                            </div>
                        </div>
                        <div class="cell">
                            <div class="image">
                                <img class="item item-ico" src="{% static 'frontend/svg/franchise-package/27.svg' %}" alt="">
                            </div>
                            <div class="description">
                                Помощь в ведении бухгалтерии
                            </div>
                        </div>
                        <div class="cell">
                            <div class="image">
                                <img class="item item-ico" src="{% static 'frontend/svg/franchise-package/28.svg' %}" alt="">
                            </div>
                            <div class="description">
                                Помощь в поиске офиса
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Конец Полный -->

                <!-- Производство -->
                <div class="block-mobile">
                    <a href="#spoiler-package-composition" class="btn-show-more" data-toggle="collapse" onclick="this.style.display='none';">Показать больше</a>
                    <div class="collapse" id="spoiler-package-composition">
                        <div class="package-composition-row row-passive">
                            <div class="cell">
                                <div class="image">
                                    <img class="item item-ico" src="{% static 'frontend/svg/franchise-package/6.svg' %}" alt="">
                                </div>
                                <div class="description">
                                    Юридический пакет
                                    документов
                                    для работы
                                    с клиентами
                                    и работниками
                                </div>
                            </div>
                            <div class="cell">
                                <div class="image">
                                    <img class="item item-ico" src="{% static 'frontend/svg/franchise-package/7.svg' %}" alt="">
                                </div>
                                <div class="description">
                                    Поиск поставщиков
                                    в вашем регионе
                                </div>
                            </div>
                            <div class="cell">
                                <div class="image">
                                    <img class="item item-ico" src="{% static 'frontend/svg/franchise-package/8.svg' %}" alt="">
                                </div>
                                <div class="description">
                                    Добавление сайта
                                    во все справочники
                                    города с привязкой
                                    к вашему офису
                                </div>
                            </div>
                            <div class="cell">
                                <div class="image">
                                    <img class="item item-ico" src="{% static 'frontend/svg/franchise-package/9.svg' %}" alt="">
                                </div>
                                <div class="description">
                                    Подключение
                                    обратного звонка
                                </div>
                            </div>
                            <div class="cell">
                                <div class="image">
                                    <img class="item item-ico" src="{% static 'frontend/svg/franchise-package/10.svg' %}" alt="">
                                </div>
                                <div class="description">
                                    Визитки
                                    (отправим 1000 шт.)
                                </div>
                            </div>
                            <div class="cell">
                                <div class="image">
                                    <img class="item item-ico" src="{% static 'frontend/svg/franchise-package/11.svg' %}" alt="">
                                </div>
                                <div class="description">
                                    Макет баннера
                                    + макет на входную
                                    дверь офиса
                                    + макет вывески
                                </div>
                            </div>
                            <div class="cell">
                                <div class="image">
                                    <img class="item item-ico" src="{% static 'frontend/svg/franchise-package/12.svg' %}" alt="">
                                </div>
                                <div class="description">
                                    Анализ рынка
                                    и конкурентов
                                    в вашем городе
                                </div>
                            </div>
                        </div>

                        <div class="package-composition-row row-passive">
                            <div class="cell">
                                <div class="image">
                                    <img class="item item-ico" src="{% static 'frontend/svg/franchise-package/13.svg' %}" alt="">
                                </div>
                                <div class="description">
                                    Обучаем вас пользоваться
                                    CRM-системой,
                                    сайтом,
                                    обратным звонком
                                </div>
                            </div>
                            <div class="cell">
                                <div class="image">
                                    <img class="item item-ico" src="{% static 'frontend/svg/franchise-package/14.svg' %}" alt="">
                                </div>
                                <div class="description">
                                    Фотографии
                                    построенных
                                    нами домов,
                                    а также
                                    типовые проекты
                                </div>
                            </div>
                            <div class="cell">
                                <div class="image">
                                    <img class="item item-ico" src="{% static 'frontend/svg/franchise-package/6.svg' %}" alt="">
                                </div>
                                <div class="description">
                                    Юридический пакет
                                    документов
                                    для работы
                                    с клиентами
                                    и работниками
                                </div>
                            </div>
                            <div class="cell">
                                <div class="image">
                                    <img class="item item-ico" src="{% static 'frontend/svg/franchise-package/7.svg' %}" alt="">
                                </div>
                                <div class="description">
                                    Поиск поставщиков
                                    в вашем регионе
                                </div>
                            </div>
                            <div class="cell">
                                <div class="image">
                                    <img class="item item-ico" src="{% static 'frontend/svg/franchise-package/8.svg' %}" alt="">
                                </div>
                                <div class="description">
                                    Добавление сайта
                                    во все справочники
                                    города с привязкой
                                    к вашему офису
                                </div>
                            </div>
                            <div class="cell">
                                <div class="image">
                                    <img class="item item-ico" src="{% static 'frontend/svg/franchise-package/9.svg' %}" alt="">
                                </div>
                                <div class="description">
                                    Подключение
                                    обратного звонка
                                </div>
                            </div>
                            <div class="cell">
                                <div class="image">
                                    <img class="item item-ico" src="{% static 'frontend/svg/franchise-package/10.svg' %}" alt="">
                                </div>
                                <div class="description">
                                    Визитки
                                    (отправим 1000 шт.)
                                </div>
                            </div>
                        </div>

                        <div class="package-composition-row row-passive row-last">
                            <div class="cell">
                                <div class="image">
                                    <img class="item item-ico" src="{% static 'frontend/svg/franchise-package/10.svg' %}" alt="">
                                </div>
                                <div class="description">
                                    Визитки
                                    (отправим 1000 шт.)
                                </div>
                            </div>
                            <div class="cell">
                                <div class="image">
                                    <img class="item item-ico" src="{% static 'frontend/svg/franchise-package/11.svg' %}" alt="">
                                </div>
                                <div class="description">
                                    Макет баннера
                                    + макет на входную
                                    дверь офиса
                                    + макет вывески
                                </div>
                            </div>
                            <div class="cell">
                                <div class="image">
                                    <img class="item item-ico" src="{% static 'frontend/svg/franchise-package/12.svg' %}" alt="">
                                </div>
                                <div class="description">
                                    Анализ рынка
                                    и конкурентов
                                    в вашем городе
                                </div>
                            </div>
                            <div class="cell">
                                <div class="image">
                                    <img class="item item-ico" src="{% static 'frontend/svg/franchise-package/15.svg' %}" alt="">
                                </div>
                                <div class="description">
                                    Проекты домов
                                </div>
                            </div>
                            <div class="cell">
                                <div class="image">
                                    <img class="item item-ico" src="{% static 'frontend/svg/franchise-package/12.svg' %}" alt="">
                                </div>
                                <div class="description">
                                    Анализ рынка
                                    и конкурентов
                                    в вашем городе
                                </div>
                            </div>
                            <div class="cell">
                                <div class="image">
                                    <img class="item item-ico" src="{% static 'frontend/svg/franchise-package/15.svg' %}" alt="">
                                </div>
                                <div class="description">
                                    Проекты домов
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Конец Производство -->
            </div>

        </div>
    </section>
    <!-- end block-partnership -->


    <!-- franchise-will-work -->
    <section class="franchise-will-work">

        <div class="types-consumers">
            <div class="left-column">
                <div class="title">
                    <h2>Франшиза «Дом Недорого»<br>
                        подойдёт для</h2>
                </div>
                <div class="navs">
                    <ul class="nav nav-tabs">
                        {% for franch_item_request in franchise_item_request %}
                            <li class="{{ franch_item_request.active }}">
                                <a href="#tabbb-{{ franch_item_request.id }}" data-toggle="tab">{{ franch_item_request.item_name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="right-column">
                <div class="tabs">
                    <div class="tab-content" style="background-image: linear-gradient(to right, #FF9600, #f8ae47);">
                        {% for franch_item_request in franchise_item_request %}
                            <div class="tab-pane fade in {{ franch_item_request.active }}" id="tabbb-{{ franch_item_request.id }}" style="background-image: linear-gradient(to right, rgb(255, 150, 0), rgba(248, 174, 71, 0.56)), url({{ franch_item_request.image.url }});">
                                <p>
                                    {{ franch_item_request.text | safe }}
                                    {% if user.is_authenticated %}
                                        <br /><a href="/admin/frontend/franchiseitemrequest/{{ franch_item_request.id }}/change/" target="_blank">Редактировать пункт</a>
                                    {% endif %}
                                </p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>


        {% if user.is_authenticated %}
                <br /><a href="" target="_blank">Редактировать блок</a>
        {% endif %}
        <div class="opening-plan">
            <div class="left-column">
                <p class="gradient-text">План открытия вашего<br>
                    филиала «ДомНедорого»,<br>
                    или <span>как мы откроем<br>
                вам прибыльный<br>
                биснес меньше,<br>
                чем за 14 дней</span>
                </p>
            </div>
            <div class="right-column">
                <ol>
                    {% for franch_item_request_stagest in franchise_item_request_stagest %}
                        {% if user.is_authenticated %}
                                <br /><a href="http://stroitelstvodomov.pro/admin/frontend/franchiseitemrequeststagest/{{ franch_item_request_stagest.id }}/change/" target="_blank">Редактировать пункт</a>
                        {% endif %}
                        <li>
                            <h5><span>{{ franch_item_request_stagest.name_stages }}</span></h5>
                            <p>{{ franch_item_request_stagest.text_stages | safe }}</p>
                        </li>
                    {% endfor %}
                </ol>
            </div>
        </div>

        <div class="grafic">
            <img src="{% static 'frontend/svg/grafic.svg' %}" alt="Этапы">
        </div>
    </section>
    <!-- end franchise-will-work -->


    <!-- block-faq -->
    <section class="block-faq">
        <div class="title">
            <h2>Часто <br>
                задаваемые <br>
                <span>Вопросы</span>
            </h2>
            <p>Если у Вас останутся вопросы,<br>
                то мы всегда <a href="#jack-forma">готовы ответить на них</a>
            </p>
        </div>
        <div class="desk">
            <p class="question">
                {{ fif.item_name }}
            </p>
            <div>

                <div class="navs">
                    <ul class="nav nav-tabs">
                        {% for franch_item_faq in franchise_item_faq %}
                            <li class="{{ franch_item_faq.active }}">
                                <a href="#question-{{ franch_item_faq.id }}" data-toggle="tab" class="faq-tab-item" text-header="{{ franch_item_faq.item_name }}" onclick="textItemHeader(this)"></a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="tabs">
                    <div class="tab-content">
                        {% for franch_item_faq in franchise_item_faq %}
                            <div class="tab-pane fade in {{ franch_item_faq.active }}" id="question-{{ franch_item_faq.id }}">
                                <p class="answer">
                                    {{ franch_item_faq.item_text | safe }}
                                </p>
                                {% if user.is_authenticated %}
                                    <br /><a href="/admin/frontend/franchiseitemfaq/{{ franch_item_faq.id }}/change/" target="_blank">Редактировать вопрос</a>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end block-faq -->


    <!-- 8-Reasons -->
    <section class="eight-reasons">
        <div class="desk">
            <div class="title">
                <h2>
                    <span class="figure">8</span> причин,
                </h2>
                <p class="text">по которым с нами<br>
                    понравится работать<br>
                    как <strong>новичкам</strong>, так и<br>
                    <strong>опытным строителям</strong>
                </p>
            </div>
            <div class="column first-column">
                <ol class="first-list">
                    <li>Проверенная бизнес модель
                        <p>Вы получаете подробный алгоритм открытия строительной компании<br>
                            и стратегию продвижения бизнеса, которые основаны<br>
                            на нашем 7-летнем опыте.</p>
                    </li>
                    <li>Открытие за 7 дней
                        <p>Мы разработали подробный алгоритм из 43 шагов<br>
                            по открытию строительной компании:<br>
                            от заявки до открытия пройдет не больше двух недель.</p>
                    </li>
                    <li>Окупаемость за 1 месяц
                        <p>Партнер в регионе зарабатывает в среднем от 500 000 руб.<br>
                            чистой прибыли в месяц. Вы легко можете окупить затраты с первой сделки.</p>
                    </li>
                    <li>Помощь в открытии офиса
                        <p>Поможем выбрать офис и правильно оформить входную группа.<br>
                            Подготовим презентацию для арендодателя,<br>
                            чтобы переговоры прошли успешно.
                        </p>
                    </li>
                </ol>
            </div>
            <div class="column second-column">
                <ol class="second-list">
                    <li>Школа каркасных домов
                        <p>Разработанные нами видео-уроки, живые тренинги<br>
                            и скрипты общения с клиентами подготовят с нуля<br>
                            ваших сотрудников всего за 7 дней для продаж.</p>
                    </li>
                    <li>Контроль бизнеса через телефон
                        <p>Автоматизированная система позволяет удаленно контролировать<br>
                            работу на строй площадке и отслеживать показатели бизнеса со сматрфона.<br>
                            Вы можете строить 3-10 и более домов одновременно и контролировать<br>
                            весь процесс со своего телефона, а также контролировать<br>
                            как идет работа в офисе.</p>
                    </li>
                    <li>Маркетинговая поддержка
                        <p>Разрабатываем рекламные кампании на всю сеть и индивидуально<br>
                            для вашего региона. Вам самим не нужно заботиться о привлечении клиентов.<br>
                        </p>
                    </li>
                    <li>Прямой контакт с собственниками
                        <p>На протяжении всего сотрудничества вы получаете информацию<br>
                            из первых рук: общаетесь напрямую с собственниками франшизы.</p>
                    </li>
                </ol>
            </div>
        </div>
    </section>
    <!-- end 8-Reasons -->


    <!-- block-history -->
    <section class="block-history">
        {% if user.is_authenticated %}
            <br /><a href="/admin/frontend/franchiseabout/1/change/" target="_blank">Редактировать о компании</a>
        {% endif %}
        <div class="content text-center">
            <p>
                {{ franchise_about.about | safe }}
            </p>
            <img class="arrow" src="{% static 'frontend/svg/caret.svg' %}" alt="">
            <div class="radial-cell">
                <div class="image">
                    <img src="{{ franchise_about.image_avatar.url }}" alt="">
                </div>
                <div class="title">{{ franchise_about.name }}</div>
                <div class="description">
                    {{ franchise_about.description }}
                </div>
                <img class="signature" src="{% static 'frontend/svg/signature.svg' %}" alt="">
            </div>
        </div>
    </section>
    <!-- end block-history -->


    <!-- block-reviews -->
    <section class="block-reviews">
        <div class="main-content">

            <h2 class="title">
                Отзывы наших<br><span>партнёров</span>
            </h2>
            <div class="tabs">
                <ul class="nav nav-tabs" style="align-items: flex-start;">
                    {% for franch_comment in franchise_comment %}
                        <li class="{{ franch_comment.active }}">
                            <a href="#tabb-{{ franch_comment.id }}" data-toggle="tab">
                                <div onclick="getComment"></div>
                            </a>
                            <p>{{ franch_comment.city.name }}</p>
                        </li>
                    {% endfor %}
                </ul>
                <div class="tab-content desk">
                    {% for franch_comment in franchise_comment %}
                        <div class="tab-pane {{ franch_comment.active }}" id="tabb-{{ franch_comment.id }}">
                            <div class="reviewer">
                                <div class="photo-reviewer">
                                    <img src="{{ franch_comment.avatar.url }}" alt="фото коментирующего" style="max-height: 250px; height: 140px; width: auto;">
                                </div>
                                <div class="reviewer-info">
                                    <p class="name">{{ franch_comment.fullname }}</p>
                                    <p class="rev-about">«Дом Недорого», <span>{{ franch_comment.city.name }}</span></p>
                                </div>
                            </div>
                            <p>
                                {{ franch_comment.comment }}
                            </p>
                            {% if user.is_authenticated %}
                                <a href="http://stroitelstvodomov.pro/admin/frontend/franchisecomment/{{ franch_comment.id }}/change/" target="_blank">Редактировать отзыв</a>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </section>
    <!-- end block-reviews -->


    <!-- form-position-block -->
    <div class="form-position-block">
        <div class="forma" id="jack-forma">
            <div class="text-center">
                <h3 class="title">
                    Оставьте заявку на получение <span>франшизы</span><br>
                    или задайте нам вопросы
                </h3>
            </div>
            <form action="/franchise-request/" method="POST">
                {% csrf_token %}
                <div class="inputs">
                    <input type="text" required name="full-name" placeholder="Ваше имя">
                    <input type="tel" name="num-phone" placeholder="Ваш телефон">
                    <input type="email" name="email" placeholder="Ваш Email">
                    <input type="text" required name="city" placeholder="Ваше город">
                </div>
                <textarea name="request" id="" cols="30" rows="10" placeholder="Ваш комментарий или вопрос"></textarea>
                <div class="text-center">
                    <input class="btn-purple" type="submit" onclick="yaCounter38004435.reachGoal('colbeck_old'); return true;" value="Оставить заявку">
                </div>

            </form>
            <button data-toggle="modal" data-target="#myModal" onclick="//location.href = '{{ present.file_present.url }}';" class="btn-download">Скачать презентацию</button>
        </div>
    </div>
    <!-- end form-position-block -->


    <!-- footer -->
    <footer class="footer" id="jack-footer">
        <div class="main-content">
            <div class="copiright">
                <p>
                    © ДомНедорого | {{ year }} год
                </p>
            </div>
            <div class="company-development">
                <p>
                    Сайт разработан компанией <span><a href="http://novecs.ru/" target="_blank">«Novecs»</a></span>
                </p>
            </div>
            <a href="#jack-header" class="btn-scroll-to-top"></a>

        </div>
    </footer>
    <!-- end footer -->
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Оставьте заявку на получение <span>презентации</span></h4>
            </div>
            <div class="modal-body">
                <form action="/download-present/" method="POST" id="modal-franchise">
                    {% csrf_token %}
                    <div class="forma">
                        <input type="text" name="full-name" required placeholder="Ваше имя *">
                        <input type="text" name="num-phone" placeholder="Ваш телефон">
                        <input type="text" name="email" placeholder="Email">
                        <input type="text" name="city" required placeholder="Ваш город">
                        <div class="form-group">
                            <input type="checkbox" name="present-franchise" value="1" id="check-1"><label for="check-1">Презентация франшизы «ДомНедорого»</label>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="present-comerce" value="1" id="check-2"><label for="check-2">Коммерческое предложение «ДомНедорого»</label>
                        </div>
                    </div>
                    <button class="modal-btn-purple" type="submit" onclick="yaCounter38004405.reachGoal('colbeck_old'); return true;">Оставить заявку</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}

<script src="{% static 'frontend/js/franchise-script.js' %}"></script>
<script src="{% static 'frontend/js/equ_amount.js' %}"></script>

<script>
    amount = document.getElementById('amount');
    amount.innerHTML = thousandSeparator(amount.textContent);

    function textItemHeader(object) {
        faq_tab_item = object;
        question_content = document.getElementsByClassName('question')[0];
        question_content.innerHTML = faq_tab_item.getAttribute('text-header');
    };
</script>

<script>
    window.onload = function(){
        item_ico = document.getElementsByClassName('item-ico');
        for (element = 0; element <= item_ico.length; element++){
            item_ico[element].style.filter = 'grayscale(100%)';
            item_ico[element].style.opacity = '0.5';
            if (item_ico[element].hasAttribute('base')){
                item_ico[element].style.filter = 'grayscale(0%)';
                item_ico[element].style.opacity = '1';
            }
        }
    }


    function iconSelect(package){
        try {
            item_ico = document.getElementsByClassName('item-ico');

            if (package == 'base'){
                document.getElementById('full-item').classList.remove('active');
                document.getElementById('company-item').classList.remove('active');
                document.getElementById('base-item').classList.add('active');

                for (element = 0; element <= item_ico.length; element++){
                    item_ico[element].style.filter = 'grayscale(100%)';
                    item_ico[element].style.opacity = '0.5';
                    if (item_ico[element].hasAttribute('base')){
                        item_ico[element].style.filter = 'grayscale(0%)';
                        item_ico[element].style.opacity = '1';
                    }
                }
            }

            if (package == 'full'){
                document.getElementById('base-item').classList.remove('active');
                document.getElementById('company-item').classList.remove('active');
                document.getElementById('full-item').classList.add('active');

                for (element = 0; element <= item_ico.length; element++){
                    item_ico[element].style.filter = 'grayscale(0%)';
                    item_ico[element].style.opacity = '1';
                    if (item_ico[element].hasAttribute('base')){
                        item_ico[element].style.filter = 'grayscale(0%)';
                        item_ico[element].style.opacity = '1';
                    }
                }

            }

            if (package == 'company'){
                document.getElementById('base-item').classList.remove('active');
                document.getElementById('company-item').classList.add('active');
                document.getElementById('full-item').classList.remove('active');

                for (element = 0; element <= item_ico.length; element++){
                    item_ico[element].style.filter = 'grayscale(0%)';
                    item_ico[element].style.opacity = '1';
                    if (item_ico[element].hasAttribute('company')){
                        item_ico[element].style.filter = 'grayscale(0%)';
                        item_ico[element].style.opacity = '1';
                    }
                    if (item_ico[element].hasAttribute('base')){
                        item_ico[element].style.filter = 'grayscale(0%)';
                        item_ico[element].style.opacity = '1';
                    }
                }
            }
        } catch (err) {
            /** Исключение **/
        }
    }


    function loadImages(url){
        document.getElementById('line1111').style.backgroundImage = "url('" + url + "'), linear-gradient(to right, #FF9600, #f8ae47), linear-gradient(to right, #ff960000, #f8ae47, #f8ae47)";
    }

</script>
{% endblock %}