﻿{% extends 'frontend/base.html' %}

{% load staticfiles %}

{% block content %}
<div class="intermediate-page">

    <div class="conatiner-fluid text-center">
        <a href="/projects/"><div class="cell" id="work">
            <div class="mask">
                <div class="content">
                    <h1>Каталог<br />проектов</h1>
                    <p class="description">Готовые проекты от наших архитекторов,<br />
                        которые мы можем построить для вас</p>
                </div>
            </div>
        </div></a>

        <a href="/works/"><div class="cell" id="proj">
            <div class="mask">
                <div class="content">
                    <h1>Реализованные проекты</h1>
                    <p class="description">Построенные дома и прочие сооружения</p>
                </div>
            </div>
        </div></a>
        <!--<div class="cell" id="calc">-->
            <!--<div class="mask">-->
                <!--<div class="content">-->
                    <!--<h1>Калькулятор</h1>-->
                    <!--<p class="description">-->
                        <!--Расчитайте стоимость своего будущего дома-->
                    <!--</p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>

</div>

<!-- footer -->
<footer class="footer navbar-fixed-bottom">
    <div class="main-content">
        <div class="copiright">
            <p>
                © ДомНедорого | 2017 год
            </p>
        </div>
        <div class="company-development">
            <p>
                Сайт разработан компанией <span><a href="http://novecs.ru/" target="_blank">«Novecs»</a></span>
            </p>
        </div>
        <a href="#jack-header" class="btn-scroll-to-top"></a>

    </div>
</footer>
<!-- end footer -->


{% endblock %}

{% block javascript %}

{% endblock %}