﻿{% extends 'frontend/base.html' %}

{% load staticfiles %}

{% block content %}
<div class="page-projects">

    <div class="main-content title">
        <h2 class="title text-center col-xs-12">Наши работы</h2>
        
        <h3 class="subtitle text-center col-xs-12">Проекты, которые мы реализовали</h3>
    </div>

    <!-- Сортировка -->

    <div class="sorting-block">
        <a href="#block-filter" data-toggle="collapse" class="sorting collapsed">Сортировка <img class="custom-caret" src="{% static 'frontend/svg/dropdown-arrow.svg' %}" alt=""></a>
        <div class="collapse block-filter" id="block-filter">

            <form class="filter">
                <div class="group-dropdown">
                    <div class="form-group">
                        <label>По проекту</label>
                        <div class="dropdown">
                            <button class="select dropdown-toggle" type="button" data-toggle="dropdown">Дом «Квинс»
                                <img class="custom-caret" src="{% static 'frontend/svg/dropdown-arrow.svg' %}"></button>
                            <ul class="dropdown-menu">
				<li><a href="?all=1">Другое</a></li>
				{% for sort_work in sort_works %}
				{% if sort_work|first != None %}
                                <li><a href="?sort={{ sort_work | first }}">Дом «{{ sort_work | first }}»</a></li>
				{% endif %}
				{% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>По готовности</label>
                        <div class="dropdown">
                            <button class="select dropdown-toggle" type="button" data-toggle="dropdown">
                                <p>
                                    <i class="fa fa-check" aria-hidden="true"></i> Готов
                                </p>

                                <img class="custom-caret" src="{% static 'frontend/svg/dropdown-arrow.svg' %}"></button>
                            <ul class="dropdown-menu">
                                <li><a href="/works/?status=1"><i class="fa fa-check" aria-hidden="true"></i> Готов</a></li>
                                <li><a href="/works/?status=0"><i class="fa fa-refresh" aria-hidden="true"></i> В процессе</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <button class="clear">Сбросить
                    </button>
                </div>


            </form>
        </div>

    </div>


    <div class="main-content block-content">
        {% if user.is_authenticated %}
            <a href="/admin/frontend/oworks/add/">Добавить работу</a>
        {% endif %}
        <div class="cells">
            {% for work in works %}
                <a href="/work/{{ work.id }}">
                    <div class="cell">
                        <div class="image">
                            <img src="{{ work.image.url }}" alt="Фото проекта">
                        </div>
                        <div class="info">
                            <p class="name">
                                Дом «{{ work.name }}»
                                {% if work.status == 1 %}
                                    <img class="process" src="{% static 'frontend/svg/icon-finished.svg' %}" alt="процесс">
                                {% else %}
                                    <img class="process" src="{% static 'frontend/svg/icon-processed.svg' %}" alt="процесс">
                                {% endif %}
                            </p>
                            <p class="city-year">
                                {{ work.city.name }}, {{ work.mouth }} {{ work.year }}
                                <span class="photo-count">
                                    {{ work.images.all.count }} 
                                    <img src="{% static 'frontend/svg/icon-imgs.svg' %}" alt="всего фото"> 
                                </span>
                            </p>
                        </div>
                        {% if user.is_authenticated %}
                        <a href="http://stroitelstvodomov.pro/admin/frontend/oworks/{{ work.id }}/change/" target="_blank">Редактировать работу</a>
                    {% endif %}
                    </div>
                </a>
            {% endfor %}           
        </div>
    </div>

    <!-- footer -->
    <footer class="footer navbar-fixed-bottom">
        <div class="main-content">
            <div class="copiright">
                <p>
                    © ДомНедорого | {{ year }} год
                </p>
            </div>
            <div class="company-development">
                <p>
                    Сайт разработан компанией <span><a href="http://novecs.ru/" target="_blank">«Novecs»</a></span>
                </p>
            </div>
            <a href="#jack-header" class="btn-scroll-to-top"></a>

        </div>
    </footer>
    <!-- end footer -->
</div>
{% endblock %}

{% block javascript %}


<script>
    function textItemHeader(object) {
        faq_tab_item = object;
        question_content = document.getElementsByClassName('question')[0];
        question_content.innerHTML = faq_tab_item.getAttribute('text-header');
    }
</script>
{% endblock %}