﻿{% extends 'frontend/base.html' %}

{% load staticfiles %}

{% block content %}
<nav class="left-menu">
    <ul id="jackar">
        <li><a href="#jack-screen-two">Наши услуги</a></li>
        <li><a href="#jack-screen-three">Наши преимущества</a></li>
        <li><a href="#jack-screen-stages">Этапы работ</a></li>
        <li><a href="#jack-screen-fourth">Наши партнеры</a></li>
        <li><a href="#jack-screen-five">Мы в цифрах</a></li>
        <!--li><a href="#jack-special-offer">Специальное<br>предложение</a></li-->
    </ul>
    <div class="social-network">
        <div class="vk">
            <a href="https://vk.com/domnedorogo35" target="_blank"></a>
        </div>
        <div class="insta">
            <a href="https://www.instagram.com/domnedorogo/" target="_blank"></a>
        </div>
    </div>
</nav>


<section class="screen-one example-classname" id="jack-screen-one">


    <div class="owl-demo">
        <!--nav class="slider-navigation">
            <ul>
                <li class="active"><a href="#">Проект «Олимп»</a></li>
                <li><a href="#">Проект «Сумерки»</a></li>
                <li><a href="#">Проект «Лирик»</a></li>
                <li><a href="#">Проект «Свет»</a></li>
            </ul>
        </-->
        <div class="slide-progress"></div>
        
        <div class="owl-carousel owl-theme" id="first-slider">
            {% for slide in slides %}
                <div class="item item-{{ slide.id }}" style="background-image: url('{{ slide.slide.url }}');">
                   <div class="action-block">
                       <!--<div class="action">-->
                           <!--<div class="owl-carousel owl-theme" id="slider-action">-->
                               <!--<div>-->
                                   <!--<img src="{% static 'frontend/img/content/banner-1.png' %}" alt="">-->
                               <!--</div>-->
                               <!--<div>-->
                                   <!--<img src="{% static 'frontend/img/content/banner-2.png' %}" alt="">-->
                               <!--</div>-->
                           <!--</div>-->
                       <!--</div>-->
                       <div class="action">
                           <div class="slider-action1">
                                   <img src="{% static 'frontend/img/content/banner-1.png' %}" alt="">
                                   <img src="{% static 'frontend/img/content/banner-2.png' %}" alt="">
                                   <img src="{% static 'frontend/img/content/banner-3.png' %}" alt="">
                           </div>
                       </div>
                       <div class="main-content">
                           <!--p>Тёплый, надёжный загородный дом <br>
                               <span>«под ключ»</span> по цене квартиры</p-->
                           {{ slide.text | safe }}
                       </div>
                   </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="block-content">
        <div class="main-content">

        </div>
    </div>
</section>

<!--<section class="screen-two example-classname" id="jack-screen-two">-->
    <!--<div class="controlls hidden-xs">-->
        <!--<nav class="slider-navigation hidden-xs">-->
            <!--<ul>-->
                <!--{% for service in services %}-->
                <!--<li><a href="/service/{{ service.id }}" target="_blank">{{ service.name }}</a></li>-->
                <!--{% endfor %}-->
            <!--</ul>-->
        <!--</nav>-->
        <!--<div class="navs">-->
            <!--<button class="btn-prev"></button>-->
            <!--<button class="btn-next"></button>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="owl-carousel owl-theme slider2" id="start-page-slider-two">-->
        <!--{% for service in bottom_slider %}-->
        <!--<div class="item item{{ service.counter }}" style="background-image: url('{{ service.slide.url }}');">-->
            <!--<div class="container">-->
                <!--<div class="row">-->
                    <!--<div class="col-xs-12 text-center">-->
                        <!--<div class="content">-->
                            <!--<div class="desk-service-info">-->
                                <!--<h2 class="title">{{ service.srv.name }}</h2>-->
                                <!--{{ service.text | safe }}-->
                            <!--</div>-->
                            <!--<div class="more-info">-->
                                <!--<a href="/service/" class="text-center">Подробнее об услуге</a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--{% endfor %}-->
    <!--</div>-->
<!--</section>-->

<section class="screen-two example-classname" id="jack-screen-two">
    <div class="controlls hidden-xs">
        <nav class="slider-navigation hidden-xs">
                {% for service in services %}
                    <div class="slide-nav">{{ service.name }}</div>
                {% endfor %}
        </nav>
    </div>
    <div class="slider2" id="start-page-slider-two">
        {% for service in bottom_slider %}
        <div class="item item{{ service.counter }}" style="background-image: url('{{ service.slide.url }}');">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <div class="content">
                            <div class="desk-service-info">
                                <h2 class="title">{{ service.srv.name }}</h2>
                                {{ service.text | safe }}
                            </div>
                            <div class="more-info">
                                <a href="/service/{{ service.id }}" class="text-center">Подробнее об услуге</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<section class="screen-three example-classname" id="jack-screen-three">
    <div class="main-content">

        <div class="content">
            {% for adv in advantages %}
            <div class="cell">
                <div class="image">
                    <img src="{{ adv.icon.url }}" alt="">
                </div>
                <p class="title">{{ adv.caption }}</p>
                <p class="description">{{ adv.description }}</p>
            </div>
            {% endfor %}
        </div>

    </div>
</section>

<section class="screen-stages example-classname" id="jack-screen-stages">
    <div class="main-content">
        <div class="content text-center">
            <!--<img class="stages-img" src="{{ settings.stages_image.url }}" alt="">-->
            <ul class="stages">
                <li class="cell cell-first">
                    <div class="image">
                        <div class="wow zoomIn animated" data-wow-delay="0s" data-wow-duration="2s">
                            <img class="wow tada animated" data-wow-iteration="infinite" data-wow-delay="4s" data-wow-duration="2s" src="{% static 'frontend/svg/stages/main_how_we_work-01.svg' %}" alt="">
                        </div>
                    </div>
                    <div class="description">
                        <p>Подача заявки</p>
                        <button data-toggle="modal" data-target="#submit-application" class="application">Оставить заявку</button>
                    </div>
                </li>
                <li class="cell">
                    <div class="image">
                        <img class="wow zoomIn animated" data-wow-delay="0.5s" data-wow-duration="2s" src="{% static 'frontend/svg/stages/main_how_we_work-02.svg' %}" alt="">
                    </div>
                    <div class="description">
                        <p>Согласование проекта вашего будущего дома</p>
                    </div>
                </li>
                <li class="cell">
                    <div class="image">
                        <img class="wow zoomIn animated" data-wow-delay="1s" data-wow-duration="2s" src="{% static 'frontend/svg/stages/main_how_we_work-03.svg' %}" alt="">
                    </div>
                    <div class="description">
                        <p>Подписание договора</p>
                    </div>
                </li>
                <li class="cell">
                    <div class="image">
                        <img class="wow zoomIn animated" data-wow-delay="1.5s" data-wow-duration="2s" src="{% static 'frontend/svg/stages/main_how_we_work-04.svg' %}" alt="">
                    </div>
                    <div class="description">
                        <p>Поэтапная оплата и строительство</p>
                    </div>
                </li>
                <li class="cell">
                    <div class="image">
                        <img class="wow zoomIn animated" data-wow-delay="2s" data-wow-duration="2s" src="{% static 'frontend/svg/stages/main_how_we_work-05.svg' %}" alt="">
                    </div>
                    <div class="description">
                        <p>Чистовая отделка и коммуникации</p>
                    </div>
                </li>
                <li class="cell">
                    <div class="image">
                        <img class="wow zoomIn animated" data-wow-delay="2.5s" data-wow-duration="2s" src="{% static 'frontend/svg/stages/main_how_we_work-06.svg' %}" alt="">
                    </div>
                    <div class="description">
                        <p>Уборка строительного мусора</p>
                    </div>
                </li>
                <li class="cell">
                    <div class="image">
                        <img class="wow zoomIn animated" data-wow-delay="3s" data-wow-duration="2s" src="{% static 'frontend/svg/stages/main_how_we_work-07.svg' %}" alt="">
                    </div>
                    <div class="description">
                        <p>Сдача объекта</p>
                    </div>
                </li>
                <li class="cell">
                    <div class="image">
                        <img class="wow zoomIn animated" data-wow-delay="3.5s" data-wow-duration="2s" src="{% static 'frontend/svg/stages/main_how_we_work-08.svg' %}" alt="">
                    </div>
                    <div class="description">
                        <p>Ваш идеальный дом.<br><a href="/works/" target="_blank">Наши готовые работы</a></p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="section screen-fourth example-classname" id="jack-screen-fourth">
    <div class="main-content">
        <h2 class="text-center title">Мы работаем с компаниями:</h2>
        <div class="content">
            <div class="owl-carousel owl-theme slider2" id="start-page-partners">
                {% for partner in partners %}
                <div class="image">
                    <a href="{{ partner.link }}" target="_blank"><img src="{{ partner.image.url }}" alt=""></a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<section class="section screen-five example-classname" id="jack-screen-five">

    <div class="main-content">
        <div class="yars visible-lg">
            <ul class="nav nav-tabs" style="width: 91%;">
                <li class="all-time active">
                    <a href="#tab-all" data-toggle="tab">
                    <p>За всё время</p>
                    <i></i></a>
                </li>
                {% for year in years %}
                    {% if year.year != 9999 %}
                        <li>
                            {% if year.year %}
                                <a href="#tab-{{ year.id }}" data-toggle="{{ year.status }}">
                                {{ year.year }}<i></i></a>
                                <!--a style="cursor: pointer;" data-toggle=""><i></i></a-->
                            {% endif %}
                        </li>                        
                    {% endif %}
                {% endfor %}

                <li class="not-end">
                    продолжение
                    следует ;)
                </li>
            </ul>

        </div>


        <div class="tabs">
            <div class="tab-content">

                <div class="tab-pane fade in active" id="tab-all">
                    <div class="content">
                        {% for year in years %}
                            {% if year.year == 9999 %}
                                <div class="text-center col-xs-12 subject">за время работы мы:</div>
                                {% for count in year.counters.all %}
                                    <div class="cell">
                                        <p class="description">{{ count.counter.top_text }}</p>
                                        <p class="value"><span class="timer" data-from="0" data-to="{{ count.count }}"
                                                            data-speed="5000"
                                                            data-refresh-interval="50"></span></p>
                                        <p class="subject">{{ count.counter.bottom_text }}</p>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </div>

                </div>

                {% for year in years %}
                <div class="tab-pane fade in" id="tab-{{ year.id }}">

                    <div class="content">
                        <div class="text-center col-xs-12 subject">за время работы мы:</div>
                        {% for count in year.counters.all %}
                        <div class="cell">
                            <p class="description">{{ count.counter.top_text }}</p>
                            <p class="value"><span class="timer" data-from="0" data-to="{{ count.count }}"
                                                   data-speed="5000"
                                                   data-refresh-interval="50"></span></p>
                            <p class="subject">{{ count.counter.bottom_text }}</p>
                        </div>
                        {% endfor %}
                    </div>

                </div>
                {% endfor %}
            </div>
        </div>


    </div>
    <!--div class="block-special-offer" id="jack-special-offer">
        <div class="special-offer">
            <h2>Новогодняя акция</h2>
            <p>
                рассрочка на 6 месяцев
                переплата&nbsp;0%&nbsp;*
            </p>
        </div>
    </div-->


    <div class="photo-instagram" style="width: 100%; display: block;">
        <div style="width: 100%; display: block; text-align: center;">
            <h2 style="margin: 0px; padding: 0px;">Следите за нами в инстаграме <a
                    href="https://www.instagram.com/domnedorogo/" style="text-decoration: none;" target="_blank">#domnedorogo</a>
            </h2>
        </div>
        {% for image in inst_images %}
	<a href="https://www.instagram.com/p/{{ image.code }}/?taken-by=domnedorogo" target="_blank">
        <div class="block-photo">
            <div class="mask">
                <div class="mask-content">
                    <i class="fa fa-heart" aria-hidden="true"></i><span>{{ image.likes.count }}</span>
                </div>
            </div>
            <img src="{{ image.thumbnail_src }}"/>
        </div>
	</a>
        {% endfor %}
    </div>

</section>

<section class="calc navbar-fixed-bottom" id="calc">
    <div class="calc-container main-content">
        <div class="col-xs-12 text-center">
            <h2 class="title">Чем больше пунктов вы заполните, тем больше будет ваша скидка
                <button class="hide-discount hidden-xs" id="hide-discount">не хочу скидку <span><img
                        src="{% static 'frontend/img/system/close-orange.png' %}" alt=""></span></button>
            </h2>
            <h3 class="subtitle">Мы рассчитаем стоимость дома и перезвоним вам</h3>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 foundation" id="foundation">
            <h4 class="calc-block-title">
                Фундамент
            </h4>
            <div class="calc-input">
                <label>Ширина, м</label>
                <input type="text" name="foundation-width" placeholder="например, 32" form="calc-form" id="foundation-width"
                       onkeypress="return this.value = this.value.replace(/[^\d,]/g, '');"
                       onkeyup="return this.value = this.value.replace(/[^\d,]/g, '');">
            </div>
            <img class="calc-delimiter hidden-xs" src="{% static 'frontend/img/system/cross.png' %}"
                 alt="крест разделитель">
            <div class="calc-input">
                <label>Длина, м</label>
                <input type="text" name="foundation-height" placeholder="например, 32" form="calc-form" id="foundation-height"
                       onkeypress="return this.value = this.value.replace(/[^\d,]/g, '');"
                       onkeyup="return this.value = this.value.replace(/[^\d,]/g, '');"
                       oninput="fullInputFoundation(document.getElementById('foundation-width'), this);">
            </div>

            <div class="radio-block">
                <p class="radio-block-title">Тип фундамента<!--img class="info" data-toggle="tooltip"
                                                                data-placement="right" title="Tooltip on right"
                                                                src="{% static 'frontend/img/system/info.png' %}" alt="подробнее"--></p>
                <label class="foundation-radio1123">
                    <input class="radio" type="radio" value="монолитная плита" name="foundation" form="calc-form">
                    <span class="radio-custom"></span><span>монолитная плита</span>
                </label>
                <label class="foundation-radio1123">
                    <input class="radio" type="radio" value="ленточный" name="foundation" form="calc-form">
                    <span class="radio-custom"></span><span>ленточный</span>
                </label>
                <label class="foundation-radio1123">
                    <input class="radio" type="radio" value="свайно-забивной" name="foundation" form="calc-form">
                    <span class="radio-custom"></span><span>свайно-забивной</span>
                </label>
                <label class="foundation-radio1123">
                    <input class="radio" type="radio" value="свайно-винтовой" name="foundation" form="calc-form">
                    <span class="radio-custom"></span><span>свайно-винтовой</span>
                </label>
            </div>

        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 walls">
            <h4 class="calc-block-title">
                Стены
            </h4>
            <div class="calc-input">
                <label>Высота 1 этажа, м</label>
                <input type="text" name="walls-1-floor" placeholder="например, 32" form="calc-form" id="height-top"
                       onkeypress="return this.value = this.value.replace(/[^\d,]/g, '');"
                       onkeyup="return this.value = this.value.replace(/[^\d,]/g, '');">
            </div>
            <img class="calc-delimiter hidden-xs" src="{% static 'frontend/img/system/plus.png' %}" alt="крест 

разделитель">
            <div class="calc-input">
                <label>Высота 2 этажа, м</label>
                <input type="text" name="walls-2-floor" placeholder="например, 32" form="calc-form" id="width-top"
                       onkeypress="return this.value = this.value.replace(/[^\d,]/g, '');"
                       onkeyup="return this.value = this.value.replace(/[^\d,]/g, '');"
                       oninput="fullInputWall(document.getElementById('height-top'), this);">
            </div>

            <div class="radio-block">
                <p class="radio-block-title">Материал стен<!--img class="info" data-toggle="tooltip" data-placement="right"
                                                               title="Tooltip on right" src="{% static 

'frontend/img/system/info.png' %}"
                                                               alt="подробнее"--></p>
                <label class="material-wall">
                    <input class="wall radio" type="radio" value="каркас" name="walls" form="calc-form">
                    <span class="wall radio-custom"></span><span>каркас</span>
                </label>
                <label class="material-wall">
                    <input class="wall radio" type="radio" value="клеенный-брус" name="walls" form="calc-form">
                    <span class="wall radio-custom"></span><span>клеенный-брус</span>
                </label>
                <label class="material-wall">
                    <input class="wall radio" type="radio" value="арболит" name="walls" form="calc-form">
                    <span class="wall radio-custom"></span><span>арболит</span>
                </label>
                <label class="material-wall">
                    <input class="wall radio" type="radio" value="газобетон" name="walls" form="calc-form">
                    <span class="wall radio-custom"></span><span>газобетон</span>
                </label>
                <label class="material-wall">
                    <input class="wall radio" type="radio" value="кирпич" name="walls" form="calc-form">
                    <span class="wall radio-custom"></span><span>кирпич</span>
                </label>
                <label class="material-wall">
                    <input class="wall radio" type="radio" value="профилированный брус" name="walls" form="calc-form">
                    <span class="wall radio-custom"></span><span>профилированный брус</span>
                </label>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 roof">
            <h4 class="calc-block-title">
                Кровля
            </h4>
            <div class="radio-img-block">
                <p class="radio-block-title">Тип кровли<!--img class="info" data-toggle="tooltip" data-placement="right"
                                                            title="Tooltip on right" src="{% static 

'frontend/img/system/info.png' %}"
                                                            alt="подробнее"--></p>
                <label class="roofss">
                    <input class="radio" type="radio" value="односкатная" name="roof" form="calc-form">
                    <span class="radio-custom radio-custom-1"></span><span>односкатная</span>
                </label>
                <label class="roofss">
                    <input class="radio" type="radio" value="двухскатная" name="roof" form="calc-form">
                    <span class="radio-custom radio-custom-2"></span><span>двухскатная</span>
                </label>
                <label class="roofss">
                    <input class="radio" type="radio" value="вальмовая" name="roof" form="calc-form">
                    <span class="radio-custom radio-custom-3"></span><span>вальмовая</span>
                </label>
                <label class="roofss">
                    <input class="radio" type="radio" value="полувальмовая" name="roof" form="calc-form">
                    <span class="radio-custom radio-custom-4"></span><span>полувальмовая</span>
                </label>
                <label class="roofss">
                    <input class="radio" type="radio" value="шатровая" name="roof" form="calc-form">
                    <span class="radio-custom radio-custom-5"></span><span>шатровая</span>
                </label>
                <label class="roofss">
                    <input class="radio" type="radio" value="со скосом" name="roof" form="calc-form">
                    <span class="radio-custom radio-custom-6"></span><span>со скосом</span>
                </label>
                <label class="roofss">
                    <input class="radio" type="radio" value="ломаная" name="roof" form="calc-form">
                    <span class="radio-custom radio-custom-7"></span><span>ломаная</span>
                </label>
                <label class="roofss">
                    <input class="radio" type="radio" value="многоскатная" name="roof" form="calc-form">
                    <span class="radio-custom radio-custom-8"></span><span>многоскатная</span>
                </label>
            </div>
            <div class="radio-block">
                <p class="radio-block-title">Материал кровли<!--img class="info" data-toggle="tooltip"
                                                                 data-placement="right" title="Tooltip on right"
                                                                 src="{% static 'frontend/img/system/info.png' %}" 

alt="подробнее"--></p>
                <label class="material-roof">
                    <input class="radio" type="radio" value="профлист" name="roof-material" form="calc-form">
                    <span class="radio-custom"></span><span>профлист</span>
                </label>
                <label class="material-roof">
                    <input class="radio" type="radio" value="металлочерепица" name="roof-material" form="calc-form">
                    <span class="radio-custom"></span><span>металлочерепица</span>
                </label>
                <label class="material-roof">
                    <input class="radio" type="radio" value="ондулин" name="roof-material" form="calc-form">
                    <span class="radio-custom"></span><span>ондулин</span>
                </label>
                <label class="material-roof">
                    <input class="radio" type="radio" value="мягкая черепица" name="roof-material" form="calc-form">
                    <span class="radio-custom"></span><span>мягкая черепица</span>
                </label>
            </div>
        </div>

    </div>

    <div class="main-content form-content">
        <div class="copiright">
            <p>
                © ДомНедорого | {{ year }} год
            </p>
        </div>
        <form class="forma" id="calc-form" method="POST" action="/home-request/">
            {% csrf_token %}
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-sm-6">

                    </div>
                    <div class="col-sm-6">
                        <p class="your-discount">Ваша скидка <span id="number-discount">0</span><span>%</span></p>
                    </div>
                </div>

            </div>
            <!--<div class="dropdown">-->
                <!--&lt;!&ndash;<label class="title-mounth">Ориентировочный месяц<br>&ndash;&gt;-->
                <!--&lt;!&ndash;начала строительства</label>&ndash;&gt;-->
                <!--<input name="city" class="select dropdown-toggle" type="text" data-toggle="dropdown" id="city-name"-->
                       <!--form="calc-form"-->
                       <!--placeholder="Город" required>-->
                <!--<ul class="dropdown-menu">-->
                    <!--{% for city in cities %}-->
                    <!--<li><a style="cursor: pointer;"-->
                           <!--onclick="document.getElementById('city-name').value = this.textContent;">{{ city.name }}</a>-->
                    <!--</li>-->
                    <!--{% endfor %}-->
                <!--</ul>-->
            <!--</div>-->
            <input class="footer-field" type="text" required name="city" placeholder="Ваш город">
            <input class="footer-field" type="email" name="email" placeholder="Ваш E-mail *" required>
            <input class="footer-field" type="text" name="full-name" placeholder="Ваше имя *" required>
            <input class="footer-field" type="text" name="num-phone" placeholder="Номер телефона *" required>
            <input class="footer-field" type="text" name="ap-date" placeholder="Ориентировочная дата" required>
            <input class="footer-field" type="text" name="discount" hidden id="dscs">
            <input type="hidden" id="city_fs" value="" name="form_city">
            <button class="application" type="submit"
                    onclick="document.getElementById('city_fs').value = document.getElementById('on_city').textContent; yaCounter38004435.reachGoal('colbeck_old'); document.getElementById('dscs').value = document.getElementById('number-discount').textContent;">
                Оставить заявку
            </button>
            <p class="agreement">Нажимая на кнопку, вы принимаете <a href="../../static/frontend/docs/position.pdf" target="_blank">Положение</a> и <a href="../../static/frontend/docs/compliance.pdf" target="_blank">Согласие</a> на обработку персональных данных.</p>
        </form>
    </div>
</section>

<div class="footer navbar-fixed-bottom">

    <div class="main-content">
        <div class="copiright">
            <p>
                © ДомНедорого | {{ year }} год
            </p>
        </div>
        <div class="zamanuha zamanuha-desc">
            <p>
                Оставьте ваши вопросы о строительстве нового дома <br>
                и мы будем рады рассказать вам еще больше!
            </p>
        </div>

        <div class="zamanuha zamanuha-mobile">
            <p>
                Оставьте ваши вопросы о строительстве нового дома <br>
                и мы будем рады рассказать вам еще <a href="#spoiler-1" data-toggle="collapse">больше!</a>
            </p>
        </div>
        <div class="want-a-discount">
            <button id="show-discount">Хочу скидку</button>
        </div>
        <!--div class="collapse" id="spoiler-1">
            <div class="well">
                <form class="forma" id="footer-mobile-form">
                    <div class="dropdown">
                        <input class="select dropdown-toggle" type="text" data-toggle="dropdown"
                               placeholder="Город">
                        <ul class="dropdown-menu">
                            {% for city in cities %}
                                <li><a style="cursor: pointer;" onclick="document.getElementById('city-name').value = this.textContent;">{{ city.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <input type="text" placeholder="Ваше имя *">
                    <input type="text" placeholder="Номер телефона *">
                    <button class="application">Оставить заявку</button>
                </form>
            </div>
        </div-->
        <form class="forma forma-desc" id="footer-desc-form" method="POST" action="/home-request/">
            {% csrf_token %}
            <!--<div class="dropdown">-->
                <!--<input name="city" class="select dropdown-toggle" type="text" id="cname" data-toggle="dropdown"-->
                       <!--placeholder="Города" required>-->
                <!--<ul class="dropdown-menu">-->
                    <!--{% for city in cities %}-->
                    <!--<li><a style="cursor: pointer;"-->
                           <!--onclick="document.getElementById('cname').value = this.textContent;">{{ city.name }}</a></li>-->
                    <!--{% endfor %}-->
                <!--</ul>-->
            <!--</div>-->
            <input class="footer-field" type="email" name="email" placeholder="Ваш E-mail *" required>
            <input class="footer-field" type="text" name="full-name" placeholder="Ваше имя *" required>
            <input class="footer-field" type="text" name="num-phone" placeholder="Номер телефона *" required>
            <input class="footer-field" type="text" name="discount" hidden id="dsc">
            <input type="hidden" id="city_f" value="" name="form_city">
            <button class="application" type="submit"
                   onclick="document.getElementById('city_f').value = document.getElementById('on_city').textContent; yaCounter38004435.reachGoal('colbeck_old'); document.getElementById('dsc').value = document.getElementById('number-discount').textContent;">
                Оставить заявку
            </button>
            <p class="agreement">Нажимая на кнопку, вы принимаете <a href="../../static/frontend/docs/position.pdf" target="_blank">Положение</a> и <a href="../../static/frontend/docs/compliance.pdf" target="_blank">Согласие</a> на обработку персональных данных.</p>
        </form>
    </div>
</div>

    <!-- Модалки -->

    <div class="modal fade" id="submit-application" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <div class="modal-header">
                    <h3 class="modal-title" id="myModalLabel">Оставить заявку</h3>
                </div>
                <div class="modal-body">
                    <form action="" method="POST" id="">
                        {% csrf_token %}
                        <div class="forma">
                            <input type="text" name="full-name" required placeholder="Ваше имя *">
                            <input type="tel" name="num-phone" placeholder="Ваш телефон">
                            <input type="email" name="email" placeholder="Email">
                            <input type="text" name="city" required placeholder="Город">
                            <textarea placeholder="Комментарий" name="message" id="" rows="5"></textarea>
                        </div>
                        <p class="agreement">Нажимая на кнопку, вы принимаете <a href="../../static/frontend/docs/position.pdf" target="_blank">Положение</a> и <a href="../../static/frontend/docs/compliance.pdf" target="_blank">Согласие</a> на обработку персональных данных.</p>
                        <button class="modal-btn-purple" type="submit" onclick="yaCounter38004405.reachGoal('colbeck_old'); return true;">Оставить заявку</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- end Модалки -->

    {% endblock %}

    {% block javascript %}

    <script>
        document.getElementsByTagName('input')[0].onkeypress = function (e) {

            e = e || event;

            if (e.ctrlKey || e.altKey || e.metaKey) return;

            var chr = getChar(e);

            if (chr == null) return;

            if (chr < '0' || chr > '9') {
                return false;
            }
        };

        function getChar(event) {
            if (event.which == null) {
                if (event.keyCode < 32) return null;
                return String.fromCharCode(event.keyCode) // IE
            }

            if (event.which != 0 && event.charCode != 0) {
                if (event.which < 32) return null;
                return String.fromCharCode(event.which) // остальные
            }
            return null; // специальная клавиша
        }
    </script>
    <script src="{% static 'frontend/js/page-start-script.js' %}"></script>
    <script>
        function addInput(id){
            if (document.getElementById('name_city_' + id)){
                document.getElementById(id).removeChild(document.getElementById('name_city'));
                form = document.getElementById(id);
                input = document.createElement('input');
                input.value = document.getElementById('on_city').textContent;
                input.type = 'hidden';
                input.id = 'name_city_' + id;
                input.name = 'form_city';

                form.appendChild(input);
            } else {
                form = document.getElementById(id);
                input = document.createElement('input');
                input.value = document.getElementById('on_city').textContent;
                input.type = 'hidden';
                input.id = 'name_city_' + id;
                input.name = 'form_city';

                form.appendChild(input);
            }
        }
    </script>
    
    <script src="{% static 'frontend/js/calc/calc.js' %}"></script>
    <script src="{% static 'frontend/js/calc/foundation.js' %}"></script>
    <script src="{% static 'frontend/js/calc/roof.js' %}"></script>
    <script src="{% static 'frontend/js/calc/roof-material.js' %}"></script>
    <script src="{% static 'frontend/js/calc/wall.js' %}"></script>
    <script src="{% static 'frontend/js/wow/wow.min.js' %}"></script>

    {% endblock %}