{% extends 'frontend/base.html' %}

{% load staticfiles %}

{% block style %}
<link rel="stylesheet" href="{% static 'frontend/css/franchise-style.css' %}">
{% endblock %}

{% block content %}
<div class="block-page-container page-technology">
    <div class="left-sidebar-container">
        <input type="checkbox" id="toggle-left-menu" hidden>
        <label for="toggle-left-menu" class="nav-toggle left-sidebar-button" onclick>
            <i class="fa fa-chevron-right"></i>
        </label>
        <div class="left-sidebar">
            <ul>
                {% for category_technology in technology %}
                <li>{{ category_technology.name }}
                    <ul>
                        {% for techn in category_technology.technology.all %}
                        <li><a href="/technology/{{ techn.id }}/">{{ techn.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
                {% if user.is_authenticated %}
                <li><a href="#">Создание технологии</a>
                    <ul>
                        <li><a href="/admin/frontend/categorytechnology/add/">Создать технологию</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="content-block">
        <h2 class="page-title">
            Технология производства
        </h2>
        <h3 class="title">
            {{ article_technology.name }}
        </h3>
        {% if user.is_authenticated %}
        <a href="/admin/frontend/technology/{{ article_technology.id }}/change/">
            Редактировать статью
        </a>
        {% endif %}
        <div class="content">
            <p>
            <div style="display: block;">
                <div>
                    {{ article_technology.article.article_top | safe }}
                </div>
                <!--<div style="display: inline-block; max-width: 445px; width: 100%; max-height: 445px;">-->
                    <!--{% for img_art in article_technology.images.all %}-->
                    <!--<img src="{{ img_art.image.url }}" max-height="100%" width="auto"/>-->
                    <!--{% endfor %}-->
                <!--</div>-->
            </div>
            {% for img_art in article_technology.images.all %}
            <img class="img-inner-text" src="{{ img_art.image.url }}"/>
            {% endfor %}
            {{ article_technology.article.article | safe }}
            </p>

            <!--div class="img-block">
                <div class="image">
                    <img src="{% static 'frontend/img/content/technology/1.jpg' %}" alt="дом">
                </div>

                <div class="image-group">
                    <div class="image">
                        <img src="{% static 'frontend/img/content/technology/2.jpg' %}" alt="дом">
                    </div>
                    <div class="image-undergroup">
                        <div class="image">
                            <img src="{% static 'frontend/img/content/technology/3.jpg' %]" alt="дом">
                        </div>
                        <div class="image">
                            <img src="{% static 'frontend/img/content/technology/4.jpg' %]" alt="дом">
                        </div>
                    </div>
                </div>
            </div>

            <p>
                Современный метод получения, процесс Холла—Эру[en] был разработан независимо американцем Чарльзом Холлом
                и французом Полем Эру в 1886 году. Он заключается в растворении оксида алюминия Al2O3 в расплаве
                криолита Na3AlF6 с последующим электролизом с использованием расходуемых коксовых или графитовых анодных
                электродов. Такой метод получения требует очень больших затрат электроэнергии, и поэтому получил
                промышленное применение только в XX веке.
            </p>
            <p>
                Для производства 1000 кг чернового алюминия требуется 1920 кг глинозёма, 65 кг криолита, 35 кг фторида
                алюминия, 600 кг анодных графитовых электродов и около 17 МВт·ч электроэнергии (~61 ГДж)[8].
            </p>
            <p>
                Лабораторный способ получения алюминия предложил Фридрих Вёлер в 1827 году восстановлением металлическим
                калием безводного хлорида алюминия (реакция протекает при нагревании без доступа воздуха).
            </p-->
            <div class="row">
                <nav class="bottom-menu">
                    <ul class="nav navbar-nav">
                        {% for tag in article_technology.tags.all %}
                        <li class="navbar-hide"><a href="#">{{ tag.name }}</a></li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>

            <div class="forma">
                <h3 class="form-title">Давайте начнем строительство вашего дома с заполнения заявки прямо сейчас!</h3>
                <form>
                    <div class="form-group">
                        <input type="text"name="name" required placeholder="Ваше имя">
                        <input type="tel" name="num-phone" placeholder="Телефон">
                        <input type="text" name="city" required placeholder="Город">
                        <input type="email"name="email" placeholder="E-mail">
                    </div>
                    <div class="collapse" id="spoiler-1">
                        <div class="form-group">
                            <p class="group-title">Фундамент</p>
                            <select name="" id="">
                                <option>Тип фундамента</option>
                                <option value="Монолитная плита">Монолитная плита</option>
                                <option value="Ленточный">Ленточный</option>
                                <option value="Свайно-забивной">Свайно-забивной</option>
                                <option value="Свайно-винтовой">Свайно-винтовой</option>
                            </select>
                            <input type="text" name="foundation-width" placeholder="ширина">
                            <input type="text" name="foundation-height" placeholder="высота">
                        </div>
                        <div class="form-group">
                            <p class="group-title">Стены</p>
                            <select name="" id="">
                                <option>Материал стен</option>
                                <option value="Каркас">Каркас</option>
                                <option value="Клеенный-брус">Клеенный-брус</option>
                                <option value="Арболит">Арболит</option>
                                <option value="Газобетон">Газобетон</option>
                                <option value="Кирпич">Кирпич</option>
                                <option value="Профилированный брус">Профилированный брус</option>
                            </select>
                            <input type="text" name="walls-1-floor" placeholder="ширина">
                            <input type="text" name="walls-2-floor" placeholder="высота">
                        </div>
                        <div class="form-group">
                            <p class="group-title">Кровля</p>
                            <select name="" id="">
                                <option>Тип кровли</option>
                                <option value="Односкатная">Односкатная</option>
                                <option value="Двухскатная">Двухскатная</option>
                                <option value="Вальмовая">Вальмовая</option>
                                <option value="Полувальмовая">Полувальмовая</option>
                                <option value="Шатровая">Шатровая</option>
                                <option value="Со скосом">Со скосом</option>
                                <option value="Ломаная">Ломаная</option>
                                <option value="Многоскатная">Многоскатная</option>
                            </select>
                            <select name="" id="">
                                <option>Материал кровли</option>
                                <option value="Профлист">Профлист</option>
                                <option value="Металлочерепица">Металлочерепица</option>
                                <option value="Ондулин">Ондулин</option>
                                <option value="Мягкая черепица">Мягкая черепица</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <a class="more" href="#spoiler-1" data-toggle="collapse"><i class="fa fa-chevron-down"></i>Подробнее</a>
                    </div>
                    <p class="agreement">Нажимая на кнопку, вы принимаете <a href="../../static/frontend/docs/position.pdf" target="_blank">Положение</a> и <a href="../../static/frontend/docs/compliance.pdf" target="_blank">Согласие</a> на обработку персональных данных.</p>
                    <button class="btn-purple">Оставить заявку</button>
                </form>
            </div>
        </div>
        <!-- вместе с этим просматривают -->
        <div class="article-categories">
            <h4 class="article-categories-title">
                Часто задаваемые вопросы на данную тему:
            </h4>

            <div class="content">

                <div style="display: block;">
                    {% for quest in article_technology.quest.all %}

                    <div style="background-color: rgba(0, 0, 0, 1); display: inline-block; max-width: 290px; width: 100%; height: 190px; margin: 10px auto; padding: 0px;">
                        <a href="/question/{{ quest.id }}"><img src="{{ quest.images.image.url }}"
                                                                style="width: inherit; height: 100%; opacity: 0.5;"/>
                            <span style="display: block; position: relative; bottom: 30px; text-align: center; color: #bababa; text-decoration: none;">{{ quest.name }}</span></a>

                    </div>


                    {% endfor %}
                </div>
            </div>

        </div>
        <!-- end вместе с этим просматривают -->
    </div>

    <div class="right-sidebar">
        {% if article_technology.project.all %}
        <h5 class="title">
            Проекты с использованием
            данной технологии:
        </h5>
        {% for project in article_technology.project.all %}
        <a href="/project/{{ project.id }}">
            <div class="cell">
                <div class="image">
                    <img src="{{ project.main_image.url }}" alt="технология">
                </div>
                <div class="cell-title">Проект «{{ project.name }}»</div>
            </div>
        </a>
        {% endfor %}
        {% endif %}
    </div>
</div>


<!-- footer -->
<footer class="footer navbar-fixed-bottom">
    <div class="main-content">
        <div class="copiright">
            <p>
                © ДомНедорого | {{ year }} год
            </p>
        </div>
        <div class="company-development">
            <p>
                Сайт разработан компанией <span><a href="http://novecs.ru/" target="_blank">«Novecs»</a></span>
            </p>
        </div>
        <a href="#jack-header" class="btn-scroll-to-top"></a>

    </div>
</footer>
<!-- end footer -->
{% endblock %}


{% block javascript %}


<script>
    function textItemHeader(object) {
        faq_tab_item = object;
        question_content = document.getElementsByClassName('question')[0];
        question_content.innerHTML = faq_tab_item.getAttribute('text-header');
    }
</script>
{% endblock %}