﻿{% extends 'frontend/base.html' %}

{% load staticfiles %}

{% block style %}


    <style type="text/css">
        

        .modal-dialog .modal-body form input {
            display: block;
            width: 230px;
            height: 40px;
            border-radius: 3px;
            border: 1px solid #989B98;
            padding: 10px;
            margin: 10px 0;
        }

        .modal-dialog .modal-header {
            border: 0;
            padding: 0 0;
        }

        .modal-dialog .modal-header h4 {
            font-size: 25px;
            font-family: gothamProBold;
            color: #33042F;
            text-align: center;
        }

        .modal-dialog .modal-header h4 span {
            color: #FF9600;
        }

        .modal-dialog .modal-header div.params {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .modal-dialog .modal-header div.params i {
            color: #FF9600;
        }

        .modal-dialog .modal-body .forma div.params span {
            color: #810C74;
        }

        .modal-dialog .modal-body form .modal-btn-purple {
            margin: 40px auto 0;
            display: block;
            width: 210px;
            height: 40px;
            font-size: 18px;
            font-family: gothamProBold;
            color: #fff;
            background-color: #810C74;
            border: none;
            border-radius: 3px;
        }

        .modal-dialog .modal-body form .forma {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .modal-content {
            max-width: 790px;
        }

        .modal-dialog .modal-body form input[type=radio] {
            margin: 0 10px 0 0;
            display: none;
        }

        .radiob:before {
            display: inline-block;
            position: relative;
            top: 4px;
            margin: 0 10px 0 0;
            content: '';
            width: 20px;
            height: 20px;
            background-image: url(/static/frontend/svg/check-def.svg);
        }

        .check-radio:before {
            background-image: url(/static/frontend/svg/check-checked.svg);
        }
    </style>
{% endblock %}

{% block content %}

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
    <div class="modal-dialog" role="document"> 
        <div class="modal-content"> 
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Оставьте заявку на расчёт стоимости проекта<br /> <span><span id="name-project-modal"></span></span></h4> 
                <div class="params">
                    <i class="text-center" id="name-equipment-modal"></i>
                    <i class="text-center">от <span id="equ-amount-modal">900 000</span></i>
                </div>
            </div> 
            <div class="modal-body"> 
                <form action="/project_request/" method="POST" id="modal-franchise">
                    {% csrf_token %}
                    <div class="forma"> 

                        <input type="hidden" name="project-id" id="form-project-id" hidden>
                        <input type="hidden" name="equipment-id" id="form-equipment-id" hidden>

                        <input type="text" required name="full-name" placeholder="Ваше имя *">
                        <input type="text" name="num-phone" placeholder="Ваш телефон"> 
                        <input type="text" name="email" placeholder="Email"> 
                        <input type="text" required name="city" placeholder="Город">
                        <!--div class="params text-center ">
                            <br />
                            <span> Мы строим дома в основном из деревянного каркаса,<br />однако вы можете выбрать другой материал для постройки дома.<br />Это влияет на стоимость. </span>
                        </div-->
                        <!--div class="dropdown">
                            <input name="walls" class="select dropdown-toggle" type="text" data-toggle="dropdown" id="wall" placeholder="Материал" required="" aria-expanded="false">
                            <ul class="dropdown-menu">
                                <li><a style="cursor: pointer;" onclick="document.getElementById('city-name').value = this.textContent;">Вологда</a></li>
                                <li><a style="cursor: pointer;" onclick="document.getElementById('city-name').value = this.textContent;">Череповец</a></li>
                                <li><a style="cursor: pointer;" onclick="document.getElementById('city-name').value = this.textContent;">Сочи</a></li>
                                <li><a style="cursor: pointer;" onclick="document.getElementById('city-name').value = this.textContent;">Москва</a></li>
                                <li><a style="cursor: pointer;" onclick="document.getElementById('city-name').value = this.textContent;">Ярославль</a></li>
                            </ul>
                        </div-->
                    <!--
                        <div class="form-group" style="display: flex; justify-content: center; width: 45%;"> 
                            <div style="display: flex; justify-content: flex-start; width: 40%;">
                                <input type="radio" name="wall" id="r1"><label class="radiob" for="r1" onclick="Check();">каркас</label> 
                            </div>
                            <div style="display: flex; justify-content: flex-start; width: 60%;">
                                <input" type="radio" name="wall" id="r2"><label class="radiob" for="r2" onclick="Check();">брус</label>
                            </div>
                        </div> 

                        <div class="form-group" style="display: flex; justify-content: center; width: 45%;"> 
                            <div style="display: flex; justify-content: flex-start; width: 40%;">
                                <input class="radiob" type="radio" name="wall" id="r3"><label for="r3">арбалит</label> 
                            </div>
                            <div style="display: flex; justify-content: flex-start; width: 60%;">
                                <input class="radiob" type="radio" name="wall" id="r4"><label for="r4">газобетон</label> 
                            </div>
                        </div> 

                        <div class="form-group" style="display: flex; justify-content: center; width: 45%;"> 
                            <div style="display: flex; justify-content: flex-start; width: 40%;">
                                <input class="radiob" type="radio" name="wall" id="r5"><label for="r5">кирпич</label> 
                            </div>
                            <div style="display: flex; justify-content: flex-start; width: 60%;">
                                <input class="radiob" type="radio" name="wall" id="r6"><label for="r6">профилированный</label>  
                            </div>
                        </div>
                    -->
                    </div> 
                    <!-- onsubmit="ProjectReq('/project_request/').then(
                                                response => alert(`${response}`),
                                                error => alert(`Rejected: ${error}`)
                                            ); -->
                    <button class="modal-btn-purple" type="submit" onclick="yaCounter38004435.reachGoal('colbeck_old'); return true;">Оставить заявку</button>
                    <p class="agreement">Нажимая на кнопку, вы принимаете <a href="../../static/frontend/docs/position.pdf" target="_blank">Положение</a> и <a href="../../static/frontend/docs/compliance.pdf" target="_blank">Согласие</a> на обработку персональных данных.</p>
                </form>
            </div> 
        </div> 
    </div> 
</div>
<div class="page-projects page-project-detail">
    <div class="project-detail-page-header" style="background-image: url('{{ project.main_image.url }}'); background-size: 100% auto; opacity: 1;">

        <div style="position: absolute; background-color: rgba(0, 0, 0, 0.77); top: 0; z-index: 0; width: 100%; height: 100%; left: 0px;"></div>

        <a href="/project/{{ project_back.id }}/" class="prev" style="z-index: 1; text-decoration: none;">
            {% if project_back != None %}
                <img src="{% static 'frontend/svg/bnt-next-prev.svg' %}" alt="">
                Дом «{{ project_back.name }}»
            {% endif %}
        </a>
        <div class="block-name" style="position: relative;">
            <h2 class="title" id="name-project">Дом «{{ project.name }}»</h2>
            <h3 class="subtitle">
                {{ project.description | safe }}
            </h3>
        </div>
        <a href="/project/{{ project_next.id }}/" class="next" style="z-index: 1; text-decoration: none;">
            {% if project_next != None %}
                Дом «{{ project_next.name }}»
                <img src="{% static 'frontend/svg/bnt-next-prev.svg' %}" alt="">
            {% endif %}
        </a>
    </div>
    {% if user.is_authenticated %}
        <a href="http://stroitelstvodomov.pro/admin/frontend/project/{{ project.id }}/change/" target="_blank">Редактировать проект</a>
    {% endif %}
    <div class="project-info-detail">
        
        <div class="project work">
            <div class="slider-project">
                <div>
                    <a href="{{ project.main_image.url }}" data-fancybox="group6112" data-caption="{{ project.main_image.name }}">
                        <img src="{{ project.main_image.url }}" class="declaration">
                    </a>
                </div>
                {% for project_img in project.image.all %}
                    <div>
                        <a href="{{ project_img.image.url }}" data-fancybox="group61" data-caption="{{ img.name }}">
                            <img src="{{ project_img.image.url }}" class="declaration">
                        </a>
                    </div>
                {% endfor %}
            </div>

            <div class="slider-navs">
                <div class="slider-project-nav" id="data_image">

                        <div>
                            <a href="{{ project.main_image.url }}" data-fancybox="group6112" data-caption="{{ project.main_image.name }}">
                                <img src="{{ project.main_image.url }}" class="declaration" style="height: 257px; width: 100%;">
                            </a>
                        </div>
                        {% for project_img in project.image.all %}
                        <div>
                            <a href="{{ project_img.image.url }}" data-fancybox="group6112" data-caption="{{ img.name }}">
                                <img src="{{ project_img.image.url }}" class="declaration" style="height: 257px; width: 100%;">
                            </a>
                        </div>
                        {% endfor %}

                </div>
            </div>

        </div>

        <div class="info-project">
            <!--p><span class="parametr">Размеры, м</span> <span> {{ project.data.width }} × {{ project.data.height }}</span></p-->
            {% if project.data.total_area > 0 %}
                <p><span class="parametr">Общая площадь, м<sup>2</sup>:</span> <span> {{ project.data.total_area }}</span></p>
            {% endif %}

            {% if project.data.width != 0 and project.data.height != 0 %}
                <p><span class="parametr">Размеры дома (ш × д), м:</span> <span> {{ project.data.width }} × {{ project.data.height }} </span></p>
            {% endif %}

            {% if project.data.living_space != '0' %}
                <p><span class="parametr">Жилая площадь, м<sup>2</sup>:</span> <span> {{ project.data.living_space }}</span></p>
            {% endif %}

            {% if project.data.number_floors != 0 %}
                <p><span class="parametr">Количество этажей</span> <span>{{ project.data.number_floors }}</span></p>
            {% endif %}
            
            {% if project.data.number_rooms != 0 %}
                <p><span class="parametr">Количество комнат</span> <span>{{ project.data.number_rooms }}</span></p>
            {% endif %}

            {% if project.data.number_bathrooms != 0 %}
                <p><span class="parametr">Количество санузлов</span> <span>{{ project.data.number_bathrooms }}</span></p>
            {% endif %}

            {% if project.data.number_terraces != 0 %}
                <p><span class="parametr">Количество террас / балконов</span> <span>{{ project.data.number_terraces }}</span></p>
            {% endif %}
        </div>

        <div class="info-project-tabs">
            <button style="color: #fff; background-color: #810C74; border: 0; border-radius: 5px; padding-top: 5px; padding-bottom: 5px; padding-left: 40px; padding-right: 40px; font-weight: 600;" data-toggle="modal" data-target="#myModal" onclick="
                    document.getElementById('equ-amount-modal').textContent = document.getElementById('equ-amount').textContent;
                    document.getElementById('name-project-modal').textContent = document.getElementById('name-project').textContent;
                    if (document.getElementById('name-equipment-modal').textContent == '') { document.getElementById('name-equipment-modal').textContent = 'Комплектация 1'; }
                    document.getElementById('form-project-id').value = '{{ project.id }}';
                ">Заказать</button>
            <p class="sell">&#8381;<span> от <span id="equ-amount">{{ project.amount }}</span></p>

            <div class="navs">
                <ul class="nav nav-tabs">
                    {% for equ in project.equ.all %}
                        <li class="{{ equ.active }}">
                            <a href="#complect{{ equ.id }}" equ_id="{{ equ.id }}" onclick="EquAmount('/get_equ/{{ equ.id }}').then(
                                                response => {document.getElementById('equ-amount').textContent = thousandSeparator(`${response}`); document.getElementById('param-amount').textContent = 'от ' + thousandSeparator(`${response}`).toString()},
                                                error => alert(`Rejected: ${error}`)
                                            ); document.getElementById('name-equipment-modal').textContent = this.textContent;
                                            document.getElementById('form-equipment-id').value = this.getAttribute('equ_id');" data-toggle="tab">{{ equ.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            

            <div class="tabs">
                <div class="tab-content">
                    {% for equ in project.equ.all %}
                        <div class="tab-pane fade in {{ equ.active }}" id="complect{{ equ.id }}">
			    <i class="fa fa-print" onclick="CallPrint('complect{{ equ.id }}');"></i>
                            {% if user.is_authenticated %}
                                <a href="http://stroitelstvodomov.pro/admin/frontend/equipment/{{ equ.id }}/change/" target="_blank">Редактировать комплектацию</a>
                            {% endif %}
                            {{ equ.equ | safe }}
                        </div>
                    {% endfor %}
                </div>

            </div>
            <span>
                * Фотографии только для иллюстрации. Фактические размеры могут отличаться. Элементы интерьера и декора в стоимость не включены.
            </span>
        </div>

    </div>

    <div class="project-info-tabs">
        <div class="navs">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#planir" data-toggle="tab">Планировка</a>
                </li>
                <li>
                    <a href="#realisation" data-toggle="tab">Реализация</a>
                </li>
            </ul>
        </div>

        <div class="tabs">
            <div class="tab-content">
                <div class="tab-pane planir fade in active" id="planir">
                    <div class="info-desk">
                        {% if project.data.total_area > 0 %}
                            <p><span class="parametr">Общая площадь, м<sup>2</sup></span><span>{{ project.data.total_area }}</span></p>
                        {% endif %}
                        {% if project.layout.garage_total > 0 %}
                            <p><span class="parametr">Гараж, м<sup>2</sup></span><span>{{ project.layout.garage_total }}</span></p>
                        {% endif %}
                        <p><span class="parametr">Цена проекта, руб.</span><span id="param-amount">от {{ project.amount }}</span></p>
                    </div>
                    <!--div class="block-order">
                        <h4 class="title">Вы можете выбрать другой материал для постройки дома: <br>
                            для этого Вам необходимо оставить заявку менеджеру для уточнения стоимости.</h4>
                        <form action="">
                            <div class="col-xs-12 text-center">
                                <div class="dropdown">
                                    <button class="select dropdown-toggle" type="button" data-toggle="dropdown">
                                        Выбрать материал
                                        <img class="custom-caret" src="{% static 'frontend/img/system/caret-1.png' %}"></button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                    </ul>
                                </div>
                                <input type="text" placeholder="Ваше имя">
                                <input type="text" placeholder="Телефон">
                                <input type="text" placeholder="Email">
                            </div>
                            <div class="col-xs-12 text-center">
                                <button class="btn-purple">Оставить заявку</button>
                            </div>
                        </form>
                    </div-->
                    <!--div class="block-floor-info">
                        <div class="cell">
                            <p><span>Первый этаж</span>100 м2</p>
                            <div class="image">
                                <img src="{% static 'frontend/img/content/floor-info/1.jpg' %}" alt="">
                            </div>
                        </div>
                        <div class="cell">
                            <p><span>Первый этаж</span>100 м2</p>
                            <div class="image">
                                <img src="{% static 'frontend/img/content/floor-info/2.jpg' %}" alt="">
                            </div>
                        </div>
                    </div-->
                </div>
                <div class="tab-pane realisation" id="realisation">
                    <div class="main-content block-content">

                        <div class="cells">
                            {% for work in works %}
                                <div class="cell">
                                    <div class="image">
                                        <img src="{{ work.image.url }}" alt="Фото проекта">
                                    </div>
                                    <div class="info">
                                        <p class="name">
                                            Дом «{{ work.name }}»
                                            <img class="process" src="{% static 'frontend/svg/icon-finished.svg' %}" alt="процесс">
                                        </p>
                                        <p class="city-year">
                                            {{ work.city }}, {{ work.mounth }} {{ work.year }}
                                            <span class="photo-count"> {{ work.images.all.count }} <img src="{% static 'frontend/svg/icon-imgs.svg' %}"
                                                                              alt="всего фото"></span>
                                        </p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- вместе с этим просматривают -->
    <div class="article-categories">
        <nav class="bottom-menu">
            <ul class="nav navbar-nav">
                {% for tag in project.tags.all %}
                    <li class="navbar-hide"><a href="#">{{ tag.name }}</a></li>
                {% endfor %}
            </ul>
        </nav>
        <h4 class="article-categories-title">
            Технологии, используемые в данном строительстве
        </h4>
        <div class="content">
            <ul>
                {% for techn in project.techn.all %}
                    <li><a href="/technology/{{ techn.id }}">{{ techn.name }}</a></li>
                {% endfor %}
            </ul>
        </div>

    </div>
    <!-- end вместе с этим просматривают -->

    <!-- footer -->
    <footer class="footer navbar-fixed-bottom">
        <div class="main-content">
            <div class="copiright">
                <p>
                    © ДомНедорого | {{ year }} год
                </p>
            </div>
            <div class="company-development">
                <p>
                    Сайт разработан компанией <span><a href="http://novecs.ru/" target="_blank">«Novecs»</a></span>
                </p>
            </div>
            <a href="#jack-header" class="btn-scroll-to-top"></a>

        </div>
    </footer>
{% endblock %}
    
{% block javascript %}
    <!-- end footer -->

    <script type="text/javascript">
    
    function Check(){
        radio = document.getElementsByClassName('radiob');
        
        for (element = 0; element >= radio.length; element++){
            for (element = 0; element <= radio.length; element++){
                radio[element].classList.remove('check-radio');
                radio[element].classList.toggle('radiob');
            }
            radio[element].onclick = function(){
                this.classList.remove('radiob');
                this.classList.toggle('check-radio');
            }
        }
    }

</script>
    <script src="{% static 'frontend/js/project.js' %}"></script>
    <script src="{% static 'frontend/js/equ_amount.js' %}"></script>

<script>
    function textItemHeader(object) {
        faq_tab_item = object;
        question_content = document.getElementsByClassName('question')[0];
        question_content.innerHTML = faq_tab_item.getAttribute('text-header');
    }
</script>
<script language="javascript">
var list_image = [];
function Image(element){
  var div = document.createElement('div');
  div.innerHTML = '<img src="' + element + '" />';
  list_image.append(div.innerHTML);
}
function CallPrint(strid) {
  var prtContent = document.getElementById(strid);
  var amount = document.getElementById('equ-amount');
  var project_name = document.getElementById('name-project');
  var data_image = document.getElementById('data_image');
  var WinPrint = window.open('','','left=50,top=50,width=800,height=640,toolbar=0,scrollbars=1,status=0');
  
  /*for (var index = 0; index <= list_image.length; index++){
    WinPrint.document.write(list_image[index]);
  }*/
  WinPrint.document.write('Проект: ' + project_name.innerHTML);
  WinPrint.document.write('<div id="print" class="contentpane">');
  WinPrint.document.write('<div id="print" class="contentpane">');
  WinPrint.document.write('Стоимость от: ' + amount.innerHTML);
  WinPrint.document.write(prtContent.innerHTML);
  WinPrint.document.close();
  WinPrint.focus();
  WinPrint.print();
  WinPrint.close();
}
</script>
{% endblock %}