{% extends 'frontend/base.html' %}

{% load staticfiles %}

{% block content %}
    <div class="block-page-container page-questions">
        <div class="left-sidebar-container">
            <input type="checkbox" id="toggle-left-menu" hidden>
            <label for="toggle-left-menu" class="nav-toggle left-sidebar-button" onclick>
                <i class="fa fa-chevron-right"></i>
            </label>
            <div class="left-sidebar">
                <ul>
                	{% for category_quest in questions %}
                    	<li><a href="#">{{ category_quest.name }}</a>
                        	<ul>
                        		{% for quest in category_quest.quest.all %}
                            		<li><a href="/question/{{ quest.id }}">{{ quest.name }}</a></li>
                                    
                            	{% endfor %}
                        	</ul>
                    	</li>
                    {% endfor %}
                    {% if user.is_authenticated %}
                        <li><a href="#">Создание часто задаваемого вопроса</a>
                        	<ul>
                                <li><a href="/admin/frontend/categoryquest/add/">Создать вопрос</a></li>
                        	</ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <div class="content-block">
            <h2 class="page-title">
                Часто задаваемые вопросы
            </h2>
            <h3 class="title">
                {{ article_question.name }}
            </h3>
            {% if user.is_authenticated %}
                <a href="/admin/frontend/quest/{{ article_question.id }}/change/">
                    Добавить статью
                </a>
            {% endif %}
            <div class="content">
                
                <p>{{ article_question.article.article | safe }}</p>

                <!--div class="img-block">
                    <div class="image">
                        <img src="{% static 'forntend/img/content/questions/1.jpg' %}" alt="дом">
                    </div>

                    <div class="image">
                        <img src="{% static 'forntend/img/content/questions/2.jpg' %}" alt="дом">
                    </div>
                </div>

                <p>
                    Если возводится деревянный каркасный дом, то лучше всего использовать лиственницу, так как она меньше
                    всего подвержена гниению. В процессе строительства избегайте непросушенной древесины – ее использование
                    может привести к быстрому загниванию всего каркаса и уменьшению срока службы дома. Не экономьте,
                    обязательно используйте антисептические составы для обработки пиломатериалов.
                </p>
                <p>
                    Чтобы деревянный каркасный дом в процессе эксплуатации не разрушился, как спичечный дом, необходимо на
                    каждом этапе строительства проверять углы, уровни каркаса и следить, чтобы не было перекосов.
                </p>
                <p>
                    Проследить также необходимо за качественной гидроизоляцией конструкции возводимого сооружения. Влага
                    может поспособствовать появлению и распространению грибков, гниению древесины. Отрицательно конденсат
                    или осадки могут повлиять и на утеплитель. Например, намокшая минеральная вата вообще теряет свои
                    теплоизоляционные качества. Желательно установить качественную вентиляционную систему. Она обеспечит не
                    только комфорт, но и уменьшит чрезмерную влажность помещений.
                </p-->
                
                {% if article_question.tags.all %}
                    <nav class="bottom-menu">
                        <ul class="nav navbar-nav">
                            {% for tag in article_question.tags.all %}
                                <li class="navbar-hide"><a href="#">{{ tag.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </nav>
                {% endif %}

            </div>
            <!-- вместе с этим просматривают -->
            {% if article_question.techn.all %}
                <div class="article-categories">
                    <h4 class="article-categories-title">
                        Этот вопрос задают, просматривая статьи о таких технологиях как:
                    </h4>
                    <div class="content">
                        <ul>
                            {% for techn in article_question.techn.all %}
                                <li><a href="/technology/{{ techn.id }}">{{ techn.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>

                </div>
            {% endif %}
            <!-- end вместе с этим просматривают -->
        </div>
        <div class="right-sidebar">
            {% if article_question.service.all %}
                <h5 class="title">
                    Вас могут заинтересовать наши
                    услуги:
                </h5>
                <ul>
                    {% for service in article_question.service.all %}
                        <li><a href="/service/{{ service.id }}">{{ service.name }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        
    </div>


    <!-- footer -->
    <footer class="footer navbar-fixed-bottom">
        <div class="main-content">
            <div class="copiright">
                <p>
                    © ДомНедорого | {{ year }} год
                </p>
            </div>
            <div class="company-development">
                <p>
                    Сайт разработан компанией <span><a href="http://novecs.ru/" target="_blank">«Novecs»</a></span>
                </p>
            </div>
            <a href="#jack-header" class="btn-scroll-to-top"></a>

        </div>
    </footer>
    <!-- end footer -->
{% endblock %}

{% block javascript %}


<script>
    function textItemHeader(object) {
        faq_tab_item = object;
        question_content = document.getElementsByClassName('question')[0];
        question_content.innerHTML = faq_tab_item.getAttribute('text-header');
    }
</script>
{% endblock %}