{% extends 'frontend/base.html' %}

{% load staticfiles %}
{% block style %}

{% endblock %}

{% block content %}
<div class="page-services">
    <div class="block-one">
        <div class="text-center"><br>
            <h2 class="page-title">
                Наши услуги
            </h2>
            <nav class="services-navigation">
                <ul>
                    {% for service in services %}
                        <li><a href="/service/{{ service.id }}">{{ service.name }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
            <!--div class="navs">
                <button class="btn-prev"><img src="{% static 'frontend/svg/navs-btns-services.svg' %}" alt="предыдущая"></button>
                <button class="btn-next"><img src="{% static 'frontend/svg/navs-btns-services.svg' %}" alt="следующая"></button>
            </div-->
        </div>

            <div class="item">
                <h2 class="service-title">
                    {{ service.name }}
                </h2>
                <p class="service-text" style="text-align: left;">
                    {{ service.article.article | safe | capfirst }}
                </p>

                {% if service.on_images == 1 %}
                    <h3 class="projects-title">
                        {{ service.title_image_block }}
                    </h3>
                    <div class="cells">
                        {% for service_image in service.block_images.all %}
                            <div class="cell">
                                <a href="{{ service_image.image.url }}" data-fancybox="group4321" data-caption="">
                                    <img src="{{ service_image.image.url }}" class="declaration" alt="">
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
    </div>

    {% if service.on_advantages == 1 %}
        <div class="block-two">
            <h2 class="block-title">
                {{ service.title_advantages }}
            </h2>
            <div class="cells">
                {% for adv in service.advantages.all %}
                    <div class="cell">
                        <div class="image"><img src="{{ adv.icon.url }}" alt="{{ adv.caption }}"></div>
                        <div class="title">{{ adv.caption }}</div>
                        <div class="description">{{ adv.description }}</div>
                    </div>
                {% endfor %}
            </div>

            <!--div class="desk">
                <div class="left-column">
                    <p>
                        Система отопления современного загородного дома — важнейшая из инженерных систем. Простая «дачная»
                        система отопления — печь или камин при поддержке электрических конвекторов — пригодна лишь для
                        относительно небольших деревянных домов с отделкой вагонкой, обшивочной доской, фанерой. Система
                        водоснабжения загородного дома может быть автономной, питающейся от колодца или скважины, или
                        централизованной, подключенной к общественному водопроводу. Система электроснабжения в загородном
                        доме намного сложнее, чем в городской квартире.

                    </p>
                </div>
                <div class="right-column">
                    <p>
                        В частном владении, по сравнению с квартирой, гораздо больше потребителей электроэнергии, которые
                        отличаются своими характеристиками, потребляемой мощностью и расположением, и схема электроснабжения
                        обладает сложной, разветвленной структурой.
                        Мы выполняеем все виды работ в процессе строительства загородного дома под ключ, включая
                        проектирование и выполнение инженерных работ по монтажу систем отопления, водоснабжения и
                        канализации загородного дома.
                    </p>
                </div>
            </div-->

        </div>
    {% endif %}

    {% if service.on_images_tabs == 1 %}
        <div class="block-three">
            <h2 class="block-title">
                Виды фундаментов, которые мы устанавливаем:
            </h2>

            <div class="desk">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#type1" data-toggle="tab">Свайно-винтовой</a>
                    </li>
                    <li>
                        <a href="#type2" data-toggle="tab">Ленточный</a>
                    </li>
                    <li>
                        <a href="#type3" data-toggle="tab">Монолитная плита</a>
                    </li>
                </ul>

                <div class="tabs">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="type1">
                            <div class="content">
                                <div class="left-column">
                                    <div class="image">
                                        <img src="{% static 'frontend/img/content/types-foundations/1.jpg' %}" alt="">
                                    </div>
                                </div>
                                <div class="right-column">
                                    <p>
                                        Фундамент состоит из винтовых свай диаметром до 108 мм с лопастью специальной формы,
                                        обработанной антикорозийным составом.
                                    </p>
                                    <ul><strong>Преимущества:</strong>
                                        <li>Низкая стоимость;</li>
                                        <li>Быстрота возведения;</li>
                                        <li>Возможность монтажа на болотистых и торфяных грунтах;</li>
                                        <li>Полное отсутствие землянных работ;</li>
                                        <li>Монтаж в любую погоду и время года;</li>
                                        <li>Монтаж без использования тяжелой техники;</li>
                                        <li>Устойчивость к пучению грунта.</li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="type2">
                        </div>
                        <div class="tab-pane" id="type3">
                        </div>
                    </div>
                </div>
            </div>


        </div>
    {% endif %}

    <!--div class="block-fourth">
        <p>
            Системы вентиляции загородного дома служат для того, чтобы в доме был всегда свежий воздух, своевременно
            удалялись посторонние запахи и вредные выделения различных отделочных материалов. Летом, в жару, воздух,
            находящийся в помещениях и поступающий с улицы, необходимо охлаждать, – этой цели служат системы
            кондиционирования.
        </p>
    </div-->


    <!-- footer -->
    <footer class="footer navbar-fixed-bottom">
        <div class="main-content">
            <div class="copiright">
                <p>
                    © ДомНедорого | {{ year }} год
                </p>
            </div>
            <div class="company-development">
                <p>
                    Сайт разработан компанией <span><a href="http://novecs.ru/" target="_blank">«Novecs»</a></span>
                </p>
            </div>
            <a href="#jack-header" class="btn-scroll-to-top"></a>

        </div>
    </footer>
    <!-- end footer -->

</div>
{% endblock %}

{% block javascript %}

<!--<script src="{% static 'frontend/js/services-script.js' %}"></script>-->
{% endblock %}