{% extends 'frontend/base.html' %}

{% load staticfiles %}

{% block style %}

{% endblock %}

{% block content %}
<div class="page-etaps">
    <div class="text-center">
        <h2 class="page-title">
            Строительство дома {{ images_work.name }}
        </h2>
        <p class="term">{{ images_work.city }}, {{ images_work.mouth }} {{ images_work.year }}</p>
        <p class="project-name"><a href="#">Проект «{{ images_work.name }}»</a></pclassproject-name>
        <p class="status"><img src="" alt="">&nbsp;Строительство завершено</p>
    </div>
    <div class="cells">
        {% for img in images_work.images.all %}
        <a href="{{ img.image.url }}" data-fancybox="group" data-caption="{{ img.name }}">
            <div class="cell">
                <div class="image">
                    <img src="{{ img.image.url }}" class="declaration" alt="">
                </div>
                <div class="title">{{ img.name }}</div>
            </div>
        </a>
        {% endfor %}
    </div>

    <div class="text-center description-project">
        {{ images_work.description }}
    </div>
    <!-- footer -->
    <footer class="footer navbar-fixed-bottom">
        <div class="main-content">
            <div class="copiright">
                <p>
                    © ДомНедорого | {{ year }} год
                </p>
            </div>
            <div class="company-development">
                <p>
                    Сайт разработан компанией <span><a href="http://novecs.ru/" target="_blank">«Novecs»</a></span>
                </p>
            </div>
            <a href="#jack-header" class="btn-scroll-to-top"></a>

        </div>
    </footer>
    <!-- end footer -->
</div>
{% endblock %}

{% block javascript %}

{% endblock %}