﻿{% extends 'frontend/base.html' %}

{% load staticfiles %}

{% block style %}
<link rel="stylesheet" href="{% static 'frontend/css/style-pages-error.min.css' %}">
<link rel="stylesheet" href="{% static 'frontend/css/responsive-pages-error.min.css' %}">
{% endblock %}



{% block content %}
<script language="JavaScript">
  window.onload = function(){
    document.getElementById('main-header').style.display = 'none';
    document.getElementById('main-footer').style.display = 'none';
    document.body.className = 'pages system-page';
  }
</script>
<div class="container-404" onmousemove="rectObject(event);">
    <div class="header">
        <div class="logo navnar-fixsed-top">
            <a href="#">
                <img src="{% static 'frontend/img/system/404/logo.png' %}" alt="">
            </a>
        </div>
    <span>
         - это улетные дома!
    </span>
    </div>

    <div class="error-text">
        <p>Страница<br>потерялась</p>
        <div class="comet" id="comet">
            <img src="{% static 'frontend/img/system/404/comet.png' %}" alt="комета">
        </div>
    </div>
    <!-- 'frontend/svg/ -->

    <p class="link-to-home">
        <a href="#">
            Перейти на<br>главную страницу
        </a>
    </p>

    <!-- Объекты параллакса -->

    <div class="parallax">
        <div class="home-1" id="home-1">
            <img src="{% static 'frontend/img/system/404/1.png' %}" alt="дом">
        </div>

        <div class="home-2" id="home-2">
            <img src="{% static 'frontend/img/system/404/2.png' %}" alt="дом">
        </div>

        <div class="home-3" id="home-3">
            <img src="{% static 'frontend/img/system/404/3.png' %}" alt="дом">
        </div>

        <div class="home-4" id="home-4">
            <img src="{% static 'frontend/img/system/404/4.png' %}" alt="дом">
        </div>

        <div class="error-code">
            <p>
                404
            </p>
        </div>

        <div class="planet" id="planet">
            <img src="{% static 'frontend/img/system/404/planet.png' %}" alt="планета">
        </div>

        <div class="light" id="light">
            <img src="{% static 'frontend/img/system/404/light.png' %}" alt="свечение">
        </div>

        <div class="stars" id="stars">
            <img src="{% static 'frontend/img/system/404/stars.png' %}" alt="звезды">
        </div>
    </div>
</div>

<script>
  function dataObj(object, x, y, coff_x, coff_y, coff_del_x, coff_del_y){
  	p_x = (window.innerWidth - x) / (15 * coff_del_x);
		p_y = (window.innerHeight - y) / (15 * coff_del_y);
		p_x *= 2;
		p_y *= 2;
		document.getElementById(object).style.left = (p_x + coff_x) + 'px';
		document.getElementById(object).style.top = (p_y + coff_y) + 'px';
	}

	function rectObject(event) {
		var x = event.clientX;
		var y = event.clientY;

		dataObj('home-1', x, y, 1200, 720, 3, 3);
		dataObj('home-2', x, y, 850, 350, 6, 6);
		dataObj('home-3', x, y, 1350, 120, 19, 50);
		dataObj('home-4', x, y, 320, -230, 49, 60);
    dataObj('planet', x, y, 0, 650, 29, 20);
    dataObj('light', x, y, 0, 170, 29, 20);
    dataObj('comet', x, y, 0, 69, 10, 10);
		dataObj('stars', x, y, 0, 0, 29, 20);
	}
</script>


{% endblock %}